src/pipeline/ADF_Oracle_Upsert.json
{
	"name": "ADF_Oracle_Upsert",
	"properties": {
		"activities": [
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
						"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION",
						"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "SELECT TOP (2) [PARTY_ROLE_ID],\n      [ORGANISATION_NAME]\n  FROM [STAGE_CDI].[DPDB_ADVISER_FIRM_STG]"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Script1').output.resultSets[0].rows",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "PARTY_ROLE_ID",
								"value": {
									"value": "@item().PARTY_ROLE_ID",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Script2",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_STAGE_CRM",
								"type": "LinkedServiceReference",
								"parameters": {
									"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
									"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION",
									"CRM_DB": "@pipeline().globalParameters.CRM_DB",
									"CRM_DB_HOST": "@pipeline().globalParameters.CRM_DB_HOST",
									"CRM_DB_PORT": "@pipeline().globalParameters.CRM_DB_PORT",
									"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT"
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"parameters": [
											{
												"name": "PARTY_ROLE_ID",
												"type": "String",
												"value": {
													"value": "@item().PARTY_ROLE_ID",
													"type": "Expression"
												},
												"direction": "Input"
											}
										],
										"type": "NonQuery",
										"text": {
											"value": "insert\n  into STAGE_CRM.RK_ADF_TEST\n(\n  PARTY_ROLE_ID\n)\nvalues\n('@{variables('PARTY_ROLE_ID')}'\n)",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"variables": {
			"PARTY_ROLE_ID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Sandbox/Rizaul"
		},
		"annotations": []
	}
}