src/pipeline/API Call.json
{
	"name": "API Call",
	"properties": {
		"activities": [
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
						"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION",
						"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "SELECT TOP (2) [PARTY_ROLE_ID],\n      [ORGANISATION_NAME]\n  FROM [STAGE_CDI].[DPDB_ADVISER_FIRM_STG]"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "DATA_TABLE",
					"value": {
						"value": "@activity('Script1').output.resultSets[0].rows",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Script2",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_STAGE_CRM",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
						"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION",
						"CRM_DB": "@pipeline().globalParameters.CRM_DB",
						"CRM_DB_HOST": "@pipeline().globalParameters.CRM_DB_HOST",
						"CRM_DB_PORT": "@pipeline().globalParameters.CRM_DB_PORT",
						"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": {
								"value": "insert\n  into STAGE_CRM.RK_ADF_TEST\n(\n  PARTY_ROLE_ID,\n  ORGANISATION_NAME\n)\nvalues\n(\n  @variables('DATA_TABLE').PARTY_ROLE_ID,\n  variables('DATA_TABLE').ORGANISATION_NAME\n)",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"PARTY_ROLE_ID": {
				"type": "Array"
			},
			"DATA_TABLE": {
				"type": "Array"
			},
			"resultSets": {
				"type": "Array"
			},
			"ORGANISATION_NAME": {
				"type": "Array"
			},
			"Mr Rizaul Kamal": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Sandbox/Rizaul"
		},
		"annotations": []
	}
}