src/pipeline/m_MSD_STG_CRM_PLAT_DYN_DIVORCECLAIM_STG.json
{
	"name": "m_MSD_STG_CRM_PLAT_DYN_DIVORCECLAIM_STG",
	"properties": {
		"description": "FOR TESTING PURPOSE.",
		"activities": [
			{
				"name": "cd-CRM_PLAT_DYN_DIVORCECLAIM_STG",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "sp_truncate_CRM_PLAT_DYN_DIVORCECLAIM_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select \nActivityId\n,prioritycode\n,scheduledend\n,statecode\n,ownerid\n,owneridname\n,subject\n,regardingobjectid\n,asc_casetype\n,asc_ifafirm\n,asc_registeredifa\n,asc_broker\n,asc_clientmaster\n,actualstart\n,modifiedon\n,asc_duration\n,createdby\n,createdbyname\n,asc_CompletedBy_DRName\n,asc_CompletedBy_SettlementName\n,asc_CheckedByName\n,asc_CompletedByName\n,asc_CheckedBy\n,asc_CompletedBy\n,asc_CompletedBy_DR\n,asc_CompletedBy_Settlement\n,asc_AdviserRequestedtoplaceSales\n,asc_AmountDue\n,asc_DateCompleted\n,asc_DateNotified\n,asc_DateProcessed\n,asc_DateProcessed_DR\n,asc_DateProcessed_Settlement\n,asc_DateReceived\n,asc_DateUsedforPSO\n,asc_DecreeAbsoluteReceived\n,asc_ExternalPaymentRaised\n,asc_FeesDeducted\n,asc_InternalBalanceTransferred\n,asc_PensionEnquiryFormReceived\n,asc_PensionSharingAnnex\n,asc_PensionSharingOrderReceived\n,asc_PercentageofAccount\n,asc_Receivingscheme\n,asc_RelevantDocumentsReceived\n,asc_RequirementLetterEmailIssued\n,asc_WhoNotifiedUs\nfrom Asc_Divorceclaim\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ActivityId",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ActivityId",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "prioritycode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "prioritycode",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "scheduledend",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "scheduledend",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "statecode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "statecode",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ownerid",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ownerid",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "owneridname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "owneridname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "subject",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "subject",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "regardingobjectid",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "regardingobjectid",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_casetype",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "asc_casetype",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_ifafirm",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_ifafirm",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_registeredifa",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_registeredifa",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_broker",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_broker",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_clientmaster",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_clientmaster",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "actualstart",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "actualstart",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "modifiedon",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "modifiedon",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_duration",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_duration",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "createdby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "createdby",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "createdbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "createdbyname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_CompletedBy_DRName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_CompletedBy_DRName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_CompletedBy_SettlementName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_CompletedBy_SettlementName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_CheckedByName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_CheckedByName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_CompletedByName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_CompletedByName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_CheckedBy",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_CheckedBy",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_CompletedBy",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_CompletedBy",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_CompletedBy_DR",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_CompletedBy_DR",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_CompletedBy_Settlement",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_CompletedBy_Settlement",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_AdviserRequestedtoplaceSales",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_AdviserRequestedtoplaceSales",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_AmountDue",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "asc_AmountDue",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "asc_DateCompleted",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "asc_DateCompleted",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_DateNotified",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "asc_DateNotified",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_DateProcessed",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "asc_DateProcessed",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_DateProcessed_DR",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "asc_DateProcessed_DR",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_DateProcessed_Settlement",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "asc_DateProcessed_Settlement",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_DateReceived",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "asc_DateReceived",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_DateUsedforPSO",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "asc_DateUsedforPSO",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_DecreeAbsoluteReceived",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_DecreeAbsoluteReceived",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_ExternalPaymentRaised",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_ExternalPaymentRaised",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_FeesDeducted",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_FeesDeducted",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_InternalBalanceTransferred",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_InternalBalanceTransferred",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_PensionEnquiryFormReceived",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_PensionEnquiryFormReceived",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_PensionSharingAnnex",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_PensionSharingAnnex",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_PensionSharingOrderReceived",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_PensionSharingOrderReceived",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_PercentageofAccount",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "asc_PercentageofAccount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "asc_Receivingscheme",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_Receivingscheme",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_RelevantDocumentsReceived",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_RelevantDocumentsReceived",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_RequirementLetterEmailIssued",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_RequirementLetterEmailIssued",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_WhoNotifiedUs",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_WhoNotifiedUs",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": true
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_MS_DYNAMICS",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "dbo",
							"TABLE_NAME": "Asc_divorceclaim",
							"MS_DYNAMICS_HOST": "@pipeline().globalParameters.MS_DYNAMICS_HOST",
							"MS_DYNAMICS_PORT": "@pipeline().globalParameters.MS_DYNAMICS_PORT",
							"MS_DYNAMICS_DATABASE": "@pipeline().globalParameters.MS_DYNAMICS_DATABASE",
							"MS_DYNAMICS_USERNAME": "@pipeline().globalParameters.MS_DYNAMICS_USERNAME"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_ASQLDB_WOKING_SHIR",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "STAGE_CDI",
							"TABLE_NAME": "CRM_PLAT_DYN_DIVORCECLAIM_STG",
							"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
							"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION"
						}
					}
				]
			},
			{
				"name": "sp_truncate_CRM_PLAT_DYN_DIVORCECLAIM_STG",
				"description": "Truncating table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_CDI].[PRC_TRUNCATE_NAMED_TABLE]",
					"storedProcedureParameters": {
						"p_table_name": {
							"value": {
								"value": "CRM_PLAT_DYN_DIVORCECLAIM_STG",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
						"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION",
						"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT"
					}
				}
			},
			{
				"name": "sp_update",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cd-CRM_PLAT_DYN_DIVORCECLAIM_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_CDI].[PRC_BATCH_AUDIT]",
					"storedProcedureParameters": {
						"p_billable_duration": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_DIVORCECLAIM_STG').output.billingReference.billableDuration[0].duration",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"p_billable_unit": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_DIVORCECLAIM_STG').output.billingReference.billableDuration[0].unit",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_duration": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_DIVORCECLAIM_STG').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_process_start_dt": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_DIVORCECLAIM_STG').output.executionDetails[0].start",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_records_read": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_DIVORCECLAIM_STG').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_records_written": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_DIVORCECLAIM_STG').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_table_name": {
							"value": "CRM_PLAT_DYN_DIVORCECLAIM_STG",
							"type": "String"
						},
						"p_trigger_name": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
						"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION",
						"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT"
					}
				}
			}
		],
		"annotations": []
	}
}