src/pipeline/p_CDI-SFDC-PRU_HERITAGEARNASSOCIATION__C.json
{
	"name": "p_CDI-SFDC-PRU_HERITAGEARNASSOCIATION__C",
	"properties": {
		"description": "Name : Nextpathway\nDate : 03/06/2023\nDescription : Pulls data from Azure SQL and Upsert data in SFDC - PRU_HERITAGEARNASSOCIATION__C",
		"activities": [
			{
				"name": "cd-PRU_HERITAGEARNASSOCIATION__C",
				"description": "Pulls data from Azure SQL and loads to Salesforce",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "with LEGACY_AGENCY\nas\n(select AO.PARTY_ROLE_ID as OFFICE_PARTY_ROLE_ID,\n        LA.ACCOUNT_NUMBER,\n        LA.ACCOUNT_STATUS\n   from STAGE_CDI.DPDB_ADVISER_LEGACY_AGENCY_STG LA\n  inner join STAGE_CDI.DPDB_ADVISER_OFFICE_STG AO \n     on (LA.OFFICE_PARTY_ROLE_ID = AO.PARTY_ROLE_ID)\n  where LA.UPDATE_DATE_TIME > (select PARAMETER_VALUE_DT\n                                 from STAGE_CDI.BATCH_PARAMETER\n                                where PROCESS_NAME = 'p_CDI-SFDC-PRU_HERITAGEARNASSOCIATION__C' \n                                  and PARAMETER_NAME = 'prm_EXTRACTDT'\n                              ) \n    and LA.ACCOUNT_STATUS in ('A','I')\n),\nREF_TRANSLATION\nas\n(select LKP_CODE,\n        RTN_DESC\n   from STAGE_CDI.REF_DPDB_TRANSLATION\n),\nACCOUNT\nas\n(select SFDC_ADVISER_ACCOUNT_ID,\n        PRU_PARTYROLEID__C\n   from STAGE_CDI.SFDC_ADVISER_ACCOUNT_STG\n  where RECORDTYPE = 'Business Account Office'\n),\nRI_CONTACT\nas\n(select SFDC_ADVISER_CONTACT_ID,\n        PRU_AGENCYNUMBER__C,\n        PRU_STATUS__C,\n        PRU_AGENCYNUMBERSTATUS__C\n   from STAGE_CDI.SFDC_ADVISER_RI_CONTACT_STG\n)\nselect LA.ACCOUNT_NUMBER as PRU_HeritageAgencyNumber__c,\n       A.SFDC_ADVISER_ACCOUNT_ID as PRU_Account__c,\n       case \n          when RT.RTN_DESC is null then\n            LA.ACCOUNT_STATUS\n       else\n         RT.RTN_DESC\n       end as PRU_STATUS__C,\n       case \n         when RC.PRU_AGENCYNUMBER__C is not null then\n           'Registered Individual'\n       else \n         null\n       end as PRU_TYPE__C    \n  from LEGACY_AGENCY LA\n  left outer join ACCOUNT A\n    on (LA.OFFICE_PARTY_ROLE_ID = A.PRU_PARTYROLEID__C)\n  left outer join REF_TRANSLATION RT\n    on (LA.ACCOUNT_STATUS = RT.LKP_CODE)\n  left outer join RI_CONTACT RC\n    on (LA.ACCOUNT_NUMBER = RC.PRU_AGENCYNUMBER__C)",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SalesforceSink",
						"writeBatchSize": 5000,
						"writeBehavior": "upsert",
						"externalIdFieldName": {
							"value": "PRU_HeritageAgencyNumber__c",
							"type": "Expression"
						},
						"ignoreNullValues": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "ls_ADLS2",
								"type": "LinkedServiceReference",
								"parameters": {
									"ENVIRONMENT": {
										"value": "@pipeline().globalParameters.ENVIRONMENT",
										"type": "Expression"
									},
									"SHORT_LOCATION": {
										"value": "@pipeline().globalParameters.SHORT_LOCATION",
										"type": "Expression"
									},
									"LOGICAL_ENVIRONMENT": {
										"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
										"type": "Expression"
									}
								}
							},
							"path": "crm/ErrorLogs"
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "PRU_Account__c",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PRU_Account__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PRU_HeritageAgencyNumber__c",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PRU_HeritageAgencyNumber__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PRU_STATUS__C",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PRU_Status__c",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PRU_TYPE__C",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PRU_Type__c",
									"type": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_ASQLDB_WOKING_SHIR",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "STAGE_CDI",
							"TABLE_NAME": "DPDB_ADVISER_LEGACY_AGENCY_STG",
							"ENVIRONMENT": {
								"value": "@pipeline().globalParameters.ENVIRONMENT",
								"type": "Expression"
							},
							"LOGICAL_ENVIRONMENT": {
								"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
								"type": "Expression"
							},
							"SHORT_LOCATION": {
								"value": "@pipeline().globalParameters.SHORT_LOCATION",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_SFDC_DPDB",
						"type": "DatasetReference",
						"parameters": {
							"ENVIRONMENT": {
								"value": "@pipeline().globalParameters.ENVIRONMENT",
								"type": "Expression"
							},
							"SHORT_LOCATION": {
								"value": "@pipeline().globalParameters.SHORT_LOCATION",
								"type": "Expression"
							},
							"SFDC_DPDB_URL": {
								"value": "@pipeline().globalParameters.SFDC_DPDB_URL",
								"type": "Expression"
							},
							"SFDC_DPDB_USERNAME": {
								"value": "@pipeline().globalParameters.SFDC_DPDB_USERNAME",
								"type": "Expression"
							},
							"OBJECT_NAME": "PRU_HeritageARNAssociation__c",
							"SFDC_DPDB_API_VERSION": {
								"value": "@pipeline().globalParameters.SFDC_DPDB_API_VERSION",
								"type": "Expression"
							},
							"SFDC_DPDB_ORG": {
								"value": "@pipeline().globalParameters.SFDC_DPDB_ORG",
								"type": "Expression"
							},
							"LOGICAL_ENVIRONMENT": {
								"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "sp-UPDATE-BATCH_PARAMETER",
				"description": "Update BATCH_PARAMETER",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cd-PRU_HERITAGEARNASSOCIATION__C",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_CDI].[PRC_UPDATE_PARAMETER_VIA_TABLE]",
					"storedProcedureParameters": {
						"p_column_name": {
							"value": "UPDATE_DATE_TIME",
							"type": "String"
						},
						"p_parameter_name": {
							"value": "prm_EXTRACTDT",
							"type": "String"
						},
						"p_process_name": {
							"value": "p_CDI-SFDC-PRU_HERITAGEARNASSOCIATION__C",
							"type": "String"
						},
						"p_table_name": {
							"value": "STAGE_CDI.DPDB_ADVISER_LEGACY_AGENCY_STG",
							"type": "String"
						},
						"p_updated_by": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"SHORT_LOCATION": {
							"value": "@pipeline().globalParameters.SHORT_LOCATION",
							"type": "Expression"
						},
						"LOGICAL_ENVIRONMENT": {
							"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"type": "Expression"
						},
						"ENVIRONMENT": {
							"value": "@pipeline().globalParameters.ENVIRONMENT",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "sp-UPDATE_BATCH_AUDIT-PRU_HERITAGEARNASSOCIATION__C",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cd-PRU_HERITAGEARNASSOCIATION__C",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_CDI].[PRC_BATCH_AUDIT]",
					"storedProcedureParameters": {
						"p_billable_duration": {
							"value": {
								"value": "@activity('cd-PRU_HERITAGEARNASSOCIATION__C').output.billingReference.billableDuration[0].duration\n",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"p_billable_unit": {
							"value": {
								"value": "@activity('cd-PRU_HERITAGEARNASSOCIATION__C').output.billingReference.billableDuration[0].unit",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_duration": {
							"value": {
								"value": "@activity('cd-PRU_HERITAGEARNASSOCIATION__C').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_process_start_dt": {
							"value": {
								"value": "@activity('cd-PRU_HERITAGEARNASSOCIATION__C').output.executionDetails[0].start",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_records_read": {
							"value": {
								"value": "@activity('cd-PRU_HERITAGEARNASSOCIATION__C').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_records_written": {
							"value": {
								"value": "@activity('cd-PRU_HERITAGEARNASSOCIATION__C').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_table_name": {
							"value": "PRU_HeritageARNAssociation__c",
							"type": "String"
						},
						"p_trigger_name": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"SHORT_LOCATION": {
							"value": "@pipeline().globalParameters.SHORT_LOCATION",
							"type": "Expression"
						},
						"LOGICAL_ENVIRONMENT": {
							"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"type": "Expression"
						},
						"ENVIRONMENT": {
							"value": "@pipeline().globalParameters.ENVIRONMENT",
							"type": "Expression"
						}
					}
				}
			}
		],
		"folder": {
			"name": "Digital Account/Adviser"
		},
		"annotations": [],
		"lastPublishTime": "2023-07-12T10:45:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}