src/pipeline/p_MSD-CDI-CRM_PLAT_DYN_DEATHCLAIM_STG.json
{
	"name": "p_MSD-CDI-CRM_PLAT_DYN_DEATHCLAIM_STG",
	"properties": {
		"description": "Author: Jilly Webster\nDate: 21/06/2023\nDescription: ASCD-20271 - this pipeline loads data from Ms Dynamics (SQL Server) Asc_deathclaim table to STAGE_CDI (Oracle) CRM_PLAT_DYN_DEATHCLAIM_STG table.",
		"activities": [
			{
				"name": "cd-CRM_PLAT_DYN_DEATHCLAIM_STG",
				"description": "pulls data from MS Dynamic table Asc_Deathclaim and copies to the STAGE_CDI table CRM_PLAT_DYN_DEATHCLAIM_STG using SQL query",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "sp-TRUNCATE-CRM_PLAT_DYN_DEATHCLAIM_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select ACTIVITYID,\n       OWNERID,\n       OWNERIDNAME,\n       ASC_CLAIMTYPE,\n       SCHEDULEDEND,\n       STATUSCODE,\n       ASC_SETUNCLEAN,\n       ASC_UNCLEANREASON,\n       ASC_UNCLEANDESCRIPTION,\n       ASC_SETTLEMENTINSTRUCTIONRECEIVEDDATE,\n       ASC_SETTLEMENTINSTRUCTIONPROCESSEDDATE,\n       ASC_SETTLEMENTREQUEST,\n       ASC_ASSETSSOLDDATE,\n       ASC_DUETOSETTLE,\n       ASC_ASSETSSOLD,\n       ASC_TRANSFERTYPE,\n       ASC_GRANTOFPROBATERECD,\n       ASC_GRANTOFPROBATERECEIVEDDATE,\n       ASC_WILLRETURNEDDATE,\n       ASC_RECORDEDDELIVERYREFERENCE,\n       ASC_SYSTEMUPDATEDDATE,\n       SUBJECT,\n       ASC_CLAIMSTATUS,\n       REGARDINGOBJECTID,\n       ASC_CASETYPE,\n       ASC_CLEANAPPLICATION,\n       ASC_EXECUTORSNAMES,\n       ASC_IFAFIRM,\n       ASC_REGISTEREDIFA,\n       ASC_BROKER,\n       ASC_CLIENTMASTER,\n       ACTUALSTART,\n       MODIFIEDON,\n       ASC_DURATION,\n       CREATEDBY,\n       ACTUALDURATIONMINUTES,\n       ACTUALEND,\n       CREATEDON,\n       ASC_DATECLOSED,\n       ASC_DEATHCERTRECEIVED,\n       ASC_DEATHCERTIFICATERECEIVEDDATE,\n       ASC_ORIGINALDEATHCERTRETURNEDDROPDOWN,\n       ASC_ORIGINALDEATHCERTRETURNEDDATE,\n       ASC_DEATHCERTPROCESSEDDATE,\n       ASC_DEATHCERTRECORDEDDELIVERYREF,\n       ASC_SIPPDEATHBENEFITCLAIMFORMRECEIVED,\n       ASC_SIPPDBCLAIMFORMRCVDDATE,\n       ASC_WILLRECEIVED,\n       ASC_WILLRECEIVEDDATE,\n       ASC_WILLPROCESSEDDATE,\n       ASC_REFERREDTOTECHNICAL,\n       ASC_REFERREDTOPENSIONOVERVIEWCMTEE,\n       ASC_BENEFICIARYAPPOINTEDDROPDOWN,\n       ASC_BENEFICIARYOPTIONSFORMISSUED,\n       ASC_BENEFICIARYOPTIONSFORMISSUEDDATE,\n       ASC_MULTIPLEBENEFICIARIES,\n       ASC_BENOPTIONSANDIDPROCESSEDDATE,\n       ASC_BENEFICIARYOPTIONSANDIDRECEIVEDDATE,\n       ASC_BENEFICIARYREQUEST,\n       ASC_CASHASSETSSOLD,\n       ASC_ASSETSTRANSFERREDDATE,\n       ASC_CASHTRANSFERREDDATE,\n       ASC_USERNOTES,\n       ASC_APSALLOWANCE,\n       ASC_INTERNALTRANSFER,\n       ASC_APS,\n       ASC_SPOUSEACCOUNTNUMBER,\n       ASC_RECEIVINGACCOUNTNUMBER,\n       ASC_STAGECOMPLETE,\n       ASC_DATESTAGECOMPLETE,\n       ASC_CHARGESTAKEN,\n       ASC_REFERREDTOFEESANDCHARGES,\n       ASC_DATECHARGESTAKEN,\n       ASC_TOGGLERECORDSTATUS,\n       ASC_PAYMENTTYPE,\n       ASC_PAYMENTOUT,\n       ASC_PAYMENTRECIPIENT,\n       ASC_APSTYPE,\n       ASC_APSVALUE,\n       ASC_TRADESPLACEDDATE,\n       ASC_GOPRETURNEDDATE,\n       ASC_BENEFICIARYAPPOINTEDBYCLAIMSTEAM,\n       ASC_CHECKEDBY,\n       ASC_IHTREQUIRED,\n       ASC_IHTDOCUMENTSRECEIVED,\n       ASC_DEATHCLAIMTYPE,\n       ASC_PLUGINERRORFIELD,\n       ASC_CANCELLEDDATE,\n       STATECODE\n  from ASC_DEATHCLAIM",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ASC_SIPPDEATHBENEFITCLAIMFORMRECEIVED",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_SIPPDEATHBENEFITCLAIMFORMRECEIVED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_SIPPDBCLAIMFORMRCVDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_SIPPDBCLAIMFORMRCVDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_WILLPROCESSEDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_WILLPROCESSEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_REFERREDTOTECHNICAL",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_REFERREDTOTECHNICAL",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_REFERREDTOPENSIONOVERVIEWCMTEE",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_REFERREDTOPENSIONOVERVIEWCMTEE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_BENEFICIARYAPPOINTEDDROPDOWN",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_BENEFICIARYAPPOINTEDDROPDOWN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_BENEFICIARYOPTIONSFORMISSUED",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_BENEFICIARYOPTIONSFORMISSUED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_BENEFICIARYOPTIONSFORMISSUEDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_BENEFICIARYOPTIONSFORMISSUEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_MULTIPLEBENEFICIARIES",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_MULTIPLEBENEFICIARIES",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_BENOPTIONSANDIDPROCESSEDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_BENOPTIONSANDIDPROCESSEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_BENEFICIARYOPTIONSANDIDRECEIVEDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_BENEFICIARYOPTIONSANDIDRECEIVEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_BENEFICIARYREQUEST",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_BENEFICIARYREQUEST",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_USERNOTES",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_USERNOTES",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_APSALLOWANCE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_APSALLOWANCE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_INTERNALTRANSFER",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_INTERNALTRANSFER",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_APS",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_APS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_SPOUSEACCOUNTNUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_SPOUSEACCOUNTNUMBER",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_RECEIVINGACCOUNTNUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_RECEIVINGACCOUNTNUMBER",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_STAGECOMPLETE",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_STAGECOMPLETE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_DATESTAGECOMPLETE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATESTAGECOMPLETE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_CHARGESTAKEN",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_CHARGESTAKEN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_REFERREDTOFEESANDCHARGES",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_REFERREDTOFEESANDCHARGES",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_DATECHARGESTAKEN",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATECHARGESTAKEN",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_TOGGLERECORDSTATUS",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_TOGGLERECORDSTATUS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_PAYMENTTYPE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_PAYMENTTYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_PAYMENTOUT",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_PAYMENTOUT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_PAYMENTRECIPIENT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_PAYMENTRECIPIENT",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_APSTYPE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_APSTYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_APSVALUE",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "ASC_APSVALUE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "ASC_TRADESPLACEDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_TRADESPLACEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_GOPRETURNEDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_GOPRETURNEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_BENEFICIARYAPPOINTEDBYCLAIMSTEAM",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_BENEFICIARYAPPOINTEDBYCLAIMSTEAM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_CHECKEDBY",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_CHECKEDBY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_IHTREQUIRED",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_IHTREQUIRED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_IHTDOCUMENTSRECEIVED",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_IHTDOCUMENTSRECEIVED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_DEATHCLAIMTYPE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_DEATHCLAIMTYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_PLUGINERRORFIELD",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_PLUGINERRORFIELD",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_CANCELLEDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_CANCELLEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "STATECODE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "STATECODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ACTIVITYID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ACTIVITYID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OWNERID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "OWNERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OWNERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OWNERIDNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_CLAIMTYPE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_CLAIMTYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "SCHEDULEDEND",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "SCHEDULEDEND",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "STATUSCODE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "STATUSCODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_SETUNCLEAN",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_SETUNCLEAN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_UNCLEANREASON",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_UNCLEANREASON",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_UNCLEANDESCRIPTION",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_UNCLEANDESCRIPTION",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_SETTLEMENTINSTRUCTIONRECEIVEDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_SETTLEMENTINSTRUCTIONRECEIVEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_SETTLEMENTINSTRUCTIONPROCESSEDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_SETTLEMENTINSTRUCTIONPROCESSEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_SETTLEMENTREQUEST",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_SETTLEMENTREQUEST",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_ASSETSSOLDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_ASSETSSOLDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_DUETOSETTLE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DUETOSETTLE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_ASSETSSOLD",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_ASSETSSOLD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_TRANSFERTYPE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_TRANSFERTYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_CASHASSETSSOLD",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_CASHASSETSSOLD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_ASSETSTRANSFERREDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_ASSETSTRANSFERREDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_CASHTRANSFERREDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_CASHTRANSFERREDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_GRANTOFPROBATERECD",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_GRANTOFPROBATERECD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_GRANTOFPROBATERECEIVEDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_GRANTOFPROBATERECEIVEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_WILLRECEIVED",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_WILLRECEIVED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_WILLRECEIVEDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_WILLRECEIVEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_WILLRETURNEDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_WILLRETURNEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_RECORDEDDELIVERYREFERENCE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_RECORDEDDELIVERYREFERENCE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_SYSTEMUPDATEDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_SYSTEMUPDATEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "SUBJECT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SUBJECT",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_CLAIMSTATUS",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_CLAIMSTATUS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "REGARDINGOBJECTID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "REGARDINGOBJECTID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_CASETYPE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_CASETYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_CLEANAPPLICATION",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_CLEANAPPLICATION",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_EXECUTORSNAMES",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_EXECUTORSNAMES",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_IFAFIRM",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_IFAFIRM",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_REGISTEREDIFA",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_REGISTEREDIFA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_BROKER",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_BROKER",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_CLIENTMASTER",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_CLIENTMASTER",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ACTUALSTART",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ACTUALSTART",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "MODIFIEDON",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "MODIFIEDON",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_DURATION",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_DURATION",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CREATEDBY",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "CREATEDBY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ACTUALDURATIONMINUTES",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ACTUALDURATIONMINUTES",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ACTUALEND",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ACTUALEND",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "CREATEDON",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CREATEDON",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_DATECLOSED",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATECLOSED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_DEATHCERTRECEIVED",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_DEATHCERTRECEIVED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_DEATHCERTIFICATERECEIVEDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DEATHCERTIFICATERECEIVEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_ORIGINALDEATHCERTRETURNEDDROPDOWN",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_ORIGINALDEATHCERTRETURNEDDROPDOWN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_ORIGINALDEATHCERTRETURNEDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_ORIGINALDEATHCERTRETURNEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_DEATHCERTPROCESSEDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DEATHCERTPROCESSEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_DEATHCERTRECORDEDDELIVERYREF",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_DEATHCERTRECORDEDDELIVERYREF",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": true
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_MS_DYNAMICS",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "dbo",
							"TABLE_NAME": "Asc_Deathclaim",
							"MS_DYNAMICS_HOST": "@pipeline().globalParameters.MS_DYNAMICS_HOST",
							"MS_DYNAMICS_PORT": "@pipeline().globalParameters.MS_DYNAMICS_PORT",
							"MS_DYNAMICS_DATABASE": "@pipeline().globalParameters.MS_DYNAMICS_DATABASE",
							"MS_DYNAMICS_USERNAME": "@pipeline().globalParameters.MS_DYNAMICS_USERNAME",
							"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
							"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_ASQLDB_WOKING_SHIR",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "STAGE_CDI",
							"TABLE_NAME": "CRM_PLAT_DYN_DEATHCLAIM_STG",
							"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
							"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION"
						}
					}
				]
			},
			{
				"name": "sp-TRUNCATE-CRM_PLAT_DYN_DEATHCLAIM_STG",
				"description": "Truncate target table CRM_PLAT_DYN_DEATHCLAIM_STG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_CDI].[PRC_TRUNCATE_NAMED_TABLE]",
					"storedProcedureParameters": {
						"p_table_name": {
							"value": {
								"value": "CRM_PLAT_DYN_DEATHCLAIM_STG",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": {
							"value": "@pipeline().globalParameters.ENVIRONMENT",
							"type": "Expression"
						},
						"SHORT_LOCATION": {
							"value": "@pipeline().globalParameters.SHORT_LOCATION",
							"type": "Expression"
						},
						"LOGICAL_ENVIRONMENT": {
							"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "sp-UPDATE_BATCH_AUDIT-CRM_PLAT_DYN_DEATHCLAIM_STG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cd-CRM_PLAT_DYN_DEATHCLAIM_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_CDI].[PRC_BATCH_AUDIT]",
					"storedProcedureParameters": {
						"p_billable_duration": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_DEATHCLAIM_STG').output.billingReference.billableDuration[0].duration\n",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"p_billable_unit": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_DEATHCLAIM_STG').output.billingReference.billableDuration[0].unit",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_duration": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_DEATHCLAIM_STG').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_process_start_dt": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_DEATHCLAIM_STG').output.executionDetails[0].start",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_records_read": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_DEATHCLAIM_STG').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_records_written": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_DEATHCLAIM_STG').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_table_name": {
							"value": "CRM_PLAT_DYN_DEATHCLAIM_STG",
							"type": "String"
						},
						"p_trigger_name": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"SHORT_LOCATION": {
							"value": "@pipeline().globalParameters.SHORT_LOCATION",
							"type": "Expression"
						},
						"LOGICAL_ENVIRONMENT": {
							"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"type": "Expression"
						},
						"ENVIRONMENT": {
							"value": "@pipeline().globalParameters.ENVIRONMENT",
							"type": "Expression"
						}
					}
				}
			}
		],
		"folder": {
			"name": "MSDynamics Migration"
		},
		"annotations": []
	}
}