src/pipeline/p_MSD-CDI-CRM_PLAT_DYN_TRANSFEROUT_STG.json
{
	"name": "p_MSD-CDI-CRM_PLAT_DYN_TRANSFEROUT_STG",
	"properties": {
		"description": "Author: Sahana Ganguly\nDate - August 2023\nProject - CRM Migration, implemented under CHG######\nDescription - This pipeline will pull all the data from the required fields from ASC_TRANSFEROUT table from CRM and load it into CRM_PLAT_DYN_TRANSFEROUT_STG table in STAGE_CDI.",
		"activities": [
			{
				"name": "sp-TRUNCATE-CRM_PLAT_DYN_TRANSFEROUT_STG",
				"description": "Name - Sahana Ganguly\nDate - August 2023\nProject - CRM Mirgation, implemented under CHG#####\nDescription - This stored procedure will truncate the table CRM_PLAT_DYN_TRANSFEROUT_STG before loading any data into it.\n",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_CDI].[PRC_TRUNCATE_NAMED_TABLE]",
					"storedProcedureParameters": {
						"p_table_name": {
							"value": {
								"value": "CRM_PLAT_DYN_TRANSFEROUT_STG",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": {
							"value": "@pipeline().globalParameters.ENVIRONMENT",
							"type": "Expression"
						},
						"SHORT_LOCATION": {
							"value": "@pipeline().globalParameters.SHORT_LOCATION",
							"type": "Expression"
						},
						"LOGICAL_ENVIRONMENT": {
							"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "sp-UPDATE_BATCH_AUDIT-CRM_PLAT_DYN_TRANSFEROUT_STG",
				"description": "Name - Sahana Ganguly\nDate - August 2023\nProject - CRM Migration. implemented under CHG#####\nDescription - This stored procedure is updating the BATCH_AUDIT table in STAGE_CDI with the required information of pipeline run .\n",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cd-CRM_PLAT_DYN_TRANSFEROUT_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_CDI].[PRC_BATCH_AUDIT]",
					"storedProcedureParameters": {
						"p_billable_duration": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_TRANSFEROUT_STG').output.billingReference.billableDuration[0].duration\n",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"p_billable_unit": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_TRANSFEROUT_STG').output.billingReference.billableDuration[0].unit",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_duration": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_TRANSFEROUT_STG').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_process_start_dt": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_TRANSFEROUT_STG').output.executionDetails[0].start",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_records_read": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_TRANSFEROUT_STG').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_records_written": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_TRANSFEROUT_STG').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_table_name": {
							"value": {
								"value": "CRM_PLAT_DYN_TRANSFEROUT_STG",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_trigger_name": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": {
							"value": "@pipeline().globalParameters.ENVIRONMENT",
							"type": "Expression"
						},
						"SHORT_LOCATION": {
							"value": "@pipeline().globalParameters.SHORT_LOCATION",
							"type": "Expression"
						},
						"LOGICAL_ENVIRONMENT": {
							"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "cd-CRM_PLAT_DYN_TRANSFEROUT_STG",
				"description": "Name - Sahana Ganguly\nDate - August 2023\nProject - CRM Migration, implemented copy all the selected field's data of ASC_TRANSFEROUT table from CRM database to  CRM_PLAT_DYN_TRANSFEROUT_STG table of STAGE_CDI database. ",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "sp-TRUNCATE-CRM_PLAT_DYN_TRANSFEROUT_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select ACTIVITYID,\n       ASC_REFERENCE,\n       SUBJECT,\n       REGARDINGOBJECTID,\n       REGARDINGOBJECTIDNAME,\n       ASC_CASHTRANSFER,\n       OWNERID,\n       OWNERIDNAME,\n       ASC_TRANSFERTYPE,\n       ASC_CLIENTMASTER,\n       ASC_CLIENTMASTERNAME,\n       ASC_SUBPROCESS,\n       ASC_TITLE,\n       ASC_NUMBEROFTRANSFERS,\n       ASC_RAISEDBY,\n       ASC_PARENTTRANSFER,\n       ASC_BROKER,\n       PRIORITYCODE,\n       SCHEDULEDEND,\n       STATECODE,\n       STATUSCODE,\n       MODIFIEDON,\n       ASC_DATEACCEPTANCERECEIVED,\n       ASC_DATEPAYMENTSTAGECOMPLETE,\n       ASC_DURATION,\n       ASC_ISA30DAYSLA,\n       ASC_ENDTOEND,\n       ASC_DATECLOSED,\n       ASC_PLUGINERRORFIELD,\n       ASC_CANCELLEDDATE,\n       ASC_DATEINFORMATIONREQUESTRECEIVED,\n       ASC_DATEINFORMATIONREQUESTWORKSTARTED,\n       ASC_TOTALWRAPPERAMOUNT,\n       ASC_WRAPPER,\n       ASC_INFOREQUESTSENT,\n       ASC_DATEINFOREQUESTSENT,\n       ASC_COMPETITOR,\n       ASC_FUNDMANAGER,\n       ASC_INFORMATIONREQUESTSTAGECOMPLETE,\n       ASC_THIRDPARTYREFERENCE,\n       ASC_DATEINFORMATIONREQUESTSTAGECOMPLETE,\n       ASC_DATECASHTRANSFERRECEIVED,\n       ASC_DATECASHTRANSFERWORKSTARTED,\n       ASC_CHECKFORCORPORATEACTIONS,\n       ASC_CHECKUNEXECUTEDORDERS_CASHTRANSFER,\n       ASC_DIRECTDEBITREMOVED,\n       ASC_MODELREMOVED,\n       ASC_HOLDINGSSOLD,\n       ASC_DATEHOLDINGSSOLD,\n       ASC_CASHTRANSFERSTAGECOMPLETE,\n       ASC_DATECASHTRANSFERSTAGECOMPLETE,\n       ASC_CHECKEDDATECASHTRANSFER,\n       ASC_TOAPROCESSSTAGE,\n       ASC_CASHTRANSFERCHECKED,\n       ASC_CASHTRANSFECHECKEDBY,\n       ASC_CASHTRANSFECHECKEDBYNAME,\n       ASC_DATEACCEPTANCEWORKSTARTED,\n       ASC_CHECKFORCORPORATEACTIONS_ACCEPTANCE,\n       ASC_CHECKUNEXECUTEDORDERS_ACCEPTANCE,\n       ASC_DIRECTDEBITREMOVED_ACCEPTANCE,\n       ASC_MODELREMOVED_ACCEPTANCE,\n       ASC_STFSGENERATED,\n       ASC_DATESTFSGENERATED,\n       ASC_DATESTFSSENT,\n       ASC_ACCEPTANCECHECKEDBY,\n       ASC_ACCEPTANCECHECKEDBYNAME,\n       ASC_ACCEPTANCESTAGECOMPLETE,\n       ASC_DATEACCEPTANCESTAGECOMPLETE,\n       ASC_DATEPAYMENTWORKSTARTED,\n       ASC_ADVISORCHARGESTAKENOFF,\n       ASC_REFERREDTOFEESANDCHARGES,\n       ASC_DATEREFERREDTOFEESCHARGES,\n       ASC_RUNTRANSFERWIZARD,\n       ASC_AMOUNTPAID,\n       ASC_METHODOFPAYMENT,\n       ASC_CHECKEDPAYMENT,\n       ASC_CHECKEDDATEPAYMENT,\n       ASC_PAYMENTCHECKEDBY,\n       ASC_PAYMENTCHECKEDBYNAME,\n       ASC_TRANSFERCONFIRMATIONSENT,\n       ASC_TRANSFERCONFIRMATIONSENTDATE,\n       ASC_PAYMENTSTAGECOMPLETE\nfrom   DBO.ASC_TRANSFEROUT",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ACTIVITYID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ACTIVITYID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_REFERENCE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_REFERENCE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SUBJECT",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SUBJECT",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "REGARDINGOBJECTID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "REGARDINGOBJECTID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "REGARDINGOBJECTIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "REGARDINGOBJECTIDNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_CASHTRANSFER",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_CASHTRANSFER",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "OWNERID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "OWNERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OWNERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OWNERIDNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_TRANSFERTYPE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_TRANSFERTYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_CLIENTMASTER",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_CLIENTMASTER",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_CLIENTMASTERNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_CLIENTMASTERNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_SUBPROCESS",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_SUBPROCESS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_TITLE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_TITLE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_NUMBEROFTRANSFERS",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_NUMBEROFTRANSFERS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_RAISEDBY",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_RAISEDBY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_PARENTTRANSFER",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_PARENTTRANSFER",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_BROKER",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_BROKER",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PRIORITYCODE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PRIORITYCODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "SCHEDULEDEND",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "SCHEDULEDEND",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "STATECODE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "STATECODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "STATUSCODE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "STATUSCODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "MODIFIEDON",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "MODIFIEDON",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_DATEACCEPTANCERECEIVED",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATEACCEPTANCERECEIVED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_DATEPAYMENTSTAGECOMPLETE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATEPAYMENTSTAGECOMPLETE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_DURATION",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_DURATION",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_ISA30DAYSLA",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_ISA30DAYSLA",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_ENDTOEND",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_ENDTOEND",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_DATECLOSED",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATECLOSED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_PLUGINERRORFIELD",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_PLUGINERRORFIELD",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_CANCELLEDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_CANCELLEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_DATEINFORMATIONREQUESTRECEIVED",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATEINFORMATIONREQUESTRECEIVED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_DATEINFORMATIONREQUESTWORKSTARTED",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATEINFORMATIONREQUESTWORKSTARTED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_TOTALWRAPPERAMOUNT",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "ASC_TOTALWRAPPERAMOUNT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "ASC_WRAPPER",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_WRAPPER",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_INFOREQUESTSENT",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_INFOREQUESTSENT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_DATEINFOREQUESTSENT",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATEINFOREQUESTSENT",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_COMPETITOR",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_COMPETITOR",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_FUNDMANAGER",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_FUNDMANAGER",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_INFORMATIONREQUESTSTAGECOMPLETE",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_INFORMATIONREQUESTSTAGECOMPLETE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_THIRDPARTYREFERENCE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_THIRDPARTYREFERENCE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_DATEINFORMATIONREQUESTSTAGECOMPLETE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATEINFORMATIONREQUESTSTAGECOMPLETE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_DATECASHTRANSFERRECEIVED",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATECASHTRANSFERRECEIVED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_DATECASHTRANSFERWORKSTARTED",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATECASHTRANSFERWORKSTARTED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_CHECKFORCORPORATEACTIONS",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_CHECKFORCORPORATEACTIONS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_CHECKUNEXECUTEDORDERS_CASHTRANSFER",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_CHECKUNEXECUTEDORDERS_CASHTRANSFER",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_DIRECTDEBITREMOVED",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_DIRECTDEBITREMOVED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_MODELREMOVED",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_MODELREMOVED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_HOLDINGSSOLD",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_HOLDINGSSOLD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_DATEHOLDINGSSOLD",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATEHOLDINGSSOLD",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_CASHTRANSFERSTAGECOMPLETE",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_CASHTRANSFERSTAGECOMPLETE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_DATECASHTRANSFERSTAGECOMPLETE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATECASHTRANSFERSTAGECOMPLETE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_CHECKEDDATECASHTRANSFER",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_CHECKEDDATECASHTRANSFER",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_TOAPROCESSSTAGE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_TOAPROCESSSTAGE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_CASHTRANSFERCHECKED",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_CASHTRANSFERCHECKED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_CASHTRANSFECHECKEDBY",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_CASHTRANSFECHECKEDBY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_CASHTRANSFECHECKEDBYNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_CASHTRANSFECHECKEDBYNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_DATEACCEPTANCEWORKSTARTED",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATEACCEPTANCEWORKSTARTED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_CHECKFORCORPORATEACTIONS_ACCEPTANCE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_CHECKFORCORPORATEACTIONS_ACCEPTANCE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_CHECKUNEXECUTEDORDERS_ACCEPTANCE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_CHECKUNEXECUTEDORDERS_ACCEPTANCE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_DIRECTDEBITREMOVED_ACCEPTANCE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_DIRECTDEBITREMOVED_ACCEPTANCE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_MODELREMOVED_ACCEPTANCE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_MODELREMOVED_ACCEPTANCE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_STFSGENERATED",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_STFSGENERATED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_DATESTFSGENERATED",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATESTFSGENERATED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_DATESTFSSENT",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATESTFSSENT",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_ACCEPTANCECHECKEDBY",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_ACCEPTANCECHECKEDBY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_ACCEPTANCECHECKEDBYNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_ACCEPTANCECHECKEDBYNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_ACCEPTANCESTAGECOMPLETE",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_ACCEPTANCESTAGECOMPLETE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_DATEACCEPTANCESTAGECOMPLETE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATEACCEPTANCESTAGECOMPLETE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_DATEPAYMENTWORKSTARTED",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATEPAYMENTWORKSTARTED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_ADVISORCHARGESTAKENOFF",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_ADVISORCHARGESTAKENOFF",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_REFERREDTOFEESANDCHARGES",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_REFERREDTOFEESANDCHARGES",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_DATEREFERREDTOFEESCHARGES",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATEREFERREDTOFEESCHARGES",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_RUNTRANSFERWIZARD",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_RUNTRANSFERWIZARD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_AMOUNTPAID",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "ASC_AMOUNTPAID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "ASC_METHODOFPAYMENT",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_METHODOFPAYMENT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_CHECKEDPAYMENT",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_CHECKEDPAYMENT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_CHECKEDDATEPAYMENT",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_CHECKEDDATEPAYMENT",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_PAYMENTCHECKEDBY",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_PAYMENTCHECKEDBY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_PAYMENTCHECKEDBYNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_PAYMENTCHECKEDBYNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_TRANSFERCONFIRMATIONSENT",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_TRANSFERCONFIRMATIONSENT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_TRANSFERCONFIRMATIONSENTDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_TRANSFERCONFIRMATIONSENTDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_PAYMENTSTAGECOMPLETE",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_PAYMENTSTAGECOMPLETE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": true
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_MS_DYNAMICS",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "DBO",
							"TABLE_NAME": "ASC_TRANSFEROUT",
							"MS_DYNAMICS_HOST": "@pipeline().globalParameters.MS_DYNAMICS_HOST",
							"MS_DYNAMICS_PORT": "@pipeline().globalParameters.MS_DYNAMICS_PORT",
							"MS_DYNAMICS_DATABASE": "@pipeline().globalParameters.MS_DYNAMICS_DATABASE",
							"MS_DYNAMICS_USERNAME": "@pipeline().globalParameters.MS_DYNAMICS_USERNAME",
							"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
							"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_ASQLDB_WOKING_SHIR",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "STAGE_CDI",
							"TABLE_NAME": "CRM_PLAT_DYN_TRANSFEROUT_STG",
							"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
							"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION"
						}
					}
				]
			}
		],
		"folder": {
			"name": "MSDynamics Migration"
		},
		"annotations": []
	}
}