src/pipeline/p_MSD-CDI-CRM_PLAT_DYN_DEATHCLAIM_STG.json
{
	"name": "p_MSD-CDI-CRM_PLAT_DYN_DEATHCLAIM_STG",
	"properties": {
		"description": "Name - Nikita Varnwal\nDate - June 2023\nProject - CRM Migration, implemented under CHG######\nDescription - This pipeline will pull all the data from the required fields from Asc_Deathclaim table from CRM and load it into CRM_PLAT_DYN_DEATHCLAIM_STG table in STAGE_CDI.",
		"activities": [
			{
				"name": "sp-TRUNCATE-CRM_PLAT_DYN_DEATHCLAIM_STG",
				"description": "Name - Nikita Varnwal\nDate - June 2023\nProject - CRM Mirgation, implemented under CHG#####\nDescription - This stored procedure will truncate the table CRM_PLAT_DYN_DEATHECLAIM_STG before loading any data into it.\n",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_CDI].[PRC_TRUNCATE_NAMED_TABLE]",
					"storedProcedureParameters": {
						"p_table_name": {
							"value": {
								"value": "CRM_PLAT_DYN_DEATHCLAIM_STG",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": {
							"value": "@pipeline().globalParameters.ENVIRONMENT",
							"type": "Expression"
						},
						"SHORT_LOCATION": {
							"value": "@pipeline().globalParameters.SHORT_LOCATION",
							"type": "Expression"
						},
						"LOGICAL_ENVIRONMENT": {
							"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "cd-CRM_PLAT_DYN_DEATHCLAIM_STG",
				"description": "Name - Nikita Varnwal\nDate - June 2023\nProject - CRM Migration, implemented copy all the selected field's data of Asc_DeathClaim table from CRM database to  CRM_PLAT_DYN_DEATHCLAIM_STG table of STAGE_CDI database. ",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "sp-TRUNCATE-CRM_PLAT_DYN_DEATHCLAIM_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT\r\nActivityId\r\n,OwnerId\r\n,OwnerIdName\r\n,asc_claimtype\r\n,scheduledend\r\n,statuscode\r\n,asc_setunclean\r\n,asc_uncleanreason\r\n,asc_uncleandescription\r\n,asc_settlementinstructionreceiveddate\r\n,asc_settlementinstructionprocesseddate\r\n,asc_settlementrequest\r\n,asc_assetssolddate\r\n,asc_duetosettle\r\n,asc_assetssold\r\n,asc_transfertype\r\n,asc_cashassetssold\r\n,asc_assetstransferreddate\r\n,asc_cashtransferreddate\r\n,asc_grantofprobaterecd\r\n,asc_grantofprobatereceiveddate\r\n,asc_willreceived\r\n,asc_willreceiveddate\r\n,asc_willreturneddate\r\n,asc_recordeddeliveryreference\r\n,asc_systemupdateddate\r\n,subject\r\n,asc_claimstatus\r\n,regardingobjectid\r\n,asc_casetype\r\n,asc_cleanapplication\r\n,asc_executorsnames\r\n,asc_ifafirm\r\n,asc_registeredifa\r\n,asc_broker\r\n,asc_clientmaster\r\n,actualstart\r\n,modifiedon\r\n,asc_duration\r\n,createdby\r\n,actualdurationminutes\r\n,actualend\r\n,createdon\r\n,asc_dateclosed\r\n,asc_deathcertreceived\r\n,asc_deathcertificatereceiveddate\r\n,asc_originaldeathcertreturneddropdown\r\n,asc_originaldeathcertreturneddate\r\n,asc_deathcertprocesseddate\r\n,asc_deathcertrecordeddeliveryref\r\n,asc_sippdeathbenefitclaimformreceived\r\n,asc_sippdbclaimformrcvddate\r\n,asc_willprocesseddate\r\n,asc_referredtotechnical\r\n,asc_referredtopensionoverviewcmtee\r\n,asc_beneficiaryappointeddropdown\r\n,asc_beneficiaryoptionsformissued\r\n,asc_beneficiaryoptionsformissueddate\r\n,asc_multiplebeneficiaries\r\n,asc_benoptionsandidprocesseddate\r\n,asc_beneficiaryoptionsandidreceiveddate\r\n,asc_beneficiaryrequest\r\n,asc_usernotes\r\n,asc_apsallowance\r\n,asc_internaltransfer\r\n,asc_aps\r\n,asc_spouseaccountnumber\r\n,asc_receivingaccountnumber\r\n,asc_stagecomplete\r\n,asc_datestagecomplete\r\n,asc_chargestaken\r\n,asc_referredtofeesandcharges\r\n,asc_datechargestaken\r\n,asc_togglerecordstatus\r\n,asc_paymenttype\r\n,asc_paymentout\r\n,asc_paymentrecipient\r\n,asc_apstype\r\n,asc_apsvalue\r\n,asc_tradesplaceddate\r\n,asc_gopreturneddate\r\n,asc_beneficiaryappointedbyclaimsteam\r\n,asc_checkedby\r\n,asc_ihtrequired\r\n,asc_ihtdocumentsreceived\r\n,asc_deathclaimtype\r\n,asc_pluginerrorfield\r\n,asc_cancelleddate\r\n,statecode\r\n,createdbyname\r\n,asc_nonsippstage3completedbyname\r\n,asc_nonsippstage1completedbyname\r\n,asc_stage5sippcompletedbyname\r\n,asc_nonsippstage4completedbyname\r\n,asc_stage4sippcompletedbyname\r\n,asc_instructioncheckedbyawaitingsettlementname\r\n,asc_stage1sippcompletedbyname\r\n,asc_stage2sippcompletedbyname\r\n,asc_nonsippstage5completedbyname\r\n,asc_paymentauthorisedbyname\r\n,asc_nonsippstage2completedbyname\r\n,asc_instructioncheckedbyname\r\n,asc_checkedbyname\r\n,asc_stage3sippcompletedbyname\r\n,asc_additionalpermittedsubscriptionvalue\r\n,asc_ageatdeath\r\n,asc_beneficiariesonsystem\r\n,asc_beneficiaryappointed\r\n,asc_datejointaccountassetstransferred\r\n,asc_datenotified\r\n,asc_dateofdeath\r\n,asc_dateofdeathvalue\r\n,asc_dateprocessed\r\n,asc_deathcertificatereceived\r\n,asc_grantofprobatereceived\r\n,asc_jointaccountheld\r\n,asc_jointaccountnumber\r\n,asc_notificationmethod\r\n,asc_notificationprocesseddate\r\n,asc_originaldeathcertreturned\r\n,asc_sippdeathbenefitclaimformissued\r\n,asc_whonotifiedus\r\n,asc_willrequested\r\n,asc_instructioncheckedby\r\n,asc_paymentauthorisedby\r\n,asc_advisorchargesremoved\r\n,asc_amlchecked\r\n,asc_datepaymentsent\r\n,asc_datepaymentworkstarted\r\n,asc_datereferredtofeesandcharges\r\n,asc_datereferredtotechnical\r\n,asc_executoridreceived\r\n,asc_instructionsrecvdprocessed\r\n,asc_paymentoutvalue\r\n,asc_runtransferwizard\r\n,asc_runwithdrawalwizard\r\n,asc_smallestateclaim\r\n,asc_systemupdatedawaitingexecutorappt\r\n,asc_tradesplaceddateawaitingsettlement\r\n,asc_wrapper_nonsipp\r\n,asc_instructioncheckedbyawaitingsettlement\r\n,asc_nonsippstage1completedby\r\n,asc_nonsippstage2completedby\r\n,asc_nonsippstage3completedby\r\n,asc_nonsippstage4completedby\r\n,asc_nonsippstage5completedby\r\n,asc_stage1sippcompletedby\r\n,asc_stage2sippcompletedby\r\n,asc_stage3sippcompletedby\r\n,asc_stage4sippcompletedby\r\n,asc_stage5sippcompletedby\r\n,ASC_REFERENCE\r\n,ASC_CLIENTMASTERNAME\r\n,REGARDINGOBJECTIDNAME\r\nFROM ASC_DEATHCLAIM",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "asc_sippdeathbenefitclaimformreceived",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_SIPPDEATHBENEFITCLAIMFORMRECEIVED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_sippdbclaimformrcvddate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_SIPPDBCLAIMFORMRCVDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_willprocesseddate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_WILLPROCESSEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_referredtotechnical",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_REFERREDTOTECHNICAL",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_referredtopensionoverviewcmtee",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_REFERREDTOPENSIONOVERVIEWCMTEE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_beneficiaryappointeddropdown",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_BENEFICIARYAPPOINTEDDROPDOWN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_beneficiaryoptionsformissued",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_BENEFICIARYOPTIONSFORMISSUED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_beneficiaryoptionsformissueddate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_BENEFICIARYOPTIONSFORMISSUEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_multiplebeneficiaries",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_MULTIPLEBENEFICIARIES",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_benoptionsandidprocesseddate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_BENOPTIONSANDIDPROCESSEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_beneficiaryoptionsandidreceiveddate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_BENEFICIARYOPTIONSANDIDRECEIVEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_beneficiaryrequest",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_BENEFICIARYREQUEST",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_usernotes",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_USERNOTES",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_apsallowance",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_APSALLOWANCE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_internaltransfer",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_INTERNALTRANSFER",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_aps",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_APS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_spouseaccountnumber",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_SPOUSEACCOUNTNUMBER",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_receivingaccountnumber",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_RECEIVINGACCOUNTNUMBER",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_stagecomplete",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_STAGECOMPLETE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_datestagecomplete",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATESTAGECOMPLETE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_chargestaken",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_CHARGESTAKEN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_referredtofeesandcharges",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_REFERREDTOFEESANDCHARGES",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_datechargestaken",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATECHARGESTAKEN",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_togglerecordstatus",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_TOGGLERECORDSTATUS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_paymenttype",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_PAYMENTTYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_paymentout",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_PAYMENTOUT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_paymentrecipient",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_PAYMENTRECIPIENT",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_apstype",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_APSTYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_apsvalue",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "ASC_APSVALUE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "asc_tradesplaceddate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_TRADESPLACEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_gopreturneddate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_GOPRETURNEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_beneficiaryappointedbyclaimsteam",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_BENEFICIARYAPPOINTEDBYCLAIMSTEAM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_checkedby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_CHECKEDBY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_ihtrequired",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_IHTREQUIRED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_ihtdocumentsreceived",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_IHTDOCUMENTSRECEIVED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_deathclaimtype",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_DEATHCLAIMTYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_pluginerrorfield",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_PLUGINERRORFIELD",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_cancelleddate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_CANCELLEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "statecode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "STATECODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ActivityId",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ACTIVITYID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OwnerId",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "OWNERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OwnerIdName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OWNERIDNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_claimtype",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_CLAIMTYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "scheduledend",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "SCHEDULEDEND",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "statuscode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "STATUSCODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_setunclean",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_SETUNCLEAN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_uncleanreason",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_UNCLEANREASON",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_uncleandescription",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_UNCLEANDESCRIPTION",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_settlementinstructionreceiveddate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_SETTLEMENTINSTRUCTIONRECEIVEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_settlementinstructionprocesseddate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_SETTLEMENTINSTRUCTIONPROCESSEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_settlementrequest",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_SETTLEMENTREQUEST",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_assetssolddate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_ASSETSSOLDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_duetosettle",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DUETOSETTLE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_assetssold",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_ASSETSSOLD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_transfertype",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_TRANSFERTYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_cashassetssold",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_CASHASSETSSOLD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_assetstransferreddate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_ASSETSTRANSFERREDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_cashtransferreddate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_CASHTRANSFERREDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_grantofprobaterecd",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_GRANTOFPROBATERECD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_grantofprobatereceiveddate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_GRANTOFPROBATERECEIVEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_willreceived",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_WILLRECEIVED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_willreceiveddate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_WILLRECEIVEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_willreturneddate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_WILLRETURNEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_recordeddeliveryreference",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_RECORDEDDELIVERYREFERENCE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_systemupdateddate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_SYSTEMUPDATEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "subject",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SUBJECT",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_claimstatus",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_CLAIMSTATUS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "regardingobjectid",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "REGARDINGOBJECTID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_casetype",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_CASETYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_cleanapplication",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_CLEANAPPLICATION",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_executorsnames",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_EXECUTORSNAMES",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_ifafirm",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_IFAFIRM",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_registeredifa",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_REGISTEREDIFA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_broker",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_BROKER",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_clientmaster",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_CLIENTMASTER",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "actualstart",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ACTUALSTART",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "modifiedon",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "MODIFIEDON",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_duration",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_DURATION",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "createdby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "CREATEDBY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "actualdurationminutes",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ACTUALDURATIONMINUTES",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "actualend",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ACTUALEND",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "createdon",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CREATEDON",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_dateclosed",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATECLOSED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_deathcertreceived",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_DEATHCERTRECEIVED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_deathcertificatereceiveddate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DEATHCERTIFICATERECEIVEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_originaldeathcertreturneddropdown",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_ORIGINALDEATHCERTRETURNEDDROPDOWN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_originaldeathcertreturneddate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_ORIGINALDEATHCERTRETURNEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_deathcertprocesseddate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DEATHCERTPROCESSEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_deathcertrecordeddeliveryref",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_DEATHCERTRECORDEDDELIVERYREF",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_stage4sippcompletedbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_stage4sippcompletedbyname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_instructioncheckedbyawaitingsettlementname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_instructioncheckedbyawaitingsettlementname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_stage1sippcompletedbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_stage1sippcompletedbyname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_stage2sippcompletedbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_stage2sippcompletedbyname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_nonsippstage5completedbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_nonsippstage5completedbyname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_paymentauthorisedbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_paymentauthorisedbyname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_nonsippstage2completedbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_nonsippstage2completedbyname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_instructioncheckedbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_instructioncheckedbyname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_checkedbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_checkedbyname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_stage3sippcompletedbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_stage3sippcompletedbyname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_additionalpermittedsubscriptionvalue",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "asc_additionalpermittedsubscriptionvalue",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "asc_ageatdeath",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "asc_ageatdeath",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_beneficiariesonsystem",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_beneficiariesonsystem",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_beneficiaryappointed",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_beneficiaryappointed",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_datejointaccountassetstransferred",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "asc_datejointaccountassetstransferred",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_datenotified",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "asc_datenotified",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_dateofdeath",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "asc_dateofdeath",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_dateofdeathvalue",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "asc_dateofdeathvalue",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "asc_dateprocessed",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "asc_dateprocessed",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_deathcertificatereceived",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_deathcertificatereceived",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "asc_grantofprobatereceived",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_grantofprobatereceived",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "asc_jointaccountheld",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_jointaccountheld",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "asc_jointaccountnumber",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_jointaccountnumber",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_notificationmethod",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "asc_notificationmethod",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_notificationprocesseddate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "asc_notificationprocesseddate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_originaldeathcertreturned",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_originaldeathcertreturned",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "asc_sippdeathbenefitclaimformissued",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_sippdeathbenefitclaimformissued",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "asc_whonotifiedus",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "asc_whonotifiedus",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_willrequested",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_willrequested",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "asc_instructioncheckedby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_instructioncheckedby",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_paymentauthorisedby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_paymentauthorisedby",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_advisorchargesremoved",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_advisorchargesremoved",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "asc_amlchecked",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_amlchecked",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "asc_datepaymentsent",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "asc_datepaymentsent",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_datepaymentworkstarted",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "asc_datepaymentworkstarted",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_datereferredtofeesandcharges",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "asc_datereferredtofeesandcharges",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_datereferredtotechnical",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "asc_datereferredtotechnical",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_executoridreceived",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "asc_executoridreceived",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_instructionsrecvdprocessed",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_instructionsrecvdprocessed",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "asc_paymentoutvalue",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "asc_paymentoutvalue",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "asc_runtransferwizard",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_runtransferwizard",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "asc_runwithdrawalwizard",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_runwithdrawalwizard",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "asc_smallestateclaim",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "asc_smallestateclaim",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_systemupdatedawaitingexecutorappt",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "asc_systemupdatedawaitingexecutorappt",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_tradesplaceddateawaitingsettlement",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "asc_tradesplaceddateawaitingsettlement",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_wrapper_nonsipp",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "asc_wrapper_nonsipp",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_instructioncheckedbyawaitingsettlement",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_instructioncheckedbyawaitingsettlement",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_nonsippstage1completedby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_nonsippstage1completedby",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_nonsippstage2completedby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_nonsippstage2completedby",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_nonsippstage3completedby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_nonsippstage3completedby",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_nonsippstage4completedby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_nonsippstage4completedby",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_nonsippstage5completedby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_nonsippstage5completedby",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_stage1sippcompletedby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_stage1sippcompletedby",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_stage2sippcompletedby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_stage2sippcompletedby",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_stage3sippcompletedby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_stage3sippcompletedby",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_stage4sippcompletedby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_stage4sippcompletedby",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_stage5sippcompletedby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_stage5sippcompletedby",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_nonsippstage1completedbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_nonsippstage1completedbyname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_nonsippstage3completedbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_nonsippstage3completedbyname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_nonsippstage4completedbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_nonsippstage4completedbyname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_stage5sippcompletedbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_stage5sippcompletedbyname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "createdbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "createdbyname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_REFERENCE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_REFERENCE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_CLIENTMASTERNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_CLIENTMASTERNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "REGARDINGOBJECTIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "REGARDINGOBJECTIDNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": true
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_MS_DYNAMICS",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "dbo",
							"TABLE_NAME": "Asc_Deathclaim",
							"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
							"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_ASQLDB_WOKING_SHIR",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "STAGE_CDI",
							"TABLE_NAME": "CRM_PLAT_DYN_DEATHCLAIM_STG",
							"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
							"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION"
						}
					}
				]
			},
			{
				"name": "sp-UPDATE_BATCH_AUDIT-CRM_PLAT_DYN_DEATHCLAIM_STG",
				"description": "Name - Nikita Varnwal\nDate - June 2023\nProject - CRM Migration. implemented under CHG#####\nDescription - This stored procedure is updating the BATCH_AUDIT table in STAGE_CDI with the required information of pipeline run .\n",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cd-CRM_PLAT_DYN_DEATHCLAIM_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_CDI].[PRC_BATCH_AUDIT]",
					"storedProcedureParameters": {
						"p_billable_duration": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_DEATHCLAIM_STG').output.billingReference.billableDuration[0].duration",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"p_billable_unit": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_DEATHCLAIM_STG').output.billingReference.billableDuration[0].unit",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_duration": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_DEATHCLAIM_STG').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_process_start_dt": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_DEATHCLAIM_STG').output.executionDetails[0].start",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_records_read": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_DEATHCLAIM_STG').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_records_written": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_DEATHCLAIM_STG').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_table_name": {
							"value": "CRM_PLAT_DYN_DEATHCLAIM_STG",
							"type": "String"
						},
						"p_trigger_name": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": {
							"value": "@pipeline().globalParameters.ENVIRONMENT",
							"type": "Expression"
						},
						"SHORT_LOCATION": {
							"value": "@pipeline().globalParameters.SHORT_LOCATION",
							"type": "Expression"
						},
						"LOGICAL_ENVIRONMENT": {
							"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"type": "Expression"
						}
					}
				}
			}
		],
		"folder": {
			"name": "MSDynamics Migration"
		},
		"annotations": []
	}
}