src/pipeline/p_MSD-CDI-CRM_PLAT_DYN_CASECLNTMASTER_STG.json
{
	"name": "p_MSD-CDI-CRM_PLAT_DYN_CASECLNTMASTER_STG",
	"properties": {
		"description": "Author: Jilly Webster\nDate: 28/06/2023\nDescription: ASCD-20271 - this pipeline will load data from MS Dynamics (SQL server) New_caseclientmaster table to STAGE_CDI (Oracle) CRM_PLAT_DYN_CASECLNTMASTER_STG table. ",
		"activities": [
			{
				"name": "sp-TRUNCATE-CRM_PLAT_DYN_CASECLNTMASTR_STG",
				"description": "Truncate target table CRM_PLAT_DYN_CASECLNTMASTR_STG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_CDI].[PRC_TRUNCATE_NAMED_TABLE]",
					"storedProcedureParameters": {
						"p_table_name": {
							"value": {
								"value": "CRM_PLAT_DYN_CASECLNTMASTER_STG",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
						"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION",
						"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT"
					}
				}
			},
			{
				"name": "cd-TD_CRM_PLAT_DYN_CASECLNTMASTER_STG",
				"description": "pulls data from MS Dynamic New_caseclientmaster table and copies to the STAGE_LOAD table TD_CRM_PLAT_DYN_CASECLNTMASTER_STG using SQL query",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "sp-TRUNCATE-CRM_PLAT_DYN_CASECLNTMASTR_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "sp-TRUNCATE-TD_CRM_PLAT_DYN_CASECLNTMASTR_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select NEW_CASECLIENTMASTERID,\n       CREATEDON,\n       NEW_CASENUMBER,\n       NEW_REFERENCECASEID,\n       NEW_REFERENCECASEIDNAME,\n       NEW_TYPE,\n       NEW_REFERENCECLIENTMASTERID,\n       NEW_REFERENCECLIENTMASTERIDNAME,\n       NEW_CASECMSTATUS,\n       OWNERID,\n       OWNERIDNAME,\n       NEW_REFERENCERAISEDBYINDIVIDUALID,\n       NEW_REFERENCERAISEDBYCORPTRUSTID,\n       NEW_REFERENCERAISEDBYINDIVIDUALIDNAME,\n       NEW_REFERENCERAISEDBYCORPTRUSTIDNAME\n  from DBO.NEW_CASECLIENTMASTER",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "NEW_CASECLIENTMASTERID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "NEW_CASECLIENTMASTERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CREATEDON",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CREATEDON",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "NEW_CASENUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_CASENUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NEW_REFERENCECASEID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "NEW_REFERENCECASEID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_REFERENCECASEIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_REFERENCECASEIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NEW_TYPE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "NEW_TYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "NEW_REFERENCECLIENTMASTERID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "NEW_REFERENCECLIENTMASTERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_REFERENCECLIENTMASTERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_REFERENCECLIENTMASTERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NEW_CASECMSTATUS",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "NEW_CASECMSTATUS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "OWNERID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "OWNERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OWNERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OWNERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NEW_REFERENCERAISEDBYINDIVIDUALID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "NEW_REFERENCERAISEDBYINDIVIDUALID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_REFERENCERAISEDBYCORPTRUSTID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "NEW_REFERENCERAISEDBYCORPTRUSTID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_REFERENCERAISEDBYINDIVIDUALIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_REFERENCERAISEDBYINDIVIDUALIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NEW_REFERENCERAISEDBYCORPTRUSTIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_REFERENCERAISEDBYCORPTRUSTIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": true
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_MS_DYNAMICS",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "dbo",
							"TABLE_NAME": "New_caseclientmaster",
							"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
							"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_ASQLDB_WOKING_SHIR",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "STAGE_LOAD",
							"TABLE_NAME": "TD_CRM_PLAT_DYN_CASECLNTMASTER_STG",
							"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
							"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION"
						}
					}
				]
			},
			{
				"name": "sp-UPDATE_BATCH_AUDIT-CRM_PLAT_DYN_CASECLNTMASTER_STG",
				"description": "Writing audit data for the Copy Data activity that has just run",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cd-CRM_PLAT_DYN_CASECLNTMASTER_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "[STAGE_CDI].[PRC_BATCH_AUDIT]",
						"type": "Expression"
					},
					"storedProcedureParameters": {
						"p_billable_duration": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_CASECLNTMASTER_STG').output.billingReference.billableDuration[0].duration",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"p_billable_unit": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_CASECLNTMASTER_STG').output.billingReference.billableDuration[0].unit",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_duration": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_CASECLNTMASTER_STG').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_process_start_dt": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_CASECLNTMASTER_STG').output.executionDetails[0].start",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_records_read": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_CASECLNTMASTER_STG').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_records_written": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_CASECLNTMASTER_STG').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_table_name": {
							"value": {
								"value": "CRM_PLAT_DYN_CASECLNTMASTER_STG",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_trigger_name": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
						"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION",
						"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT"
					}
				}
			},
			{
				"name": "sp-TRUNCATE-TD_CRM_PLAT_DYN_CASECLNTMASTR_STG",
				"description": "Truncate target table TD_CRM_PLAT_DYN_CASECLNTMASTR_STG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_LOAD].[PRC_TRUNCATE_TD_TABLE]",
					"storedProcedureParameters": {
						"p_table_name": {
							"value": "TD_CRM_PLAT_DYN_CASECLNTMASTER_STG",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
						"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION",
						"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT"
					}
				}
			},
			{
				"name": "cd-CRM_PLAT_DYN_CASECLNTMASTER_STG",
				"description": "pulls data from STAGE_LOAD table TD_CRM_PLAT_DYN_CASECLNTMASTER_STG and copies to the STAGE_CDI table CRM_PLAT_DYN_CASECLNTMASTER_STG using SQL query",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "cd-TD_CRM_PLAT_DYN_CASECLNTMASTER_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select TCPDCS.S_CASECLIENTMASTER_KEY,\n       TCPDCS.S_CREATE_DATETIME,\n       TCPDCS.S_UPDATE_DATETIME,\n       TCPDCS.NEW_CASECLIENTMASTERID,\n       TCPDCS.CREATEDON,\n       TCPDCS.NEW_CASENUMBER,\n       TCPDCS.NEW_REFERENCECASEID,\n       TCPDCS.NEW_REFERENCECASEIDNAME,\n       TCPDCS.NEW_TYPE,\n       TCPDCS.NEW_REFERENCECLIENTMASTERID,\n       TCPDCS.NEW_REFERENCECLIENTMASTERIDNAME,\n       TCPDCS.NEW_CASECMSTATUS,\n       TCPDCS.OWNERID,\n       TCPDCS.OWNERIDNAME,\n       TCPDCS.NEW_REFERENCERAISEDBYINDIVIDUALID,\n       TCPDCS.NEW_REFERENCERAISEDBYCORPTRUSTID,\n       TCPDCS.NEW_REFERENCERAISEDBYINDIVIDUALIDNAME,\n       TCPDCS.NEW_REFERENCERAISEDBYCORPTRUSTIDNAME\n  from STAGE_LOAD.TD_CRM_PLAT_DYN_CASECLNTMASTER_STG TCPDCS\n inner join STAGE_CDI.CRM_PLAT_DYN_CODE_TYPE CPDCT\n    on (TCPDCS.NEW_TYPE = CPDCT.CODE_NUMBER)\n where CPDCT.CODE_NUMBER is not null\n   and CPDCT.CODE_TYPE = 'New_Type' \n   and CPDCT.CRM_TABLE_NAME = 'NEW_CASECLIENTMASTER' ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "S_CASECLIENTMASTER_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								},
								"sink": {
									"name": "S_CASECLIENTMASTER_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "S_CREATE_DATETIME",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "S_CREATE_DATETIME",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "S_UPDATE_DATETIME",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "S_UPDATE_DATETIME",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "NEW_CASECLIENTMASTERID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NEW_CASECLIENTMASTERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CREATEDON",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "CREATEDON",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "NEW_CASENUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_CASENUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NEW_REFERENCECASEID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NEW_REFERENCECASEID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_REFERENCECASEIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_REFERENCECASEIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NEW_TYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "NEW_TYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "NEW_REFERENCECLIENTMASTERID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NEW_REFERENCECLIENTMASTERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_REFERENCECLIENTMASTERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_REFERENCECLIENTMASTERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NEW_CASECMSTATUS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "NEW_CASECMSTATUS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "OWNERID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OWNERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OWNERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OWNERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NEW_REFERENCERAISEDBYINDIVIDUALID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NEW_REFERENCERAISEDBYINDIVIDUALID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_REFERENCERAISEDBYCORPTRUSTID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NEW_REFERENCERAISEDBYCORPTRUSTID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_REFERENCERAISEDBYINDIVIDUALIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_REFERENCERAISEDBYINDIVIDUALIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NEW_REFERENCERAISEDBYCORPTRUSTIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_REFERENCERAISEDBYCORPTRUSTIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": true
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_ASQLDB",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "STAGE_LOAD",
							"TABLE_NAME": "TD_CRM_PLAT_DYN_CASECLNTMASTER_STG",
							"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
							"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_ASQLDB",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "STAGE_CDI",
							"TABLE_NAME": "CRM_PLAT_DYN_CASECLNTMASTER_STG",
							"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
							"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION"
						}
					}
				]
			},
			{
				"name": "sp-UPDATE_BATCH_AUDIT-TD_CRM_PLAT_DYN_CASECLNTMASTR_STG",
				"description": "Writing audit data for the Copy Data activity that has just run",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cd-TD_CRM_PLAT_DYN_CASECLNTMASTER_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "[STAGE_CDI].[PRC_BATCH_AUDIT]",
						"type": "Expression"
					},
					"storedProcedureParameters": {
						"p_billable_duration": {
							"value": {
								"value": "@activity('cd-TD_CRM_PLAT_DYN_CASECLNTMASTER_STG').output.billingReference.billableDuration[0].duration",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"p_billable_unit": {
							"value": {
								"value": "@activity('cd-TD_CRM_PLAT_DYN_CASECLNTMASTER_STG').output.billingReference.billableDuration[0].unit",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_duration": {
							"value": {
								"value": "@activity('cd-TD_CRM_PLAT_DYN_CASECLNTMASTER_STG').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_process_start_dt": {
							"value": {
								"value": "@activity('cd-TD_CRM_PLAT_DYN_CASECLNTMASTER_STG').output.executionDetails[0].start",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_records_read": {
							"value": {
								"value": "@activity('cd-TD_CRM_PLAT_DYN_CASECLNTMASTER_STG').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_records_written": {
							"value": {
								"value": "@activity('cd-TD_CRM_PLAT_DYN_CASECLNTMASTER_STG').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_table_name": {
							"value": {
								"value": "TD_CRM_PLAT_DYN_CASECLNTMASTER_STG",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_trigger_name": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": {
							"value": "@pipeline().globalParameters.ENVIRONMENT",
							"type": "Expression"
						},
						"SHORT_LOCATION": {
							"value": "@pipeline().globalParameters.SHORT_LOCATION",
							"type": "Expression"
						},
						"LOGICAL_ENVIRONMENT": {
							"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"type": "Expression"
						}
					}
				}
			}
		],
		"folder": {
			"name": "MSDynamics Migration"
		},
		"annotations": []
	}
}