src/pipeline/p_MSD-CDI-CRM_PLAT_DYN_PAYMENT_STG.json
{
	"name": "p_MSD-CDI-CRM_PLAT_DYN_PAYMENT_STG",
	"properties": {
		"description": "Author: Jilly Webster\nDate: 28/07/2023\nDescription: ASCD-20271 - this pipeline will load data from MS Dynamics (SQL server) Asc_payment table to STAGE_CDI (Oracle) CRM_PLAT_DYN_PAYMENT_STG table. ",
		"activities": [
			{
				"name": "sp-TRUNCATE-CRM_PLAT_DYN_PAYMENT_STG",
				"description": "Truncate target table CRM_PLAT_DYN_PAYMENT_STG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_CDI].[PRC_TRUNCATE_NAMED_TABLE]",
					"storedProcedureParameters": {
						"p_table_name": {
							"value": "CRM_PLAT_DYN_PAYMENT_STG",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
						"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION",
						"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT"
					}
				}
			},
			{
				"name": "cd-TD_CRM_PLAT_DYN_PAYMENT_STG",
				"description": "pulls data from MS Dynamic Asc_payment table and copies to the STAGE_LOAD table TD_CRM_PLAT_DYN_PAYMENT_STG using SQL query",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "sp-TRUNCATE-CRM_PLAT_DYN_PAYMENT_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "sp-TRUNCATE-TD_CRM_PLAT_DYN_PAYMENT_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select ASC_PAYMENTID,\n       ASC_REFERENCE,\n       ASC_PROCESS,\n       ASC_PAYMENTTYPE,\n       ASC_PAYMENTVALUE,\n       ASC_PRIMARYCLIENTMASTERID,\n       ASC_PRIMARYCLIENTMASTERIDNAME,\n       OWNERID,\n       OWNERIDNAME,\n       STATUSCODE,\n       ASC_COMMENTS,\n       ASC_DATERECEIVED,\n       ASC_NAME,\n       ASC_DATECREATED,\n       ASC_DATECLOSED,\n       CREATEDON,\n       ASC_RAISEDBYID,\n       ASC_RAISEDBYIDNAME,\n       ASC_SLADATE,\n       ASC_WITHDRAWALFREQUENCY,\n       ASC_TOTALBACSRECEIVED,\n       ASC_BACSCOMPLETEDINSLA,\n       ASC_BACSCOMPLETEDOUTOFSLA,\n       ASC_CONTACTID,\n       ASC_CONTACTIDNAME,\n       ASC_COMPANYID,\n       ASC_COMPANYIDNAME,\n       ASC_BROKERID,\n       ASC_BROKERIDNAME,\n       ASC_CLIENTMASTERUNKNOWN,\n       ASC_CLIENTNAME,\n       ASC_FUNDMANAGERID,\n       ASC_FUNDMANAGERIDNAME,\n       ASC_COMPETITORID,\n       ASC_COMPETITORIDNAME,\n       ASC_NEWBUSINESSID,\n       ASC_NEWBUSINESSIDNAME,\n       ASC_CASEID,\n       ASC_CASEIDNAME,\n       ASC_TRANSFERID,\n       ASC_TRANSFERIDNAME,\n       ASC_REASONFORREJECTION,\n       STATECODE\n  from DBO.ASC_PAYMENT",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ASC_PAYMENTID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_PAYMENTID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_REFERENCE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_REFERENCE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_PROCESS",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_PROCESS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_PAYMENTTYPE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_PAYMENTTYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_PAYMENTVALUE",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "ASC_PAYMENTVALUE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "ASC_PRIMARYCLIENTMASTERID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_PRIMARYCLIENTMASTERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_PRIMARYCLIENTMASTERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_PRIMARYCLIENTMASTERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OWNERID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "OWNERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OWNERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OWNERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "STATUSCODE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "STATUSCODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_COMMENTS",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_COMMENTS",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_DATERECEIVED",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATERECEIVED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_DATECREATED",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATECREATED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_DATECLOSED",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATECLOSED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "CREATEDON",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CREATEDON",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_RAISEDBYID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_RAISEDBYID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_RAISEDBYIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_RAISEDBYIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_SLADATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_SLADATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_WITHDRAWALFREQUENCY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_WITHDRAWALFREQUENCY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_TOTALBACSRECEIVED",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_TOTALBACSRECEIVED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_BACSCOMPLETEDINSLA",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_BACSCOMPLETEDINSLA",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_BACSCOMPLETEDOUTOFSLA",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_BACSCOMPLETEDOUTOFSLA",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_CONTACTID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_CONTACTID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_CONTACTIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_CONTACTIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_COMPANYID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_COMPANYID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_COMPANYIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_COMPANYIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_BROKERID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_BROKERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_BROKERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_BROKERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_CLIENTMASTERUNKNOWN",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_CLIENTMASTERUNKNOWN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_CLIENTNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_CLIENTNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_FUNDMANAGERID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_FUNDMANAGERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_FUNDMANAGERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_FUNDMANAGERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_COMPETITORID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_COMPETITORID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_COMPETITORIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_COMPETITORIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_NEWBUSINESSID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_NEWBUSINESSID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_NEWBUSINESSIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_NEWBUSINESSIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_CASEID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_CASEID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_CASEIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_CASEIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_TRANSFERID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_TRANSFERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_TRANSFERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_TRANSFERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_REASONFORREJECTION",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_REASONFORREJECTION",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "STATECODE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "STATECODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": true
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_MS_DYNAMICS",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "dbo",
							"TABLE_NAME": "Asc_payment",
							"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
							"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_ASQLDB_WOKING_SHIR",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "STAGE_LOAD",
							"TABLE_NAME": "TD_CRM_PLAT_DYN_PAYMENT_STG",
							"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
							"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION"
						}
					}
				]
			},
			{
				"name": "sp-UPDATE_BATCH_AUDIT-CRM_PLAT_DYN_PAYMENT_STG",
				"description": "Writing audit data for the Copy Data activity that has just run",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cd-CRM_PLAT_DYN_PAYMENT_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "[STAGE_CDI].[PRC_BATCH_AUDIT]",
						"type": "Expression"
					},
					"storedProcedureParameters": {
						"p_billable_duration": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_PAYMENT_STG').output.billingReference.billableDuration[0].duration",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"p_billable_unit": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_PAYMENT_STG').output.billingReference.billableDuration[0].unit",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_duration": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_PAYMENT_STG').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_process_start_dt": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_PAYMENT_STG').output.executionDetails[0].start",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_records_read": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_PAYMENT_STG').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_records_written": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_PAYMENT_STG').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_table_name": {
							"value": {
								"value": "CRM_PLAT_DYN_PAYMENT_STG",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_trigger_name": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
						"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION",
						"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT"
					}
				}
			},
			{
				"name": "sp-TRUNCATE-TD_CRM_PLAT_DYN_PAYMENT_STG",
				"description": "Truncate target table TD_CRM_PLAT_DYN_PAYMENT_STG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_LOAD].[PRC_TRUNCATE_TD_TABLE]",
					"storedProcedureParameters": {
						"p_table_name": {
							"value": "TD_CRM_PLAT_DYN_PAYMENT_STG",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
						"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION",
						"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT"
					}
				}
			},
			{
				"name": "cd-CRM_PLAT_DYN_PAYMENT_STG",
				"description": "pulls data from STAGE_LOAD table TD_CRM_PLAT_DYN_PAYMENT_STG and copies to the STAGE_CDI table CRM_PLAT_DYN_PAYMENT_STG using SQL query",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "cd-TD_CRM_PLAT_DYN_PAYMENT_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select TCPDPS.S_PAYMENT_KEY,\n       TCPDPS.S_CREATE_DATETIME,\n       TCPDPS.S_UPDATE_DATETIME,\n       TCPDPS.ASC_PAYMENTID,\n       TCPDPS.ASC_REFERENCE,\n       TCPDPS.ASC_PROCESS,\n       TCPDPS.ASC_PAYMENTTYPE,\n       TCPDPS.ASC_PAYMENTVALUE,\n       TCPDPS.ASC_PRIMARYCLIENTMASTERID,\n       TCPDPS.ASC_PRIMARYCLIENTMASTERIDNAME,\n       TCPDPS.OWNERID,\n       TCPDPS.OWNERIDNAME,\n       TCPDPS.STATUSCODE,\n       TCPDPS.ASC_COMMENTS,\n       TCPDPS.ASC_DATERECEIVED,\n       TCPDPS.ASC_NAME,\n       TCPDPS.ASC_DATECREATED,\n       TCPDPS.ASC_DATECLOSED,\n       TCPDPS.CREATEDON,\n       TCPDPS.ASC_RAISEDBYID,\n       TCPDPS.ASC_RAISEDBYIDNAME,\n       TCPDPS.ASC_SLADATE,\n       TCPDPS.ASC_WITHDRAWALFREQUENCY,\n       TCPDPS.ASC_TOTALBACSRECEIVED,\n       TCPDPS.ASC_BACSCOMPLETEDINSLA,\n       TCPDPS.ASC_BACSCOMPLETEDOUTOFSLA,\n       TCPDPS.ASC_CONTACTID,\n       TCPDPS.ASC_CONTACTIDNAME,\n       TCPDPS.ASC_COMPANYID,\n       TCPDPS.ASC_COMPANYIDNAME,\n       TCPDPS.ASC_BROKERID,\n       TCPDPS.ASC_BROKERIDNAME,\n       TCPDPS.ASC_CLIENTMASTERUNKNOWN,\n       TCPDPS.ASC_CLIENTNAME,\n       TCPDPS.ASC_FUNDMANAGERID,\n       TCPDPS.ASC_FUNDMANAGERIDNAME,\n       TCPDPS.ASC_COMPETITORID,\n       TCPDPS.ASC_COMPETITORIDNAME,\n       TCPDPS.ASC_NEWBUSINESSID,\n       TCPDPS.ASC_NEWBUSINESSIDNAME,\n       TCPDPS.ASC_CASEID,\n       TCPDPS.ASC_CASEIDNAME,\n       TCPDPS.ASC_TRANSFERID,\n       TCPDPS.ASC_TRANSFERIDNAME,\n       TCPDPS.ASC_REASONFORREJECTION,\n       TCPDPS.STATECODE\n  from STAGE_LOAD.TD_CRM_PLAT_DYN_PAYMENT_STG TCPDPS\n inner join STAGE_CDI.CRM_PLAT_DYN_CODE_TYPE CPDCT\n    on (TCPDPS.ASC_PROCESS = CPDCT.CODE_NUMBER)\n where CPDCT.CODE_NUMBER is not null\n   and CPDCT.CODE_TYPE = 'Asc_Process' \n   and CPDCT.CRM_TABLE_NAME = 'ASC_PAYMENT'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "S_PAYMENT_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								},
								"sink": {
									"name": "S_PAYMENT_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "S_CREATE_DATETIME",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "S_CREATE_DATETIME",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "S_UPDATE_DATETIME",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "S_UPDATE_DATETIME",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_PAYMENTID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ASC_PAYMENTID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_REFERENCE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_REFERENCE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_PROCESS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "ASC_PROCESS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_PAYMENTTYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "ASC_PAYMENTTYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_PAYMENTVALUE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "ASC_PAYMENTVALUE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "ASC_PRIMARYCLIENTMASTERID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ASC_PRIMARYCLIENTMASTERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_PRIMARYCLIENTMASTERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_PRIMARYCLIENTMASTERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OWNERID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OWNERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OWNERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OWNERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "STATUSCODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "STATUSCODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_COMMENTS",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ASC_COMMENTS",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_DATERECEIVED",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "ASC_DATERECEIVED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_DATECREATED",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "ASC_DATECREATED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_DATECLOSED",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "ASC_DATECLOSED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "CREATEDON",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "CREATEDON",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_RAISEDBYID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ASC_RAISEDBYID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_RAISEDBYIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_RAISEDBYIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_SLADATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "ASC_SLADATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_WITHDRAWALFREQUENCY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "ASC_WITHDRAWALFREQUENCY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_TOTALBACSRECEIVED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "ASC_TOTALBACSRECEIVED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_BACSCOMPLETEDINSLA",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "ASC_BACSCOMPLETEDINSLA",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_BACSCOMPLETEDOUTOFSLA",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "ASC_BACSCOMPLETEDOUTOFSLA",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_CONTACTID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ASC_CONTACTID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_CONTACTIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_CONTACTIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_COMPANYID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ASC_COMPANYID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_COMPANYIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_COMPANYIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_BROKERID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ASC_BROKERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_BROKERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_BROKERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_CLIENTMASTERUNKNOWN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								},
								"sink": {
									"name": "ASC_CLIENTMASTERUNKNOWN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_CLIENTNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_CLIENTNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_FUNDMANAGERID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ASC_FUNDMANAGERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_FUNDMANAGERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_FUNDMANAGERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_COMPETITORID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ASC_COMPETITORID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_COMPETITORIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_COMPETITORIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_NEWBUSINESSID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ASC_NEWBUSINESSID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_NEWBUSINESSIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_NEWBUSINESSIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_CASEID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ASC_CASEID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_CASEIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_CASEIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_TRANSFERID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ASC_TRANSFERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_TRANSFERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_TRANSFERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_REASONFORREJECTION",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ASC_REASONFORREJECTION",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "STATECODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "STATECODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": true
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_ASQLDB",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "STAGE_LOAD",
							"TABLE_NAME": "TD_CRM_PLAT_DYN_PAYMENT_STG",
							"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
							"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_ASQLDB",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "STAGE_CDI",
							"TABLE_NAME": "CRM_PLAT_DYN_PAYMENT_STG",
							"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
							"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION"
						}
					}
				]
			},
			{
				"name": "sp-UPDATE_BATCH_AUDIT-TD_CRM_PLAT_DYN_PAYMENT_STG",
				"description": "Writing audit data for the Copy Data activity that has just run",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cd-TD_CRM_PLAT_DYN_PAYMENT_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "[STAGE_CDI].[PRC_BATCH_AUDIT]",
						"type": "Expression"
					},
					"storedProcedureParameters": {
						"p_billable_duration": {
							"value": {
								"value": "@activity('cd-TD_CRM_PLAT_DYN_PAYMENT_STG').output.billingReference.billableDuration[0].duration",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"p_billable_unit": {
							"value": {
								"value": "@activity('cd-TD_CRM_PLAT_DYN_PAYMENT_STG').output.billingReference.billableDuration[0].unit",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_duration": {
							"value": {
								"value": "@activity('cd-TD_CRM_PLAT_DYN_PAYMENT_STG').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_process_start_dt": {
							"value": {
								"value": "@activity('cd-TD_CRM_PLAT_DYN_PAYMENT_STG').output.executionDetails[0].start",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_records_read": {
							"value": {
								"value": "@activity('cd-TD_CRM_PLAT_DYN_PAYMENT_STG').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_records_written": {
							"value": {
								"value": "@activity('cd-TD_CRM_PLAT_DYN_PAYMENT_STG').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_table_name": {
							"value": {
								"value": "TD_CRM_PLAT_DYN_PAYMENT_STG",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_trigger_name": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": {
							"value": "@pipeline().globalParameters.ENVIRONMENT",
							"type": "Expression"
						},
						"SHORT_LOCATION": {
							"value": "@pipeline().globalParameters.SHORT_LOCATION",
							"type": "Expression"
						},
						"LOGICAL_ENVIRONMENT": {
							"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"type": "Expression"
						}
					}
				}
			}
		],
		"folder": {
			"name": "MSDynamics Migration"
		},
		"annotations": []
	}
}