src/pipeline/p_MSD-CDI-CRM_PLAT_DYN_INCIDENT_STG.json
{
	"name": "p_MSD-CDI-CRM_PLAT_DYN_INCIDENT_STG",
	"properties": {
		"description": "Author: Nikita Varnwal\nDate: July 2023\nProject - CRM Migration implemented under CGH######\nDescription: - This pipeline will load data from MS Dynamics (SQL server) Incident table to STAGE_CDI (Oracle) CRM_PLAT_DYN_INCIDENT_STG table. ",
		"activities": [
			{
				"name": "sp-TRUNCATE-CRM_PLAT_DYN_INCIDENT_STG",
				"description": "Name - Nikita Varnwal\nDate - June 2023\nProject - CRM Mirgation, implemented under CHG#####\nDescription - This stored procedure will truncate the table CRM_PLAT_DYN_INCIDENT_STG before loading any data into it.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_CDI].[PRC_TRUNCATE_NAMED_TABLE]",
					"storedProcedureParameters": {
						"p_table_name": {
							"value": "CRM_PLAT_DYN_INCIDENT_STG",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
						"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION",
						"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT"
					}
				}
			},
			{
				"name": "cd-TD_CRM_PLAT_DYN_INCIDENT_STG",
				"description": "Name - Nikita Varnwal\nDate - June 2023\nProject - CRM Migration, implemented under CHG######\nDescription - This copy activity will copy all the selected field's data from INCIDENT table from CRM to STAGE_LOAD TD_CRM_PLAT_DYN_INCIDENT_STG table. ",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "sp-TRUNCATE-CRM_PLAT_DYN_INCIDENT_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "sp-TRUNCATE-TD_CRM_PLAT_DYN_INCIDENT_STG_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select INCIDENTID,\n       TICKETNUMBER,\n       CASETYPECODE,\n       SUBJECTIDNAME,\n       OWNERIDNAME,\n       CASEORIGINCODE,\n       NEW_CASESTATUS,\n       TITLE,\n       DESCRIPTION,\n       CREATEDON,\n       ASC_DATECLOSED,\n       ASC_DATESETONHOLD,\n       CREATEDBYNAME,\n       MODIFIEDON,\n       MODIFIEDBYNAME,\n       ASC_BROKERID,\n       ASC_BROKERIDNAME,\n       ASC_CANNOTBESTARTEDSETDATE,\n       ASC_CASETYPE,\n       ASC_CHARITY,\n       ASC_CLEANAPPLICATION,\n       ASC_COMPLAINTID,\n       ASC_COMPLAINTIDNAME,\n       ASC_CORPORATE,\n       ASC_DATAPROTECTIONCHECK,\n       ASC_DATERECEIVED,\n       ASC_DATEWORKSTARTEDONCASE,\n       ASC_DAYSONHOLD,\n       ASC_DAYSONHOLDCURRENT,\n       ASC_ENHANCEDDATACHECKS,\n       ASC_GIA,\n       ASC_ISA,\n       ASC_ISCASERESOLVED,\n       ASC_ITHELPDESKRAISED,\n       ASC_JISA,\n       ASC_NUMBEROFCLIENTS,\n       ASC_ONEANDDONE,\n       ASC_ONETOUCH,\n       ASC_ONHOLD,\n       ASC_OTHER,\n       ASC_PENDINGREASON,\n       ASC_REASONAPPLICATIONUNCLEAN,\n       ASC_REASONDPACHECKNOTAPPLICABLE,\n       ASC_RECEIVEDAFTER3PM,\n       ASC_ROOTCAUSE,\n       ASC_SETONHOLDBYID,\n       ASC_SETONHOLDBYIDNAME,\n       ASC_SLADATE,\n       ASC_SUBJECT,\n       ASC_TAKENOFFFROMHOLD,\n       ASC_TEAMSLADATE,\n       ASC_TRUST,\n       ASC_WORKINGDAYS,\n       CREATEDBY,\n       CUSTOMERID,\n       CUSTOMERIDNAME,\n       MODIFIEDBY,\n       NEW_ADVISER,\n       NEW_ADVISERNAME,\n       NEW_BDM,\n       NEW_BDMNAME,\n       NEW_DATEACKNOWLEDGED,\n       NEW_EMAILTOCASEQUEUE,\n       NEW_REFERENCEACCEXECTEAMID,\n       NEW_REFERENCEACCEXECTEAMIDNAME,\n       NEW_REFERENCEASCENTRICCRMSERVERID,\n       NEW_REFERENCEASCENTRICCRMSERVERIDNAME,\n       OWNERID,\n       SUBJECTID,\n       asc_SIPP,\n       asc_thirdparty,\n       statuscode,\n       statecode\n  from DBO.INCIDENT\n where CASETYPECODE in (1,3,200004,100000000,100000005,100000006, 200001,100000003,100000001, 100000004, 100000002)\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "INCIDENTID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "INCIDENTID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TICKETNUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TICKETNUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CASETYPECODE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "CASETYPECODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "SUBJECTIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SUBJECTIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OWNERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OWNERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CASEORIGINCODE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "CASEORIGINCODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "NEW_CASESTATUS",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "NEW_CASESTATUS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "TITLE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TITLE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DESCRIPTION",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "DESCRIPTION",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CREATEDON",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CREATEDON",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_DATECLOSED",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATECLOSED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_DATESETONHOLD",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATESETONHOLD",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "CREATEDBYNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CREATEDBYNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MODIFIEDON",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "MODIFIEDON",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "MODIFIEDBYNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MODIFIEDBYNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_BROKERID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_BROKERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_BROKERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_BROKERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_CANNOTBESTARTEDSETDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_CANNOTBESTARTEDSETDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_CASETYPE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_CASETYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_CHARITY",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_CHARITY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_CLEANAPPLICATION",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_CLEANAPPLICATION",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_COMPLAINTID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_COMPLAINTID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_COMPLAINTIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_COMPLAINTIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_CORPORATE",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_CORPORATE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_DATAPROTECTIONCHECK",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_DATAPROTECTIONCHECK",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_DATERECEIVED",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATERECEIVED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_DATEWORKSTARTEDONCASE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATEWORKSTARTEDONCASE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_DAYSONHOLD",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_DAYSONHOLD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_DAYSONHOLDCURRENT",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_DAYSONHOLDCURRENT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_ENHANCEDDATACHECKS",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_ENHANCEDDATACHECKS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_GIA",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_GIA",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_ISA",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_ISA",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_ISCASERESOLVED",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_ISCASERESOLVED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_ITHELPDESKRAISED",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_ITHELPDESKRAISED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_JISA",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_JISA",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_NUMBEROFCLIENTS",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_NUMBEROFCLIENTS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_ONEANDDONE",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_ONEANDDONE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_ONETOUCH",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_ONETOUCH",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_ONHOLD",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_ONHOLD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_OTHER",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_OTHER",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_PENDINGREASON",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_PENDINGREASON",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_REASONAPPLICATIONUNCLEAN",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_REASONAPPLICATIONUNCLEAN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_REASONDPACHECKNOTAPPLICABLE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_REASONDPACHECKNOTAPPLICABLE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_RECEIVEDAFTER3PM",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_RECEIVEDAFTER3PM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_ROOTCAUSE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_ROOTCAUSE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_SETONHOLDBYID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_SETONHOLDBYID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_SETONHOLDBYIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_SETONHOLDBYIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_SLADATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_SLADATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_SUBJECT",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_SUBJECT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_TAKENOFFFROMHOLD",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_TAKENOFFFROMHOLD",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_TEAMSLADATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_TEAMSLADATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_TRUST",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_TRUST",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_WORKINGDAYS",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_WORKINGDAYS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CREATEDBY",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "CREATEDBY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CUSTOMERID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "CUSTOMERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CUSTOMERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CUSTOMERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MODIFIEDBY",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "MODIFIEDBY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_ADVISER",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "NEW_ADVISER",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_ADVISERNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_ADVISERNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NEW_BDM",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "NEW_BDM",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_BDMNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_BDMNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NEW_DATEACKNOWLEDGED",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "NEW_DATEACKNOWLEDGED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "NEW_EMAILTOCASEQUEUE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_EMAILTOCASEQUEUE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NEW_REFERENCEACCEXECTEAMID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "NEW_REFERENCEACCEXECTEAMID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_REFERENCEACCEXECTEAMIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_REFERENCEACCEXECTEAMIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NEW_REFERENCEASCENTRICCRMSERVERID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "NEW_REFERENCEASCENTRICCRMSERVERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_REFERENCEASCENTRICCRMSERVERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_REFERENCEASCENTRICCRMSERVERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OWNERID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "OWNERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SUBJECTID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "SUBJECTID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_SIPP",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_SIPP",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_thirdparty",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_thirdparty",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "statuscode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "statuscode",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "statecode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "statecode",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": true
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_MS_DYNAMICS",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "dbo",
							"TABLE_NAME": "INCIDENT",
							"MS_DYNAMICS_HOST": "@pipeline().globalParameters.MS_DYNAMICS_HOST",
							"MS_DYNAMICS_PORT": "@pipeline().globalParameters.MS_DYNAMICS_PORT",
							"MS_DYNAMICS_DATABASE": "@pipeline().globalParameters.MS_DYNAMICS_DATABASE",
							"MS_DYNAMICS_USERNAME": "@pipeline().globalParameters.MS_DYNAMICS_USERNAME"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_ASQLDB_WOKING_SHIR",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "STAGE_LOAD",
							"TABLE_NAME": "TD_CRM_PLAT_DYN_INCIDENT_STG",
							"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
							"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION"
						}
					}
				]
			},
			{
				"name": "sp-UPDATE_BATCH_AUDIT-CRM_PLAT_DYN_INCIDENT_STG",
				"description": "Name - Nikita Varnwal\nDate - June 2023\nProject - CRM Migration. implemented under CHG#####\nDescription - This stored procedure is updating all the required columns in the BATCH_AUDIT table in STAGE_CDI with the required pipeline run information.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cd-CRM_PLAT_DYN_INCIDENT_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "[STAGE_CDI].[PRC_BATCH_AUDIT]",
						"type": "Expression"
					},
					"storedProcedureParameters": {
						"p_billable_duration": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_INCIDENT_STG').output.billingReference.billableDuration[0].duration",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"p_billable_unit": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_INCIDENT_STG').output.billingReference.billableDuration[0].unit",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_duration": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_INCIDENT_STG').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_process_start_dt": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_INCIDENT_STG').output.executionDetails[0].start",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_records_read": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_INCIDENT_STG').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_records_written": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_INCIDENT_STG').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_table_name": {
							"value": {
								"value": "CRM_PLAT_DYN_INCIDENT_STG",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_trigger_name": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
						"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION",
						"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT"
					}
				}
			},
			{
				"name": "sp-TRUNCATE-TD_CRM_PLAT_DYN_INCIDENT_STG_copy1",
				"description": "Name - Nikita Varnwal\nDate - June 2023\nProject - CRM Mirgation, implemented under CHG#####\nDescription - This stored procedure will truncate the table TD_CRM_PLAT_DYN_INCIDENT_STG before loading any data into it.\n",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_LOAD].[PRC_TRUNCATE_TD_TABLE]",
					"storedProcedureParameters": {
						"p_table_name": {
							"value": "TD_CRM_PLAT_DYN_INCIDENT_STG",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
						"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION",
						"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT"
					}
				}
			},
			{
				"name": "cd-CRM_PLAT_DYN_INCIDENT_STG",
				"description": "Name - Nikita Varnwal\nDate - June 2023\nProject - CRM Migration, implemented under CHG######\nDescription - This copy activity will copy all the selected field's data from STAGE_LOAD TD_CRM_PLAT_DYN_INCIDENT_STG table to STAGE_CDI CRM_PLAT_DYN_INCIDENT_STG table. ",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "cd-TD_CRM_PLAT_DYN_INCIDENT_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select TCPDIS.S_INCIDENT_KEY,\n       TCPDIS.S_CREATE_DATETIME,\n       TCPDIS.S_UPDATE_DATETIME,\n       TCPDIS.INCIDENTID,\n       TCPDIS.TICKETNUMBER,\n       TCPDIS.CASETYPECODE,\n       TCPDIS.SUBJECTIDNAME,\n       TCPDIS.OWNERIDNAME,\n       TCPDIS.CASEORIGINCODE,\n       TCPDIS.NEW_CASESTATUS,\n       TCPDIS.TITLE,\n       TCPDIS.DESCRIPTION,\n       TCPDIS.CREATEDON,\n       TCPDIS.ASC_DATECLOSED,\n       TCPDIS.ASC_DATESETONHOLD,\n       TCPDIS.CREATEDBYNAME,\n       TCPDIS.MODIFIEDON,\n       TCPDIS.MODIFIEDBYNAME,\n       TCPDIS.ASC_BROKERID,\n       TCPDIS.ASC_BROKERIDNAME,\n       TCPDIS.ASC_CANNOTBESTARTEDSETDATE,\n       TCPDIS.ASC_CASETYPE,\n       TCPDIS.ASC_CHARITY,\n       TCPDIS.ASC_CLEANAPPLICATION,\n       TCPDIS.ASC_COMPLAINTID,\n       TCPDIS.ASC_COMPLAINTIDNAME,\n       TCPDIS.ASC_CORPORATE,\n       TCPDIS.ASC_DATAPROTECTIONCHECK,\n       TCPDIS.ASC_DATERECEIVED,\n       TCPDIS.ASC_DATEWORKSTARTEDONCASE,\n       TCPDIS.ASC_DAYSONHOLD,\n       TCPDIS.ASC_DAYSONHOLDCURRENT,\n       TCPDIS.ASC_ENHANCEDDATACHECKS,\n       TCPDIS.ASC_GIA,\n       TCPDIS.ASC_ISA,\n       TCPDIS.ASC_ISCASERESOLVED,\n       TCPDIS.ASC_ITHELPDESKRAISED,\n       TCPDIS.ASC_JISA,\n       TCPDIS.ASC_NUMBEROFCLIENTS,\n       TCPDIS.ASC_ONEANDDONE,\n       TCPDIS.ASC_ONETOUCH,\n       TCPDIS.ASC_ONHOLD,\n       TCPDIS.ASC_OTHER,\n       TCPDIS.ASC_PENDINGREASON,\n       TCPDIS.ASC_REASONAPPLICATIONUNCLEAN,\n       TCPDIS.ASC_REASONDPACHECKNOTAPPLICABLE,\n       TCPDIS.ASC_RECEIVEDAFTER3PM,\n       TCPDIS.ASC_ROOTCAUSE,\n       TCPDIS.ASC_SETONHOLDBYID,\n       TCPDIS.ASC_SETONHOLDBYIDNAME,\n       TCPDIS.ASC_SLADATE,\n       TCPDIS.ASC_SUBJECT,\n       TCPDIS.ASC_TAKENOFFFROMHOLD,\n       TCPDIS.ASC_TEAMSLADATE,\n       TCPDIS.ASC_TRUST,\n       TCPDIS.ASC_WORKINGDAYS,\n       TCPDIS.CREATEDBY,\n       TCPDIS.CUSTOMERID,\n       TCPDIS.CUSTOMERIDNAME,\n       TCPDIS.MODIFIEDBY,\n       TCPDIS.NEW_ADVISER,\n       TCPDIS.NEW_ADVISERNAME,\n       TCPDIS.NEW_BDM,\n       TCPDIS.NEW_BDMNAME,\n       TCPDIS.NEW_DATEACKNOWLEDGED,\n       TCPDIS.NEW_EMAILTOCASEBODYRAW,\n       TCPDIS.NEW_EMAILTOCASEBODYTEXT,\n       TCPDIS.NEW_EMAILTOCASEQUEUE,\n       TCPDIS.NEW_REFERENCEACCEXECTEAMID,\n       TCPDIS.NEW_REFERENCEACCEXECTEAMIDNAME,\n       TCPDIS.NEW_REFERENCEASCENTRICCRMSERVERID,\n       TCPDIS.NEW_REFERENCEASCENTRICCRMSERVERIDNAME,\n       TCPDIS.OWNERID,\n       TCPDIS.SUBJECTID,\n       TCPDIS.asc_SIPP,\n       TCPDIS.asc_thirdparty,\n       TCPDIS.statuscode,\n       TCPDIS.statecode\n  from STAGE_LOAD.TD_CRM_PLAT_DYN_INCIDENT_STG TCPDIS\n inner join STAGE_CDI.CRM_PLAT_DYN_CODE_TYPE CPDCT \n    on (TCPDIS.CASETYPECODE = CPDCT.CODE_NUMBER)\n where CPDCT.CODE_NUMBER is not null\n   and CPDCT.CRM_TABLE_NAME = 'INCIDENT'\n   and CPDCT.CODE_TYPE = 'CaseTypeCode'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "S_INCIDENT_KEY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 38
								},
								"sink": {
									"name": "S_INCIDENT_KEY",
									"type": "Int64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "S_CREATE_DATETIME",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "S_CREATE_DATETIME",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "S_UPDATE_DATETIME",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "S_UPDATE_DATETIME",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "INCIDENTID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "INCIDENTID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TICKETNUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TICKETNUMBER",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CASETYPECODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "CASETYPECODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "SUBJECTIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SUBJECTIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OWNERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OWNERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CASEORIGINCODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "CASEORIGINCODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "NEW_CASESTATUS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "NEW_CASESTATUS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "TITLE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TITLE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DESCRIPTION",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "DESCRIPTION",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CREATEDON",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "CREATEDON",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_DATECLOSED",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "ASC_DATECLOSED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_DATESETONHOLD",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "ASC_DATESETONHOLD",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "CREATEDBYNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CREATEDBYNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MODIFIEDON",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "MODIFIEDON",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "MODIFIEDBYNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MODIFIEDBYNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_BROKERID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ASC_BROKERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_BROKERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_BROKERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_CANNOTBESTARTEDSETDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "ASC_CANNOTBESTARTEDSETDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_CASETYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "ASC_CASETYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_CHARITY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								},
								"sink": {
									"name": "ASC_CHARITY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_CLEANAPPLICATION",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								},
								"sink": {
									"name": "ASC_CLEANAPPLICATION",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_COMPLAINTID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ASC_COMPLAINTID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_COMPLAINTIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_COMPLAINTIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_CORPORATE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								},
								"sink": {
									"name": "ASC_CORPORATE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_DATAPROTECTIONCHECK",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "ASC_DATAPROTECTIONCHECK",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_DATERECEIVED",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "ASC_DATERECEIVED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_DATEWORKSTARTEDONCASE",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "ASC_DATEWORKSTARTEDONCASE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_DAYSONHOLD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "ASC_DAYSONHOLD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_DAYSONHOLDCURRENT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "ASC_DAYSONHOLDCURRENT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_ENHANCEDDATACHECKS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "ASC_ENHANCEDDATACHECKS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_GIA",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								},
								"sink": {
									"name": "ASC_GIA",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_ISA",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								},
								"sink": {
									"name": "ASC_ISA",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_ISCASERESOLVED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								},
								"sink": {
									"name": "ASC_ISCASERESOLVED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_ITHELPDESKRAISED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								},
								"sink": {
									"name": "ASC_ITHELPDESKRAISED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_JISA",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								},
								"sink": {
									"name": "ASC_JISA",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_NUMBEROFCLIENTS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "ASC_NUMBEROFCLIENTS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_ONEANDDONE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								},
								"sink": {
									"name": "ASC_ONEANDDONE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_ONETOUCH",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								},
								"sink": {
									"name": "ASC_ONETOUCH",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_ONHOLD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								},
								"sink": {
									"name": "ASC_ONHOLD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_OTHER",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								},
								"sink": {
									"name": "ASC_OTHER",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_PENDINGREASON",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "ASC_PENDINGREASON",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_REASONAPPLICATIONUNCLEAN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "ASC_REASONAPPLICATIONUNCLEAN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_REASONDPACHECKNOTAPPLICABLE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ASC_REASONDPACHECKNOTAPPLICABLE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_RECEIVEDAFTER3PM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								},
								"sink": {
									"name": "ASC_RECEIVEDAFTER3PM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_ROOTCAUSE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "ASC_ROOTCAUSE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_SETONHOLDBYID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ASC_SETONHOLDBYID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_SETONHOLDBYIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_SETONHOLDBYIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ASC_SLADATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "ASC_SLADATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_SUBJECT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "ASC_SUBJECT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_TAKENOFFFROMHOLD",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "ASC_TAKENOFFFROMHOLD",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_TEAMSLADATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "ASC_TEAMSLADATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_TRUST",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								},
								"sink": {
									"name": "ASC_TRUST",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_WORKINGDAYS",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_WORKINGDAYS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CREATEDBY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CREATEDBY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CUSTOMERID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "CUSTOMERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CUSTOMERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CUSTOMERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MODIFIEDBY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "MODIFIEDBY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_ADVISER",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NEW_ADVISER",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_ADVISERNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_ADVISERNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NEW_BDM",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NEW_BDM",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_BDMNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_BDMNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NEW_DATEACKNOWLEDGED",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "NEW_DATEACKNOWLEDGED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "NEW_EMAILTOCASEBODYRAW",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NEW_EMAILTOCASEBODYRAW",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_EMAILTOCASEBODYTEXT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NEW_EMAILTOCASEBODYTEXT",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_EMAILTOCASEQUEUE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_EMAILTOCASEQUEUE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NEW_REFERENCEACCEXECTEAMID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NEW_REFERENCEACCEXECTEAMID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_REFERENCEACCEXECTEAMIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_REFERENCEACCEXECTEAMIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NEW_REFERENCEASCENTRICCRMSERVERID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NEW_REFERENCEASCENTRICCRMSERVERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_REFERENCEASCENTRICCRMSERVERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_REFERENCEASCENTRICCRMSERVERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OWNERID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "OWNERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SUBJECTID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SUBJECTID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_SIPP",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								},
								"sink": {
									"name": "asc_SIPP",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_thirdparty",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								},
								"sink": {
									"name": "asc_thirdparty",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "statuscode",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "statuscode",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "statecode",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								},
								"sink": {
									"name": "statecode",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": true
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_ASQLDB",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "STAGE_LOAD",
							"TABLE_NAME": "TD_CRM_PLAT_DYN_INCIDENT_STG",
							"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
							"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_ASQLDB",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "STAGE_CDI",
							"TABLE_NAME": "CRM_PLAT_DYN_INCIDENT_STG",
							"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
							"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION"
						}
					}
				]
			},
			{
				"name": "sp-UPDATE_BATCH_AUDIT-TD_CRM_PLAT_DYN_INCIDENT_STG",
				"description": "Name - Nikita Varnwal\nDate - June 2023\nProject - CRM Migration. implemented under CHG#####\nDescription - This stored procedure is updating all the required columns in the BATCH_AUDIT table in STAGE_CDI with the required pipeline run information.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cd-TD_CRM_PLAT_DYN_INCIDENT_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "[STAGE_CDI].[PRC_BATCH_AUDIT]",
						"type": "Expression"
					},
					"storedProcedureParameters": {
						"p_billable_duration": {
							"value": {
								"value": "@activity('cd-TD_CRM_PLAT_DYN_INCIDENT_STG').output.billingReference.billableDuration[0].duration",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"p_billable_unit": {
							"value": {
								"value": "@activity('cd-TD_CRM_PLAT_DYN_INCIDENT_STG').output.billingReference.billableDuration[0].unit",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_duration": {
							"value": {
								"value": "@activity('cd-TD_CRM_PLAT_DYN_INCIDENT_STG').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_process_start_dt": {
							"value": {
								"value": "@activity('cd-TD_CRM_PLAT_DYN_INCIDENT_STG').output.executionDetails[0].start",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_records_read": {
							"value": {
								"value": "@activity('cd-TD_CRM_PLAT_DYN_INCIDENT_STG').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_records_written": {
							"value": {
								"value": "@activity('cd-TD_CRM_PLAT_DYN_INCIDENT_STG').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_table_name": {
							"value": {
								"value": "TD_CRM_PLAT_DYN_INCIDENT_STG",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_trigger_name": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": {
							"value": "@pipeline().globalParameters.ENVIRONMENT",
							"type": "Expression"
						},
						"SHORT_LOCATION": {
							"value": "@pipeline().globalParameters.SHORT_LOCATION",
							"type": "Expression"
						},
						"LOGICAL_ENVIRONMENT": {
							"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"type": "Expression"
						}
					}
				}
			}
		],
		"folder": {
			"name": "MSDynamics Migration"
		},
		"annotations": []
	}
}