src/pipeline/p_MSD_CDI_CRM_PLAT_DYN_ACCOUNT_STG.json
{
	"name": "p_MSD_CDI_CRM_PLAT_DYN_ACCOUNT_STG",
	"properties": {
		"description": "Name - Nikita Varnwal\nDate - August 2023\nProject - CRM Migration, implemented under CHG######\nDescription - This pipeline will pull all the data from the required fields of ACCOUNT table on a truncate and reload strategy from CRM and load it into CRM_PLAT_DYN_ACCOUNT_STG table in MsDynamics STAGE_CDI. ",
		"activities": [
			{
				"name": "sp-TRUNCATE-CRM_PLAT_DYN_ACCOUNT_STG",
				"description": "Name - Nikita Varnwal\nDate - Aug 2023\nProject - CRM Mirgation, implemented under CHG#####\nDescription - As a part of truncate and reload strategy ,this stored procedure will truncate the table CRM_PLAT_DYN_ACCOUNT_STG before loading any data into it .",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_CDI].[PRC_TRUNCATE_NAMED_TABLE]",
					"storedProcedureParameters": {
						"p_table_name": {
							"value": {
								"value": "CRM_PLAT_DYN_ACCOUNT_STG",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
						"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION",
						"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT"
					}
				}
			},
			{
				"name": "cd-CRM_PLAT_DYN_ACCOUNT_STG",
				"description": "Name - Nikita Varnwal\nDate - Aug 2023\nProject - CRM Migration, implemented under CHG######\nDescription - This copy activity will copy all the selected field's data of Account table from CRM to CRM_PLAT_DYN_DIVORCECLAIM_STG table of STAGE_CDI CRM_PLAT_DYN_ACCOUNT_STG table. ",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "sp-TRUNCATE-CRM_PLAT_DYN_ACCOUNT_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT ACCOUNTID\n,ASC_TOTALASSETS\n,PARENTACCOUNTID\n,PARENTACCOUNTIDNAME\n,OWNERID\n,OWNERIDNAME\n,ASC_VIPCATEGORY\n,NAME\n,ASC_SONATACLIENTID\n,ASC_SONATAOUTLETID\n,ASC_SONATAOUTLETTYPE\n,NEW_TEAM_TEAM\n,ACCOUNTCATEGORYCODE\n,ASC_SONATASTATUS\n,CUSTOMERTYPECODE\n,TELEPHONE1\n,FAX\n,WEBSITEURL\n,EMAILADDRESS1\n,ASC_PARENTCOMPANYID\n,ASC_PARENTCOMPANYIDNAME\n,ASC_HIGHPRIORITY\n,ASC_RISKLEVEL\n,ASC_CAUSEOFRISK\n,ASC_VIPSETBYID\n,ASC_VIPSETBYIDNAME\n,ASC_VIPSETDATE\n,ASC_REASONFORVIPSTATUS\n,ASC_SUBSEGMENT\n,ASC_SALESREGION\n,ASC_PCADMIN\n,NEW_VALIDATED\n,NEW_REFERENCEVALIDATEDBYID\n,NEW_REFERENCEVALIDATEDBYIDNAME\n,NEW_VALIDATEDDATE\n,ASC_ADVISINGONSTRUCTUREDDEPOSITS\n,ASC_INTROCALLREQUESTED\n,ASC_INTROCALLREQUESTEDDATE\n,ASC_INTROCALLCOMPLETED\n,ASC_INTROCALLCOMPLETEDDATE\n,ASC_AWAITINGAPPLICATION\n,NEW_BROKER_BROKER\n,ADDRESS1_COMPOSITE\n,NEW_BROKER_BASE_COUNTRY\n,NEW_BROKER_BASE_CY\n,NEW_FINANCIALDATE\n,NEW_FINANCIALPENDINGPURCHASES\n,NEW_FINANCIALCLIENTCOUNT\n,NEW_FINANCIALCASH\n,NEW_FINANCIALFREEASSETS\n,NEW_FINANCIALTOTALASSETS\n,ASC_SONATAFINANCIALSDATE\n,ASC_SONATAPENDINGPURCHASES\n,ASC_SONATAFINANCIALSCLIENTCOUNT\n,ASC_SONATAFINANCIALSCASH\n,ASC_SONATAFINANCIALSFREEASSETS\n,ASC_SONATAFINANCIALSTOTALASSETS\n,ASC_BDTEAM\n,ASC_BDCCONTACTID\n,ASC_BDCCONTACTIDNAME\n,ASC_BRANDED\n,ASC_BRANDEDLOGINPAGE\n,ASC_ENGAGEMENTDATE\n,ASC_INCEPTIONDATE\n,ASC_FIRMFSA\n,NEW_TEAM_FSA_NO\n,NEW_TEAM_FIRM_CODE\n,ASC_PARENTGROUP\n,NEW_REFERENCECSTEAMID\n,ASC_CSCONTACTID\n,ASC_CSCONTACTIDNAME\n,ASC_FIRMTYPE\n,ASC_LINKEDFSA\n,ASC_REGULATORYSTATUS\n,ASC_REGULATORYBODYID\n,ASC_REGULATORYBODYIDNAME\n,ASC_MATRIXSTATUS\n,ASC_NOOFRIS\n,ASC_MATRIXFIRMNAME\n,NEW_PROSPECTADDRESSNAME\n,NEW_PROSPECTADDRESSLINE1\n,NEW_PROSPECTADDRESSLINE2\n,NEW_PROSPECTADDRESSLINE3\n,NEW_PROSPECTADDRESSLINE4\n,NEW_PROSPECTADDRESSLINE5\n,NEW_PROSPECTADDRESSCOUNTRY\n,TERRITORYID\n,NEW_PROSPECTPHONEWORK\n,ASC_TWITTERUSERID\n,ASC_TWITTERURL\n,NEW_SHAREPOINTFOLDERCONTROL\n,NEW_REFERENCEMANUALLYCREATEDBYID\n,NEW_REFERENCEMANUALLYCREATEDBYIDNAME\n,CREATEDBY\n,CREATEDBYNAME\n,MODIFIEDBY\n,MODIFIEDBYNAME\n,CREATEDON\n,MODIFIEDON\n,TRANSACTIONCURRENCYID\n,ORIGINATINGLEADID\n,CREDITLIMIT\n,CREDITONHOLD\n,PAYMENTTERMSCODE\n,DEFAULTPRICELEVELID\n,DONOTEMAIL\n,DONOTBULKEMAIL\n,DONOTPHONE\n,DONOTFAX\n,DONOTPOSTALMAIL\n,DONOTSENDMM\n,LASTUSEDINCAMPAIGN\n,PREFERREDCONTACTMETHODCODE\n,PREFERREDSYSTEMUSERID\n,PREFERREDAPPOINTMENTDAYCODE\n,PREFERREDSERVICEID\n,PREFERREDAPPOINTMENTTIMECODE\n,NEW_UPDATEDBYBLUEBUTTONON\n,ASC_LASTUPDATEDBYSONATAON\n,ADDRESS1_LINE1\n,ADDRESS1_LINE2\n,ADDRESS1_LINE3\n,ADDRESS1_CITY\n,ADDRESS1_COUNTY\n,ADDRESS1_POSTALCODE\n,ADDRESS1_COUNTRY\n,PRIMARYCONTACTID\n,PRIMARYCONTACTIDNAME\n,ADDRESS1_NAME\n,NEW_TRUST_TRUSTEE_NAME\n,NEW_TRUST_NAME\n,NEW_PROSPECTEMAIL\n,NEW_PROSPECTPHONEHOME\n,NEW_PROSPECTPHONEMOBILE\n,NEW_PROSPECTADDRESSPOSTCODE\nFROM ACCOUNT",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ACCOUNTID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ACCOUNTID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_TOTALASSETS",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "ASC_TOTALASSETS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "PARENTACCOUNTID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "PARENTACCOUNTID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PARENTACCOUNTIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PARENTACCOUNTIDNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OWNERID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "OWNERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OWNERIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OWNERIDNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_VIPCATEGORY",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_VIPCATEGORY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "NAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_SONATACLIENTID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_SONATACLIENTID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_SONATAOUTLETID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_SONATAOUTLETID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_SONATAOUTLETTYPE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_SONATAOUTLETTYPE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_TEAM_TEAM",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_TEAM_TEAM",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ACCOUNTCATEGORYCODE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ACCOUNTCATEGORYCODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_SONATASTATUS",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_SONATASTATUS",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CUSTOMERTYPECODE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "CUSTOMERTYPECODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "TELEPHONE1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "TELEPHONE1",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "FAX",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "FAX",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "WEBSITEURL",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "WEBSITEURL",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "EMAILADDRESS1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EMAILADDRESS1",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_PARENTCOMPANYID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_PARENTCOMPANYID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_PARENTCOMPANYIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_PARENTCOMPANYIDNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_HIGHPRIORITY",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_HIGHPRIORITY",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_RISKLEVEL",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_RISKLEVEL",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_CAUSEOFRISK",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_CAUSEOFRISK",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_VIPSETBYID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_VIPSETBYID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_VIPSETBYIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_VIPSETBYIDNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_VIPSETDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_VIPSETDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_REASONFORVIPSTATUS",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_REASONFORVIPSTATUS",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_SUBSEGMENT",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_SUBSEGMENT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_SALESREGION",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_SALESREGION",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_PCADMIN",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_PCADMIN",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_VALIDATED",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "NEW_VALIDATED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "NEW_REFERENCEVALIDATEDBYID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "NEW_REFERENCEVALIDATEDBYID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_REFERENCEVALIDATEDBYIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_REFERENCEVALIDATEDBYIDNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_VALIDATEDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "NEW_VALIDATEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_ADVISINGONSTRUCTUREDDEPOSITS",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_ADVISINGONSTRUCTUREDDEPOSITS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_INTROCALLREQUESTED",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_INTROCALLREQUESTED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_INTROCALLREQUESTEDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_INTROCALLREQUESTEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_INTROCALLCOMPLETED",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_INTROCALLCOMPLETED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ASC_INTROCALLCOMPLETEDDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_INTROCALLCOMPLETEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_AWAITINGAPPLICATION",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_AWAITINGAPPLICATION",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "NEW_BROKER_BROKER",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_BROKER_BROKER",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ADDRESS1_COMPOSITE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ADDRESS1_COMPOSITE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_BROKER_BASE_COUNTRY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_BROKER_BASE_COUNTRY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_BROKER_BASE_CY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_BROKER_BASE_CY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_FINANCIALDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "NEW_FINANCIALDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "NEW_FINANCIALPENDINGPURCHASES",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 10,
									"precision": 23
								},
								"sink": {
									"name": "NEW_FINANCIALPENDINGPURCHASES",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 10,
									"precision": 23
								}
							},
							{
								"source": {
									"name": "NEW_FINANCIALCLIENTCOUNT",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "NEW_FINANCIALCLIENTCOUNT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "NEW_FINANCIALCASH",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 10,
									"precision": 23
								},
								"sink": {
									"name": "NEW_FINANCIALCASH",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 10,
									"precision": 23
								}
							},
							{
								"source": {
									"name": "NEW_FINANCIALFREEASSETS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 10,
									"precision": 23
								},
								"sink": {
									"name": "NEW_FINANCIALFREEASSETS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 10,
									"precision": 23
								}
							},
							{
								"source": {
									"name": "NEW_FINANCIALTOTALASSETS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 10,
									"precision": 23
								},
								"sink": {
									"name": "NEW_FINANCIALTOTALASSETS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 10,
									"precision": 23
								}
							},
							{
								"source": {
									"name": "ASC_SONATAFINANCIALSDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_SONATAFINANCIALSDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_SONATAPENDINGPURCHASES",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "ASC_SONATAPENDINGPURCHASES",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "ASC_SONATAFINANCIALSCLIENTCOUNT",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_SONATAFINANCIALSCLIENTCOUNT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_SONATAFINANCIALSCASH",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "ASC_SONATAFINANCIALSCASH",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "ASC_SONATAFINANCIALSFREEASSETS",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "ASC_SONATAFINANCIALSFREEASSETS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "ASC_SONATAFINANCIALSTOTALASSETS",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "ASC_SONATAFINANCIALSTOTALASSETS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "ASC_BDTEAM",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_BDTEAM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_BDCCONTACTID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_BDCCONTACTID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_BDCCONTACTIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_BDCCONTACTIDNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_BRANDED",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_BRANDED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_BRANDEDLOGINPAGE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_BRANDEDLOGINPAGE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_ENGAGEMENTDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_ENGAGEMENTDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_INCEPTIONDATE",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_INCEPTIONDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_FIRMFSA",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_FIRMFSA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_TEAM_FSA_NO",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_TEAM_FSA_NO",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_TEAM_FIRM_CODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_TEAM_FIRM_CODE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_PARENTGROUP",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_PARENTGROUP",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_REFERENCECSTEAMID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "NEW_REFERENCECSTEAMID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_CSCONTACTID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_CSCONTACTID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_CSCONTACTIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_CSCONTACTIDNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_FIRMTYPE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_FIRMTYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_LINKEDFSA",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_LINKEDFSA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_REGULATORYSTATUS",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_REGULATORYSTATUS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_REGULATORYBODYID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_REGULATORYBODYID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_REGULATORYBODYIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_REGULATORYBODYIDNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_MATRIXSTATUS",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_MATRIXSTATUS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_NOOFRIS",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_NOOFRIS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ASC_MATRIXFIRMNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_MATRIXFIRMNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_PROSPECTADDRESSNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_PROSPECTADDRESSNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_PROSPECTADDRESSLINE1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_PROSPECTADDRESSLINE1",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_PROSPECTADDRESSLINE2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_PROSPECTADDRESSLINE2",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_PROSPECTADDRESSLINE3",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_PROSPECTADDRESSLINE3",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_PROSPECTADDRESSLINE4",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_PROSPECTADDRESSLINE4",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_PROSPECTADDRESSLINE5",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_PROSPECTADDRESSLINE5",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_PROSPECTADDRESSCOUNTRY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_PROSPECTADDRESSCOUNTRY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TERRITORYID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "TERRITORYID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_PROSPECTPHONEWORK",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_PROSPECTPHONEWORK",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_TWITTERUSERID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_TWITTERUSERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ASC_TWITTERURL",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_TWITTERURL",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_SHAREPOINTFOLDERCONTROL",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_SHAREPOINTFOLDERCONTROL",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_REFERENCEMANUALLYCREATEDBYID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "NEW_REFERENCEMANUALLYCREATEDBYID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_REFERENCEMANUALLYCREATEDBYIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_REFERENCEMANUALLYCREATEDBYIDNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CREATEDBY",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "CREATEDBY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CREATEDBYNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CREATEDBYNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "MODIFIEDBY",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "MODIFIEDBY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "MODIFIEDBYNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "MODIFIEDBYNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CREATEDON",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CREATEDON",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "MODIFIEDON",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "MODIFIEDON",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "TRANSACTIONCURRENCYID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "TRANSACTIONCURRENCYID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ORIGINATINGLEADID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ORIGINATINGLEADID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CREDITLIMIT",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "CREDITLIMIT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "CREDITONHOLD",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "CREDITONHOLD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "PAYMENTTERMSCODE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PAYMENTTERMSCODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "DEFAULTPRICELEVELID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "DEFAULTPRICELEVELID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "DONOTEMAIL",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "DONOTEMAIL",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "DONOTBULKEMAIL",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "DONOTBULKEMAIL",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "DONOTPHONE",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "DONOTPHONE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "DONOTFAX",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "DONOTFAX",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "DONOTPOSTALMAIL",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "DONOTPOSTALMAIL",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "DONOTSENDMM",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "DONOTSENDMM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "LASTUSEDINCAMPAIGN",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "LASTUSEDINCAMPAIGN",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "PREFERREDCONTACTMETHODCODE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PREFERREDCONTACTMETHODCODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "PREFERREDSYSTEMUSERID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "PREFERREDSYSTEMUSERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PREFERREDAPPOINTMENTDAYCODE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PREFERREDAPPOINTMENTDAYCODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "PREFERREDSERVICEID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "PREFERREDSERVICEID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PREFERREDAPPOINTMENTTIMECODE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PREFERREDAPPOINTMENTTIMECODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "NEW_UPDATEDBYBLUEBUTTONON",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "NEW_UPDATEDBYBLUEBUTTONON",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ASC_LASTUPDATEDBYSONATAON",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_LASTUPDATEDBYSONATAON",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ADDRESS1_LINE1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ADDRESS1_LINE1",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ADDRESS1_LINE2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ADDRESS1_LINE2",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ADDRESS1_LINE3",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ADDRESS1_LINE3",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ADDRESS1_CITY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ADDRESS1_CITY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ADDRESS1_COUNTY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ADDRESS1_COUNTY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ADDRESS1_POSTALCODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ADDRESS1_POSTALCODE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ADDRESS1_COUNTRY",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ADDRESS1_COUNTRY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PRIMARYCONTACTID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "PRIMARYCONTACTID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PRIMARYCONTACTIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PRIMARYCONTACTIDNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ADDRESS1_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ADDRESS1_NAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_TRUST_TRUSTEE_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_TRUST_TRUSTEE_NAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_TRUST_NAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_TRUST_NAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_PROSPECTEMAIL",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_PROSPECTEMAIL",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_PROSPECTPHONEHOME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_PROSPECTPHONEHOME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_PROSPECTPHONEMOBILE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_PROSPECTPHONEMOBILE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "NEW_PROSPECTADDRESSPOSTCODE",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "NEW_PROSPECTADDRESSPOSTCODE",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": true
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_MS_DYNAMICS",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "dbo",
							"TABLE_NAME": "Account",
							"MS_DYNAMICS_HOST": "@pipeline().globalParameters.MS_DYNAMICS_HOST",
							"MS_DYNAMICS_PORT": "@pipeline().globalParameters.MS_DYNAMICS_PORT",
							"MS_DYNAMICS_DATABASE": "@pipeline().globalParameters.MS_DYNAMICS_DATABASE",
							"MS_DYNAMICS_USERNAME": "@pipeline().globalParameters.MS_DYNAMICS_USERNAME",
							"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
							"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_ASQLDB_WOKING_SHIR",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "STAGE_CDI",
							"TABLE_NAME": "CRM_PLAT_DYN_ACCOUNT_STG",
							"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
							"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION"
						}
					}
				]
			},
			{
				"name": "sp-UPDATE_BATCH_AUDIT-CRM_PLAT_DYN_ACCOUNT_STG",
				"description": "Name - Nikita Varnwal\nDate - Aug 2023\nProject - CRM Migration. implemented under CHG#####\nDescription - This stored procedure is updating the BATCH_AUDIT table in STAGE_CDI with the required information of pipeline run .\n",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cd-CRM_PLAT_DYN_ACCOUNT_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_CDI].[PRC_BATCH_AUDIT]",
					"storedProcedureParameters": {
						"p_billable_duration": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_ACCOUNT_STG').output.billingReference.billableDuration[0].duration",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"p_billable_unit": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_ACCOUNT_STG').output.billingReference.billableDuration[0].unit",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_duration": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_ACCOUNT_STG').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_process_start_dt": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_ACCOUNT_STG').output.executionDetails[0].start",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_records_read": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_ACCOUNT_STG').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_records_written": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_ACCOUNT_STG').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_table_name": {
							"value": "CRM_PLAT_DYN_ACCOUNT_STG",
							"type": "String"
						},
						"p_trigger_name": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
						"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION",
						"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT"
					}
				}
			}
		],
		"folder": {
			"name": "MSDynamics Migration"
		},
		"annotations": []
	}
}