src/pipeline/p_MSD-CDI-CRM_PLAT_DYN_ACTIVITYPARTY_STG.json
{
	"name": "p_MSD-CDI-CRM_PLAT_DYN_ACTIVITYPARTY_STG",
	"properties": {
		"description": "Name - Nikita Varnwal\nDate - Aug 2023\nProject - CRM Migration, implemented under CHG######\nDescription - This pipeline will pull all the data from the required fields from ACTIVITYPARTY table from CRM and load it into CRM_PLAT_DYN_ACTIVITYPARTY_STG table in STAGE_CDI.",
		"activities": [
			{
				"name": "sp-TRUNCATE-CRM_PLAT_DYN_ACTIVITYPARTY_STG",
				"description": "Name - Nikita Varnwal\nDate - Aug 2023\nProject - CRM Migration, implemented under CHG######\nDescription - This stored procedure will truncate the table CRM_PLAT_DYN_ACTIVITYPARTY_STG before loading any data into it.\n",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_CDI].[PRC_TRUNCATE_NAMED_TABLE]",
					"storedProcedureParameters": {
						"p_table_name": {
							"value": "CRM_PLAT_DYN_ACTIVITYPARTY_STG",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
						"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION",
						"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT"
					}
				}
			},
			{
				"name": "cd-CRM_PLAT_DYN_ACTIVITYPARTY_STG",
				"description": "Name - Nikita Varnwal\nDate - Aug 2023\nProject - CRM Migration, implemented under CHG######\nDescription - This copy activity will copy all the selected field's data from ACTIVITYPARTY table from CRM to CRM_PLAT_DYN_ACTIVITYPARTY_STG table of STAGE_CDI.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "sp-TRUNCATE-CRM_PLAT_DYN_ACTIVITYPARTY_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select ACTIVITYPARTYID,\r\n\t   ACTIVITYID,\r\n\t   PARTYID,\r\n\t   PARTYOBJECTTYPECODE,\r\n\t   PARTICIPATIONTYPEMASK,\r\n\t   ADDRESSUSED,\r\n\t   DONOTEMAIL,\r\n\t   DONOTFAX,\r\n\t   DONOTPOSTALMAIL,\r\n\t   DONOTPHONE,\r\n\t   PARTYIDDSC,\r\n\t   PARTYIDNAME,\r\n\t   ISPARTYDELETED,\r\n\t   EXCHANGEENTRYID,\r\n\t   EFFORT,\r\n\t   INSTANCETYPECODE,\r\n\t   RESOURCESPECID,\r\n\t   RESOURCESPECIDNAME,\r\n\t   RESOURCESPECIDDSC,\r\n\t   SCHEDULEDSTART,\r\n\t   SCHEDULEDEND,\r\n\t   OWNINGUSER,\r\n\t   OWNERID,\r\n\t   OWNERIDTYPE,\r\n\t   OWNINGBUSINESSUNIT\r\nfrom   ACTIVITYPARTY",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ACTIVITYPARTYID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ACTIVITYPARTYID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ACTIVITYID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ACTIVITYID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PARTYID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "PARTYID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PARTYOBJECTTYPECODE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PARTYOBJECTTYPECODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "PARTICIPATIONTYPEMASK",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PARTICIPATIONTYPEMASK",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ADDRESSUSED",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ADDRESSUSED",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "DONOTEMAIL",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "DONOTEMAIL",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "DONOTFAX",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "DONOTFAX",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "DONOTPOSTALMAIL",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "DONOTPOSTALMAIL",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "DONOTPHONE",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "DONOTPHONE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "PARTYIDDSC",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PARTYIDDSC",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "PARTYIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "PARTYIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ISPARTYDELETED",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ISPARTYDELETED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "EXCHANGEENTRYID",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "EXCHANGEENTRYID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "EFFORT",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "EFFORT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "INSTANCETYPECODE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "INSTANCETYPECODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "RESOURCESPECID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "RESOURCESPECID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RESOURCESPECIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "RESOURCESPECIDNAME",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "RESOURCESPECIDDSC",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "RESOURCESPECIDDSC",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "SCHEDULEDSTART",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "SCHEDULEDSTART",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "SCHEDULEDEND",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "SCHEDULEDEND",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "OWNINGUSER",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "OWNINGUSER",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OWNERID",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "OWNERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OWNERIDTYPE",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "OWNERIDTYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "OWNINGBUSINESSUNIT",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "OWNINGBUSINESSUNIT",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": true
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_MS_DYNAMICS",
						"type": "DatasetReference",
						"parameters": {
							"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
							"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION",
							"MS_DYNAMICS_DB": "@pipeline().globalParameters.MS_DYNAMICS_DB",
							"MS_DYNAMICS_DB_HOST": "@pipeline().globalParameters.MS_DYNAMICS_DB_HOST",
							"MS_DYNAMICS_DB_PORT": "@pipeline().globalParameters.MS_DYNAMICS_DB_PORT",
							"MS_DYNAMICS_DB_USERNAME": "@pipeline().globalParameters.MS_DYNAMICS_DB_USERNAME",
							"MS_DYNAMICS_DB_SECRET_NAME": "@pipeline().globalParameters.MS_DYNAMICS_DB_SECRET_NAME",
							"SCHEMA": "dbo",
							"TABLE_NAME": "ActivityParty"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_ASQLDB_WOKING_SHIR",
						"type": "DatasetReference",
						"parameters": {
							"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
							"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION",
							"SCHEMA": "STAGE_CDI",
							"TABLE_NAME": "CRM_PLAT_DYN_ACTIVITYPARTY_STG"
						}
					}
				]
			},
			{
				"name": "sp-UPDATE_BATCH_AUDIT-CRM_PLAT_DYN_ACTIVITYPARTY_STG",
				"description": "Name - Nikita Varnwal\nDate - Aug 2023\nProject - CRM Migration. implemented under CHG#####\nDescription - This stored procedure is updating the BATCH_AUDIT table in STAGE_CDI with the required information of pipeline run.",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cd-CRM_PLAT_DYN_ACTIVITYPARTY_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_CDI].[PRC_BATCH_AUDIT]",
					"storedProcedureParameters": {
						"p_billable_duration": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_ACTIVITYPARTY_STG').output.billingReference.billableDuration[0].duration",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"p_billable_unit": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_ACTIVITYPARTY_STG').output.billingReference.billableDuration[0].unit",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_duration": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_ACTIVITYPARTY_STG').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_process_start_dt": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_ACTIVITYPARTY_STG').output.executionDetails[0].start",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_records_read": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_ACTIVITYPARTY_STG').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_records_written": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_ACTIVITYPARTY_STG').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_table_name": {
							"value": "CRM_PLAT_DYN_ACTIVITYPARTY_STG",
							"type": "String"
						},
						"p_trigger_name": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
						"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION",
						"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT"
					}
				}
			}
		],
		"folder": {
			"name": "MSDynamics Migration"
		},
		"annotations": []
	}
}