src/pipeline/p_MSD_CDI_CRM_PLAT_DYN_TRANSFEROUT_STG.json
{
	"name": "p_MSD_CDI_CRM_PLAT_DYN_TRANSFEROUT_STG",
	"properties": {
		"description": "Author: Sahana Ganguly\nDate - August 2023\nProject - CRM Migration, implemented under CHG######\nDescription - This pipeline will pull all the data from the required fields from ASC_TRANSFEROUT table from CRM and load it into CRM_PLAT_DYN_TRANSFEROUT_STG table in STAGE_CDI.",
		"activities": [
			{
				"name": "sp-TRUNCATE-CRM_PLAT_DYN_TRANSFEROUT_STG",
				"description": "Name - Sahana Ganguly\nDate - August 2023\nProject - CRM Mirgation, implemented under CHG#####\nDescription - This stored procedure will truncate the table CRM_PLAT_DYN_TRANSFEROUT_STG before loading any data into it.\n",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_CDI].[PRC_TRUNCATE_NAMED_TABLE]",
					"storedProcedureParameters": {
						"p_table_name": {
							"value": {
								"value": "CRM_PLAT_DYN_TRANSFEROUT_STG",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": {
							"value": "@pipeline().globalParameters.ENVIRONMENT",
							"type": "Expression"
						},
						"SHORT_LOCATION": {
							"value": "@pipeline().globalParameters.SHORT_LOCATION",
							"type": "Expression"
						},
						"LOGICAL_ENVIRONMENT": {
							"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "sp-UPDATE_BATCH_AUDIT-CRM_PLAT_DYN_TRANSFEROUT_STG",
				"description": "Name - Sahana Ganguly\nDate - August 2023\nProject - CRM Migration. implemented under CHG#####\nDescription - This stored procedure is updating the BATCH_AUDIT table in STAGE_CDI with the required information of pipeline run .\n",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cd-STG_CRM_PLAT_DYN_TRANSFEROUT_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_CDI].[PRC_BATCH_AUDIT]",
					"storedProcedureParameters": {
						"p_billable_duration": {
							"value": {
								"value": "@activity('cd-STG_CRM_PLAT_DYN_TRANSFEROUT_STG').output.billingReference.billableDuration[0].duration\n",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"p_billable_unit": {
							"value": {
								"value": "@activity('cd-STG_CRM_PLAT_DYN_TRANSFEROUT_STG').output.billingReference.billableDuration[0].unit",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_duration": {
							"value": {
								"value": "@activity('cd-STG_CRM_PLAT_DYN_TRANSFEROUT_STG').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_process_start_dt": {
							"value": {
								"value": "@activity('cd-STG_CRM_PLAT_DYN_TRANSFEROUT_STG').output.executionDetails[0].start",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_records_read": {
							"value": {
								"value": "@activity('cd-STG_CRM_PLAT_DYN_TRANSFEROUT_STG').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_records_written": {
							"value": {
								"value": "@activity('cd-STG_CRM_PLAT_DYN_TRANSFEROUT_STG').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_table_name": {
							"value": {
								"value": "CRM_PLAT_DYN_CONTRIBUTION_STG",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_trigger_name": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": {
							"value": "@pipeline().globalParameters.ENVIRONMENT",
							"type": "Expression"
						},
						"SHORT_LOCATION": {
							"value": "@pipeline().globalParameters.SHORT_LOCATION",
							"type": "Expression"
						},
						"LOGICAL_ENVIRONMENT": {
							"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "cd-STG_CRM_PLAT_DYN_TRANSFEROUT_STG",
				"description": "Name - Sahana Ganguly\nDate - August 2023\nProject - CRM Migration, implemented copy all the selected field's data of ASC_TRANSFEROUT table from CRM database to  CRM_PLAT_DYN_TRANSFEROUT_STG table of STAGE_CDI database. ",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "sp-TRUNCATE-CRM_PLAT_DYN_TRANSFEROUT_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT\n    activityid,\n    asc_reference,\n    subject,\n    regardingobjectid,\n    regardingobjectidname,\n    asc_cashtransfer,\n    ownerid,\n    owneridname,\n    asc_transfertype,\n    asc_clientmaster,\n    asc_clientmastername,\n    asc_subprocess,\n    asc_title,\n    asc_numberoftransfers,\n    asc_raisedby,\n    asc_parenttransfer,\n    asc_broker,\n    prioritycode,\n    scheduledend,\n    statecode,\n    statuscode,\n    modifiedon,\n    asc_dateacceptancereceived,\n    asc_datepaymentstagecomplete,\n    asc_duration,\n    asc_isa30daysla,\n    asc_endtoend,\n    asc_dateclosed,\n    asc_pluginerrorfield,\n    asc_cancelleddate,\n    asc_dateinformationrequestreceived,\n    asc_dateinformationrequestworkstarted,\n    asc_totalwrapperamount,\n    asc_wrapper,\n    asc_inforequestsent,\n    asc_dateinforequestsent,\n    asc_competitor,\n    asc_fundmanager,\n    asc_informationrequeststagecomplete,\n    asc_thirdpartyreference,\n    asc_dateinformationrequeststagecomplete,\n    asc_datecashtransferreceived,\n    asc_datecashtransferworkstarted,\n    asc_checkforcorporateactions,\n    asc_checkunexecutedorders_cashtransfer,\n    asc_directdebitremoved,\n    asc_modelremoved,\n    asc_holdingssold,\n    asc_dateholdingssold,\n    asc_cashtransferstagecomplete,\n    asc_datecashtransferstagecomplete,\n    asc_checkeddatecashtransfer,\n    asc_toaprocessstage,\n    asc_cashtransferchecked,\n    asc_cashtransfecheckedby,\n    asc_cashtransfecheckedbyname,\n    asc_dateacceptanceworkstarted,\n    asc_checkforcorporateactions_acceptance,\n    asc_checkunexecutedorders_acceptance,\n    asc_directdebitremoved_acceptance,\n    asc_modelremoved_acceptance,\n    asc_stfsgenerated,\n    asc_datestfsgenerated,\n    asc_datestfssent,\n    asc_acceptancecheckedby,\n    asc_acceptancecheckedbyname,\n    asc_acceptancestagecomplete,\n    asc_dateacceptancestagecomplete,\n    asc_datepaymentworkstarted,\n    asc_advisorchargestakenoff,\n    asc_referredtofeesandcharges,\n    asc_datereferredtofeescharges,\n    asc_runtransferwizard,\n    asc_amountpaid,\n    asc_methodofpayment,\n    asc_checkedpayment,\n    asc_checkeddatepayment,\n    asc_paymentcheckedby,\n    asc_paymentcheckedbyname,\n    asc_transferconfirmationsent,\n    asc_transferconfirmationsentdate,\n    asc_paymentstagecomplete\nFROM\n    DBO.asc_transferout",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "activityid",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ACTIVITYID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_reference",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_REFERENCE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "subject",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SUBJECT",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "regardingobjectid",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "REGARDINGOBJECTID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "regardingobjectidname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "REGARDINGOBJECTIDNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_cashtransfer",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_CASHTRANSFER",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "ownerid",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "OWNERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "owneridname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OWNERIDNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_transfertype",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_TRANSFERTYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_clientmaster",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_CLIENTMASTER",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_clientmastername",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_CLIENTMASTERNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_subprocess",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_SUBPROCESS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_title",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_TITLE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_numberoftransfers",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_NUMBEROFTRANSFERS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_raisedby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_RAISEDBY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_parenttransfer",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_PARENTTRANSFER",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_broker",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_BROKER",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "prioritycode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PRIORITYCODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "scheduledend",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "SCHEDULEDEND",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "statecode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "STATECODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "statuscode",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "STATUSCODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "modifiedon",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "MODIFIEDON",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_dateacceptancereceived",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATEACCEPTANCERECEIVED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_datepaymentstagecomplete",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATEPAYMENTSTAGECOMPLETE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_duration",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_DURATION",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_isa30daysla",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_ISA30DAYSLA",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_endtoend",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_ENDTOEND",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_dateclosed",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATECLOSED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_pluginerrorfield",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_PLUGINERRORFIELD",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_cancelleddate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_CANCELLEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_dateinformationrequestreceived",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATEINFORMATIONREQUESTRECEIVED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_dateinformationrequestworkstarted",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATEINFORMATIONREQUESTWORKSTARTED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_totalwrapperamount",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "ASC_TOTALWRAPPERAMOUNT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "asc_wrapper",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_WRAPPER",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_inforequestsent",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_INFOREQUESTSENT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_dateinforequestsent",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATEINFOREQUESTSENT",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_competitor",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_COMPETITOR",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_fundmanager",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_FUNDMANAGER",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_informationrequeststagecomplete",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_INFORMATIONREQUESTSTAGECOMPLETE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_thirdpartyreference",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_THIRDPARTYREFERENCE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_dateinformationrequeststagecomplete",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATEINFORMATIONREQUESTSTAGECOMPLETE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_datecashtransferreceived",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATECASHTRANSFERRECEIVED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_datecashtransferworkstarted",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATECASHTRANSFERWORKSTARTED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_checkforcorporateactions",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_CHECKFORCORPORATEACTIONS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_checkunexecutedorders_cashtransfer",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_CHECKUNEXECUTEDORDERS_CASHTRANSFER",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_directdebitremoved",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_DIRECTDEBITREMOVED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_modelremoved",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_MODELREMOVED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_holdingssold",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_HOLDINGSSOLD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_dateholdingssold",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATEHOLDINGSSOLD",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_cashtransferstagecomplete",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_CASHTRANSFERSTAGECOMPLETE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_datecashtransferstagecomplete",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATECASHTRANSFERSTAGECOMPLETE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_checkeddatecashtransfer",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_CHECKEDDATECASHTRANSFER",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_toaprocessstage",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_TOAPROCESSSTAGE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_cashtransferchecked",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_CASHTRANSFERCHECKED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_cashtransfecheckedby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_CASHTRANSFECHECKEDBY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_cashtransfecheckedbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_CASHTRANSFECHECKEDBYNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_dateacceptanceworkstarted",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATEACCEPTANCEWORKSTARTED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_checkforcorporateactions_acceptance",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_CHECKFORCORPORATEACTIONS_ACCEPTANCE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_checkunexecutedorders_acceptance",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_CHECKUNEXECUTEDORDERS_ACCEPTANCE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_directdebitremoved_acceptance",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_DIRECTDEBITREMOVED_ACCEPTANCE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_modelremoved_acceptance",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_MODELREMOVED_ACCEPTANCE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_stfsgenerated",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_STFSGENERATED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_datestfsgenerated",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATESTFSGENERATED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_datestfssent",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATESTFSSENT",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_acceptancecheckedby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_ACCEPTANCECHECKEDBY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_acceptancecheckedbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_ACCEPTANCECHECKEDBYNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_acceptancestagecomplete",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_ACCEPTANCESTAGECOMPLETE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_dateacceptancestagecomplete",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATEACCEPTANCESTAGECOMPLETE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_datepaymentworkstarted",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATEPAYMENTWORKSTARTED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_advisorchargestakenoff",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_ADVISORCHARGESTAKENOFF",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_referredtofeesandcharges",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_REFERREDTOFEESANDCHARGES",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_datereferredtofeescharges",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATEREFERREDTOFEESCHARGES",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_runtransferwizard",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_RUNTRANSFERWIZARD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_amountpaid",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "ASC_AMOUNTPAID",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "asc_methodofpayment",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_METHODOFPAYMENT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_checkedpayment",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_CHECKEDPAYMENT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_checkeddatepayment",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_CHECKEDDATEPAYMENT",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_paymentcheckedby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_PAYMENTCHECKEDBY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_paymentcheckedbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_PAYMENTCHECKEDBYNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_transferconfirmationsent",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_TRANSFERCONFIRMATIONSENT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "asc_transferconfirmationsentdate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_TRANSFERCONFIRMATIONSENTDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_paymentstagecomplete",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_PAYMENTSTAGECOMPLETE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": true
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_MS_DYNAMICS",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "DBO",
							"TABLE_NAME": "ASC_TRANSFEROUT",
							"MS_DYNAMICS_HOST": "@pipeline().globalParameters.MS_DYNAMICS_HOST",
							"MS_DYNAMICS_PORT": "@pipeline().globalParameters.MS_DYNAMICS_PORT",
							"MS_DYNAMICS_DATABASE": "@pipeline().globalParameters.MS_DYNAMICS_DATABASE",
							"MS_DYNAMICS_USERNAME": "@pipeline().globalParameters.MS_DYNAMICS_USERNAME",
							"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
							"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_ASQLDB_WOKING_SHIR",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "STAGE_CDI",
							"TABLE_NAME": "CRM_PLAT_DYN_TRANSFEROUT_STG",
							"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
							"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION"
						}
					}
				]
			}
		],
		"folder": {
			"name": "MSDynamics Migration"
		},
		"annotations": []
	}
}