src/pipeline/p_MSD-CDI-CRM_PLAT_DYN_DEATHCLAIM_STG.json
{
	"name": "p_MSD-CDI-CRM_PLAT_DYN_DEATHCLAIM_STG",
	"properties": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
		"description": "Author: Jilly Webster\nDate: 21/06/2023\nDescription: ASCD-20271 - this pipeline loads data from Ms Dynamics (SQL Server) Asc_deathclaim table to STAGE_CDI (Oracle) CRM_PLAT_DYN_DEATHCLAIM_STG table.",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
		"description": "Name - Nikita Varnwal\nDate - June 2023\nProject - CRM Migration, implemented under CHG######\nDescription - This pipeline will pull all the data from the required fields from Asc_Deathclaim table from CRM and load it into CRM_PLAT_DYN_DEATHCLAIM_STG table in STAGE_CDI.",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
		"activities": [
			{
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
				"name": "sp-trauncate-CRM_PLAT_DYN_DEATHCLAIM_STG",
				"description": "Name - Nikita Varnwal\nDate - June 2023\nProject - CRM Mirgation, implemented under CHG#####\nDescription - This stored procedure will truncate the table CRM_PLAT_DYN_DEATHECLAIM_STG before loading any data into it.\n",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_CDI].[PRC_TRUNCATE_NAMED_TABLE]",
					"storedProcedureParameters": {
						"p_table_name": {
							"value": {
								"value": "CRM_PLAT_DYN_DEATHCLAIM_STG",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": {
							"value": "@pipeline().globalParameters.ENVIRONMENT",
							"type": "Expression"
						},
						"SHORT_LOCATION": {
							"value": "@pipeline().globalParameters.SHORT_LOCATION",
							"type": "Expression"
						},
						"LOGICAL_ENVIRONMENT": {
							"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"type": "Expression"
						}
					}
				}
			},
			{
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
				"name": "cd-CRM_PLAT_DYN_DEATHCLAIM_STG",
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
				"description": "pulls data from MS Dynamic table Asc_Deathclaim and copies to the STAGE_CDI table CRM_PLAT_DYN_DEATHCLAIM_STG using SQL query",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
				"description": "Name - Nikita Varnwal\nDate - June 2023\nProject - CRM Migration, implemented copy all the selected field's data of Asc_DeathClaim table from CRM database to  CRM_PLAT_DYN_DEATHCLAIM_STG table of STAGE_CDI database. ",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
				"type": "Copy",
				"dependsOn": [
					{
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
						"activity": "sp-TRUNCATE-CRM_PLAT_DYN_DEATHCLAIM_STG",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
						"activity": "sp-trauncate-CRM_PLAT_DYN_DEATHCLAIM_STG",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
						"sqlReaderQuery": "select ACTIVITYID,\n       OWNERID,\n       OWNERIDNAME,\n       ASC_CLAIMTYPE,\n       SCHEDULEDEND,\n       STATUSCODE,\n       ASC_SETUNCLEAN,\n       ASC_UNCLEANREASON,\n       ASC_UNCLEANDESCRIPTION,\n       ASC_SETTLEMENTINSTRUCTIONRECEIVEDDATE,\n       ASC_SETTLEMENTINSTRUCTIONPROCESSEDDATE,\n       ASC_SETTLEMENTREQUEST,\n       ASC_ASSETSSOLDDATE,\n       ASC_DUETOSETTLE,\n       ASC_ASSETSSOLD,\n       ASC_TRANSFERTYPE,\n       ASC_GRANTOFPROBATERECD,\n       ASC_GRANTOFPROBATERECEIVEDDATE,\n       ASC_WILLRETURNEDDATE,\n       ASC_RECORDEDDELIVERYREFERENCE,\n       ASC_SYSTEMUPDATEDDATE,\n       SUBJECT,\n       ASC_CLAIMSTATUS,\n       REGARDINGOBJECTID,\n       ASC_CASETYPE,\n       ASC_CLEANAPPLICATION,\n       ASC_EXECUTORSNAMES,\n       ASC_IFAFIRM,\n       ASC_REGISTEREDIFA,\n       ASC_BROKER,\n       ASC_CLIENTMASTER,\n       ACTUALSTART,\n       MODIFIEDON,\n       ASC_DURATION,\n       CREATEDBY,\n       ACTUALDURATIONMINUTES,\n       ACTUALEND,\n       CREATEDON,\n       ASC_DATECLOSED,\n       ASC_DEATHCERTRECEIVED,\n       ASC_DEATHCERTIFICATERECEIVEDDATE,\n       ASC_ORIGINALDEATHCERTRETURNEDDROPDOWN,\n       ASC_ORIGINALDEATHCERTRETURNEDDATE,\n       ASC_DEATHCERTPROCESSEDDATE,\n       ASC_DEATHCERTRECORDEDDELIVERYREF,\n       ASC_SIPPDEATHBENEFITCLAIMFORMRECEIVED,\n       ASC_SIPPDBCLAIMFORMRCVDDATE,\n       ASC_WILLRECEIVED,\n       ASC_WILLRECEIVEDDATE,\n       ASC_WILLPROCESSEDDATE,\n       ASC_REFERREDTOTECHNICAL,\n       ASC_REFERREDTOPENSIONOVERVIEWCMTEE,\n       ASC_BENEFICIARYAPPOINTEDDROPDOWN,\n       ASC_BENEFICIARYOPTIONSFORMISSUED,\n       ASC_BENEFICIARYOPTIONSFORMISSUEDDATE,\n       ASC_MULTIPLEBENEFICIARIES,\n       ASC_BENOPTIONSANDIDPROCESSEDDATE,\n       ASC_BENEFICIARYOPTIONSANDIDRECEIVEDDATE,\n       ASC_BENEFICIARYREQUEST,\n       ASC_CASHASSETSSOLD,\n       ASC_ASSETSTRANSFERREDDATE,\n       ASC_CASHTRANSFERREDDATE,\n       ASC_USERNOTES,\n       ASC_APSALLOWANCE,\n       ASC_INTERNALTRANSFER,\n       ASC_APS,\n       ASC_SPOUSEACCOUNTNUMBER,\n       ASC_RECEIVINGACCOUNTNUMBER,\n       ASC_STAGECOMPLETE,\n       ASC_DATESTAGECOMPLETE,\n       ASC_CHARGESTAKEN,\n       ASC_REFERREDTOFEESANDCHARGES,\n       ASC_DATECHARGESTAKEN,\n       ASC_TOGGLERECORDSTATUS,\n       ASC_PAYMENTTYPE,\n       ASC_PAYMENTOUT,\n       ASC_PAYMENTRECIPIENT,\n       ASC_APSTYPE,\n       ASC_APSVALUE,\n       ASC_TRADESPLACEDDATE,\n       ASC_GOPRETURNEDDATE,\n       ASC_BENEFICIARYAPPOINTEDBYCLAIMSTEAM,\n       ASC_CHECKEDBY,\n       ASC_IHTREQUIRED,\n       ASC_IHTDOCUMENTSRECEIVED,\n       ASC_DEATHCLAIMTYPE,\n       ASC_PLUGINERRORFIELD,\n       ASC_CANCELLEDDATE,\n       STATECODE\n  from ASC_DEATHCLAIM",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
						"sqlReaderQuery": "SELECT\r\nActivityId\r\n,OwnerId\r\n,OwnerIdName\r\n,asc_claimtype\r\n,scheduledend\r\n,statuscode\r\n,asc_setunclean\r\n,asc_uncleanreason\r\n,asc_uncleandescription\r\n,asc_settlementinstructionreceiveddate\r\n,asc_settlementinstructionprocesseddate\r\n,asc_settlementrequest\r\n,asc_assetssolddate\r\n,asc_duetosettle\r\n,asc_assetssold\r\n,asc_transfertype\r\n,asc_cashassetssold\r\n,asc_assetstransferreddate\r\n,asc_cashtransferreddate\r\n,asc_grantofprobaterecd\r\n,asc_grantofprobatereceiveddate\r\n,asc_willreceived\r\n,asc_willreceiveddate\r\n,asc_willreturneddate\r\n,asc_recordeddeliveryreference\r\n,asc_systemupdateddate\r\n,subject\r\n,asc_claimstatus\r\n,regardingobjectid\r\n,asc_casetype\r\n,asc_cleanapplication\r\n,asc_executorsnames\r\n,asc_ifafirm\r\n,asc_registeredifa\r\n,asc_broker\r\n,asc_clientmaster\r\n,actualstart\r\n,modifiedon\r\n,asc_duration\r\n,createdby\r\n,actualdurationminutes\r\n,actualend\r\n,createdon\r\n,asc_dateclosed\r\n,asc_deathcertreceived\r\n,asc_deathcertificatereceiveddate\r\n,asc_originaldeathcertreturneddropdown\r\n,asc_originaldeathcertreturneddate\r\n,asc_deathcertprocesseddate\r\n,asc_deathcertrecordeddeliveryref\r\n,asc_sippdeathbenefitclaimformreceived\r\n,asc_sippdbclaimformrcvddate\r\n,asc_willprocesseddate\r\n,asc_referredtotechnical\r\n,asc_referredtopensionoverviewcmtee\r\n,asc_beneficiaryappointeddropdown\r\n,asc_beneficiaryoptionsformissued\r\n,asc_beneficiaryoptionsformissueddate\r\n,asc_multiplebeneficiaries\r\n,asc_benoptionsandidprocesseddate\r\n,asc_beneficiaryoptionsandidreceiveddate\r\n,asc_beneficiaryrequest\r\n,asc_usernotes\r\n,asc_apsallowance\r\n,asc_internaltransfer\r\n,asc_aps\r\n,asc_spouseaccountnumber\r\n,asc_receivingaccountnumber\r\n,asc_stagecomplete\r\n,asc_datestagecomplete\r\n,asc_chargestaken\r\n,asc_referredtofeesandcharges\r\n,asc_datechargestaken\r\n,asc_togglerecordstatus\r\n,asc_paymenttype\r\n,asc_paymentout\r\n,asc_paymentrecipient\r\n,asc_apstype\r\n,asc_apsvalue\r\n,asc_tradesplaceddate\r\n,asc_gopreturneddate\r\n,asc_beneficiaryappointedbyclaimsteam\r\n,asc_checkedby\r\n,asc_ihtrequired\r\n,asc_ihtdocumentsreceived\r\n,asc_deathclaimtype\r\n,asc_pluginerrorfield\r\n,asc_cancelleddate\r\n,statecode\r\n,createdbyname\r\n,asc_nonsippstage3completedbyname\r\n,asc_nonsippstage1completedbyname\r\n,asc_stage5sippcompletedbyname\r\n,asc_nonsippstage4completedbyname\r\n,asc_stage4sippcompletedbyname\r\n,asc_instructioncheckedbyawaitingsettlementname\r\n,asc_stage1sippcompletedbyname\r\n,asc_stage2sippcompletedbyname\r\n,asc_nonsippstage5completedbyname\r\n,asc_paymentauthorisedbyname\r\n,asc_nonsippstage2completedbyname\r\n,asc_instructioncheckedbyname\r\n,asc_checkedbyname\r\n,asc_stage3sippcompletedbyname\r\n,asc_additionalpermittedsubscriptionvalue\r\n,asc_ageatdeath\r\n,asc_beneficiariesonsystem\r\n,asc_beneficiaryappointed\r\n,asc_datejointaccountassetstransferred\r\n,asc_datenotified\r\n,asc_dateofdeath\r\n,asc_dateofdeathvalue\r\n,asc_dateprocessed\r\n,asc_deathcertificatereceived\r\n,asc_grantofprobatereceived\r\n,asc_jointaccountheld\r\n,asc_jointaccountnumber\r\n,asc_notificationmethod\r\n,asc_notificationprocesseddate\r\n,asc_originaldeathcertreturned\r\n,asc_sippdeathbenefitclaimformissued\r\n,asc_whonotifiedus\r\n,asc_willrequested\r\n,asc_instructioncheckedby\r\n,asc_paymentauthorisedby\r\n,asc_advisorchargesremoved\r\n,asc_amlchecked\r\n,asc_datepaymentsent\r\n,asc_datepaymentworkstarted\r\n,asc_datereferredtofeesandcharges\r\n,asc_datereferredtotechnical\r\n,asc_executoridreceived\r\n,asc_instructionsrecvdprocessed\r\n,asc_paymentoutvalue\r\n,asc_runtransferwizard\r\n,asc_runwithdrawalwizard\r\n,asc_smallestateclaim\r\n,asc_systemupdatedawaitingexecutorappt\r\n,asc_tradesplaceddateawaitingsettlement\r\n,asc_wrapper_nonsipp\r\n,asc_instructioncheckedbyawaitingsettlement\r\n,asc_nonsippstage1completedby\r\n,asc_nonsippstage2completedby\r\n,asc_nonsippstage3completedby\r\n,asc_nonsippstage4completedby\r\n,asc_nonsippstage5completedby\r\n,asc_stage1sippcompletedby\r\n,asc_stage2sippcompletedby\r\n,asc_stage3sippcompletedby\r\n,asc_stage4sippcompletedby\r\n,asc_stage5sippcompletedby\r\nFROM ASC_DEATHCLAIM",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_SIPPDEATHBENEFITCLAIMFORMRECEIVED",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_sippdeathbenefitclaimformreceived",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_SIPPDEATHBENEFITCLAIMFORMRECEIVED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_SIPPDBCLAIMFORMRCVDDATE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_sippdbclaimformrcvddate",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_SIPPDBCLAIMFORMRCVDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_WILLPROCESSEDDATE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_willprocesseddate",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_WILLPROCESSEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_REFERREDTOTECHNICAL",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_referredtotechnical",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_REFERREDTOTECHNICAL",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_REFERREDTOPENSIONOVERVIEWCMTEE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_referredtopensionoverviewcmtee",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_REFERREDTOPENSIONOVERVIEWCMTEE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_BENEFICIARYAPPOINTEDDROPDOWN",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_beneficiaryappointeddropdown",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_BENEFICIARYAPPOINTEDDROPDOWN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_BENEFICIARYOPTIONSFORMISSUED",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_beneficiaryoptionsformissued",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_BENEFICIARYOPTIONSFORMISSUED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_BENEFICIARYOPTIONSFORMISSUEDDATE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_beneficiaryoptionsformissueddate",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_BENEFICIARYOPTIONSFORMISSUEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_MULTIPLEBENEFICIARIES",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_multiplebeneficiaries",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_MULTIPLEBENEFICIARIES",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_BENOPTIONSANDIDPROCESSEDDATE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_benoptionsandidprocesseddate",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_BENOPTIONSANDIDPROCESSEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_BENEFICIARYOPTIONSANDIDRECEIVEDDATE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_beneficiaryoptionsandidreceiveddate",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_BENEFICIARYOPTIONSANDIDRECEIVEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_BENEFICIARYREQUEST",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_beneficiaryrequest",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_BENEFICIARYREQUEST",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_USERNOTES",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_usernotes",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_USERNOTES",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_APSALLOWANCE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_apsallowance",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_APSALLOWANCE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_INTERNALTRANSFER",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_internaltransfer",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_INTERNALTRANSFER",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_APS",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_aps",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_APS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_SPOUSEACCOUNTNUMBER",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_spouseaccountnumber",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_SPOUSEACCOUNTNUMBER",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_RECEIVINGACCOUNTNUMBER",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_receivingaccountnumber",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_RECEIVINGACCOUNTNUMBER",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_STAGECOMPLETE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_stagecomplete",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_STAGECOMPLETE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_DATESTAGECOMPLETE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_datestagecomplete",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATESTAGECOMPLETE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_CHARGESTAKEN",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_chargestaken",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_CHARGESTAKEN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_REFERREDTOFEESANDCHARGES",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_referredtofeesandcharges",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_REFERREDTOFEESANDCHARGES",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_DATECHARGESTAKEN",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_datechargestaken",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATECHARGESTAKEN",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_TOGGLERECORDSTATUS",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_togglerecordstatus",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_TOGGLERECORDSTATUS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_PAYMENTTYPE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_paymenttype",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_PAYMENTTYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_PAYMENTOUT",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_paymentout",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_PAYMENTOUT",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_PAYMENTRECIPIENT",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_paymentrecipient",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_PAYMENTRECIPIENT",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_APSTYPE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_apstype",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_APSTYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_APSVALUE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_apsvalue",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "ASC_APSVALUE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_TRADESPLACEDDATE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_tradesplaceddate",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_TRADESPLACEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_GOPRETURNEDDATE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_gopreturneddate",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_GOPRETURNEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_BENEFICIARYAPPOINTEDBYCLAIMSTEAM",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_beneficiaryappointedbyclaimsteam",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_BENEFICIARYAPPOINTEDBYCLAIMSTEAM",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_CHECKEDBY",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_checkedby",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_CHECKEDBY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_IHTREQUIRED",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_ihtrequired",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_IHTREQUIRED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_IHTDOCUMENTSRECEIVED",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_ihtdocumentsreceived",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_IHTDOCUMENTSRECEIVED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_DEATHCLAIMTYPE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_deathclaimtype",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_DEATHCLAIMTYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_PLUGINERRORFIELD",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_pluginerrorfield",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_PLUGINERRORFIELD",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_CANCELLEDDATE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_cancelleddate",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_CANCELLEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "STATECODE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "statecode",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "STATECODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ACTIVITYID",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "ActivityId",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ACTIVITYID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "OWNERID",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "OwnerId",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "OWNERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "OWNERIDNAME",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "OwnerIdName",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "OWNERIDNAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_CLAIMTYPE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_claimtype",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_CLAIMTYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "SCHEDULEDEND",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "scheduledend",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "SCHEDULEDEND",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "STATUSCODE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "statuscode",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "STATUSCODE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_SETUNCLEAN",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_setunclean",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_SETUNCLEAN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_UNCLEANREASON",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_uncleanreason",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_UNCLEANREASON",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_UNCLEANDESCRIPTION",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_uncleandescription",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_UNCLEANDESCRIPTION",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_SETTLEMENTINSTRUCTIONRECEIVEDDATE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_settlementinstructionreceiveddate",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_SETTLEMENTINSTRUCTIONRECEIVEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_SETTLEMENTINSTRUCTIONPROCESSEDDATE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_settlementinstructionprocesseddate",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_SETTLEMENTINSTRUCTIONPROCESSEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_SETTLEMENTREQUEST",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_settlementrequest",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_SETTLEMENTREQUEST",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_ASSETSSOLDDATE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_assetssolddate",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_ASSETSSOLDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_DUETOSETTLE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_duetosettle",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DUETOSETTLE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_ASSETSSOLD",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_assetssold",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_ASSETSSOLD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_TRANSFERTYPE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_transfertype",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_TRANSFERTYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_CASHASSETSSOLD",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_cashassetssold",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_CASHASSETSSOLD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_ASSETSTRANSFERREDDATE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_assetstransferreddate",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_ASSETSTRANSFERREDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_CASHTRANSFERREDDATE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_cashtransferreddate",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_CASHTRANSFERREDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_GRANTOFPROBATERECD",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_grantofprobaterecd",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_GRANTOFPROBATERECD",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_GRANTOFPROBATERECEIVEDDATE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_grantofprobatereceiveddate",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_GRANTOFPROBATERECEIVEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_WILLRECEIVED",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_willreceived",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_WILLRECEIVED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_WILLRECEIVEDDATE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_willreceiveddate",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_WILLRECEIVEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_WILLRETURNEDDATE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_willreturneddate",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_WILLRETURNEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_RECORDEDDELIVERYREFERENCE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_recordeddeliveryreference",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_RECORDEDDELIVERYREFERENCE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_SYSTEMUPDATEDDATE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_systemupdateddate",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_SYSTEMUPDATEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "SUBJECT",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "subject",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SUBJECT",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_CLAIMSTATUS",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_claimstatus",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_CLAIMSTATUS",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "REGARDINGOBJECTID",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "regardingobjectid",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "REGARDINGOBJECTID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_CASETYPE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_casetype",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_CASETYPE",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_CLEANAPPLICATION",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_cleanapplication",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "ASC_CLEANAPPLICATION",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_EXECUTORSNAMES",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_executorsnames",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_EXECUTORSNAMES",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_IFAFIRM",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_ifafirm",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_IFAFIRM",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_REGISTEREDIFA",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_registeredifa",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_REGISTEREDIFA",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_BROKER",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_broker",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_BROKER",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_CLIENTMASTER",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_clientmaster",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "ASC_CLIENTMASTER",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ACTUALSTART",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "actualstart",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ACTUALSTART",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "MODIFIEDON",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "modifiedon",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "MODIFIEDON",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_DURATION",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_duration",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "ASC_DURATION",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "CREATEDBY",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "createdby",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "CREATEDBY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ACTUALDURATIONMINUTES",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "actualdurationminutes",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ACTUALDURATIONMINUTES",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ACTUALEND",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "actualend",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ACTUALEND",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "CREATEDON",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "createdon",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "CREATEDON",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_DATECLOSED",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_dateclosed",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DATECLOSED",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_DEATHCERTRECEIVED",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_deathcertreceived",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_DEATHCERTRECEIVED",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_DEATHCERTIFICATERECEIVEDDATE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_deathcertificatereceiveddate",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DEATHCERTIFICATERECEIVEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_ORIGINALDEATHCERTRETURNEDDROPDOWN",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_originaldeathcertreturneddropdown",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "ASC_ORIGINALDEATHCERTRETURNEDDROPDOWN",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_ORIGINALDEATHCERTRETURNEDDATE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_originaldeathcertreturneddate",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_ORIGINALDEATHCERTRETURNEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_DEATHCERTPROCESSEDDATE",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_deathcertprocesseddate",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "ASC_DEATHCERTPROCESSEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "asc_deathcertrecordeddeliveryref",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"name": "ASC_DEATHCERTRECORDEDDELIVERYREF",
									"type": "String",
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_stage4sippcompletedbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_stage4sippcompletedbyname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_instructioncheckedbyawaitingsettlementname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_instructioncheckedbyawaitingsettlementname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_stage1sippcompletedbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_stage1sippcompletedbyname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_stage2sippcompletedbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_stage2sippcompletedbyname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_nonsippstage5completedbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_nonsippstage5completedbyname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_paymentauthorisedbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_paymentauthorisedbyname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_nonsippstage2completedbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_nonsippstage2completedbyname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_instructioncheckedbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_instructioncheckedbyname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_checkedbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_checkedbyname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_stage3sippcompletedbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_stage3sippcompletedbyname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_additionalpermittedsubscriptionvalue",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "asc_additionalpermittedsubscriptionvalue",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "asc_ageatdeath",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "asc_ageatdeath",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_beneficiariesonsystem",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_beneficiariesonsystem",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_beneficiaryappointed",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_beneficiaryappointed",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_datejointaccountassetstransferred",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "asc_datejointaccountassetstransferred",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_datenotified",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "asc_datenotified",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_dateofdeath",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "asc_dateofdeath",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_dateofdeathvalue",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "asc_dateofdeathvalue",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "asc_dateprocessed",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "asc_dateprocessed",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_deathcertificatereceived",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_deathcertificatereceived",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "asc_grantofprobatereceived",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_grantofprobatereceived",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "asc_jointaccountheld",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_jointaccountheld",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "asc_jointaccountnumber",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_jointaccountnumber",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_notificationmethod",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "asc_notificationmethod",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_notificationprocesseddate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "asc_notificationprocesseddate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_originaldeathcertreturned",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_originaldeathcertreturned",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "asc_sippdeathbenefitclaimformissued",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_sippdeathbenefitclaimformissued",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "asc_whonotifiedus",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "asc_whonotifiedus",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_willrequested",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_willrequested",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "asc_instructioncheckedby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_instructioncheckedby",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_paymentauthorisedby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_paymentauthorisedby",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_advisorchargesremoved",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_advisorchargesremoved",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "asc_amlchecked",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_amlchecked",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "asc_datepaymentsent",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "asc_datepaymentsent",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_datepaymentworkstarted",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "asc_datepaymentworkstarted",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_datereferredtofeesandcharges",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "asc_datereferredtofeesandcharges",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_datereferredtotechnical",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "asc_datereferredtotechnical",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_executoridreceived",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "asc_executoridreceived",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_instructionsrecvdprocessed",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_instructionsrecvdprocessed",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "asc_paymentoutvalue",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "asc_paymentoutvalue",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 4,
									"precision": 19
								}
							},
							{
								"source": {
									"name": "asc_runtransferwizard",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_runtransferwizard",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "asc_runwithdrawalwizard",
									"type": "Boolean",
									"physicalType": "bit"
								},
								"sink": {
									"name": "asc_runwithdrawalwizard",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "asc_smallestateclaim",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "asc_smallestateclaim",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_systemupdatedawaitingexecutorappt",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "asc_systemupdatedawaitingexecutorappt",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_tradesplaceddateawaitingsettlement",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "asc_tradesplaceddateawaitingsettlement",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "asc_wrapper_nonsipp",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "asc_wrapper_nonsipp",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 10
								}
							},
							{
								"source": {
									"name": "asc_instructioncheckedbyawaitingsettlement",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_instructioncheckedbyawaitingsettlement",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_nonsippstage1completedby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_nonsippstage1completedby",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_nonsippstage2completedby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_nonsippstage2completedby",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_nonsippstage3completedby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_nonsippstage3completedby",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_nonsippstage4completedby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_nonsippstage4completedby",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_nonsippstage5completedby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_nonsippstage5completedby",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_stage1sippcompletedby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_stage1sippcompletedby",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_stage2sippcompletedby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_stage2sippcompletedby",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_stage3sippcompletedby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_stage3sippcompletedby",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_stage4sippcompletedby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_stage4sippcompletedby",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_stage5sippcompletedby",
									"type": "Guid",
									"physicalType": "uniqueidentifier"
								},
								"sink": {
									"name": "asc_stage5sippcompletedby",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_nonsippstage1completedbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_nonsippstage1completedbyname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_nonsippstage3completedbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_nonsippstage3completedbyname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_nonsippstage4completedbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_nonsippstage4completedbyname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "asc_stage5sippcompletedbyname",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "asc_stage5sippcompletedbyname",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "createdbyname",
									"type": "String",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"physicalType": "nvarchar"
								},
								"sink": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
									"name": "ASC_DEATHCERTRECORDEDDELIVERYREF",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
									"name": "createdbyname",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": true
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_MS_DYNAMICS",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "dbo",
							"TABLE_NAME": "Asc_Deathclaim",
							"MS_DYNAMICS_HOST": "@pipeline().globalParameters.MS_DYNAMICS_HOST",
							"MS_DYNAMICS_PORT": "@pipeline().globalParameters.MS_DYNAMICS_PORT",
							"MS_DYNAMICS_DATABASE": "@pipeline().globalParameters.MS_DYNAMICS_DATABASE",
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
							"MS_DYNAMICS_USERNAME": "@pipeline().globalParameters.MS_DYNAMICS_USERNAME",
							"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
							"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION"
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
							"MS_DYNAMICS_USERNAME": "@pipeline().globalParameters.MS_DYNAMICS_USERNAME"
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_ASQLDB_WOKING_SHIR",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "STAGE_CDI",
							"TABLE_NAME": "CRM_PLAT_DYN_DEATHCLAIM_STG",
							"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
							"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION"
						}
					}
				]
			},
			{
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
				"name": "sp-TRUNCATE-CRM_PLAT_DYN_DEATHCLAIM_STG",
				"description": "Truncate target table CRM_PLAT_DYN_DEATHCLAIM_STG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_CDI].[PRC_TRUNCATE_NAMED_TABLE]",
					"storedProcedureParameters": {
						"p_table_name": {
							"value": {
								"value": "CRM_PLAT_DYN_DEATHCLAIM_STG",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": {
							"value": "@pipeline().globalParameters.ENVIRONMENT",
							"type": "Expression"
						},
						"SHORT_LOCATION": {
							"value": "@pipeline().globalParameters.SHORT_LOCATION",
							"type": "Expression"
						},
						"LOGICAL_ENVIRONMENT": {
							"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "sp-UPDATE_BATCH_AUDIT-CRM_PLAT_DYN_DEATHCLAIM_STG",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
				"name": "sp-UPDATE_BATCH_AUDIT-CRM_PLAT_DYN_DIVORCECLAIM_STG",
				"description": "Name - Nikita Varnwal\nDate - June 2023\nProject - CRM Migration. implemented under CHG#####\nDescription - This stored procedure is updating the BATCH_AUDIT table in STAGE_CDI with the required information of pipeline run .\n",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cd-CRM_PLAT_DYN_DEATHCLAIM_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_CDI].[PRC_BATCH_AUDIT]",
					"storedProcedureParameters": {
						"p_billable_duration": {
							"value": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
								"value": "@activity('cd-CRM_PLAT_DYN_DEATHCLAIM_STG').output.billingReference.billableDuration[0].duration\n",
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
								"value": "@activity('cd-CRM_PLAT_DYN_DEATHCLAIM_STG').output.billingReference.billableDuration[0].duration",
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"p_billable_unit": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_DEATHCLAIM_STG').output.billingReference.billableDuration[0].unit",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_duration": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_DEATHCLAIM_STG').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_process_start_dt": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_DEATHCLAIM_STG').output.executionDetails[0].start",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_records_read": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_DEATHCLAIM_STG').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_records_written": {
							"value": {
								"value": "@activity('cd-CRM_PLAT_DYN_DEATHCLAIM_STG').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_table_name": {
							"value": "CRM_PLAT_DYN_DEATHCLAIM_STG",
							"type": "String"
						},
						"p_trigger_name": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
						"ENVIRONMENT": {
							"value": "@pipeline().globalParameters.ENVIRONMENT",
							"type": "Expression"
						},
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
						"SHORT_LOCATION": {
							"value": "@pipeline().globalParameters.SHORT_LOCATION",
							"type": "Expression"
						},
						"LOGICAL_ENVIRONMENT": {
							"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"type": "Expression"
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<AUTO GENERATED BY CONFLICT EXTENSION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< master
						},
						"ENVIRONMENT": {
							"value": "@pipeline().globalParameters.ENVIRONMENT",
							"type": "Expression"
====================================AUTO GENERATED BY CONFLICT EXTENSION====================================
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>AUTO GENERATED BY CONFLICT EXTENSION>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> INDIGO
						}
					}
				}
			}
		],
		"folder": {
			"name": "MSDynamics Migration"
		},
		"annotations": []
	}
}