src/pipeline/p_SFDC-CDI-SFDC_PLAT_MSMGRTN_PARENT_CASE_STG.json
{
	"name": "p_SFDC-CDI-SFDC_PLAT_MSMGRTN_PARENT_CASE_STG",
	"properties": {
		"description": "Author: Jilly Webster\nDate: 21/06/2023\nDescription: ASCD-20271 - this pipeline is loading data for GAD REVIEW from salesforce CASE table to STAGE_CDI SFDC_PLAT_MSMGRTN_PARENT_CASE_STG table. ",
		"activities": [
			{
				"name": "cd-SFDC_PLAT_MSMGRTN_PARENT_CASE_STG",
				"description": "pulls data from Salesforce Case object and copies to the STAGE_CDI table SFDC_PLAT_MSMGRTN_PARENT_CASE_STG using SQL query",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "sp-TRUNCATE-SFDC_PLAT_MSMGRTN_PARENT_CASE_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": "select ID,\n       CASENUMBER,\n       RECORDTYPEID,\n       TYPE,\n       PRU_SUBPROCESS__C,\n       ASSETID,\n       PRIORITY,\n       PRU_EXTERNALID__C,\n       SUBJECT,\n       STATUS,\n       ORIGIN,\n       OWNERID,\n       ACCOUNTID,\n       CONTACTID,\n       DESCRIPTION,\n       PRU_PENDINGREASON__C,\n       PRU_DUETOCOMMENCE__C,\n       CONTACTPHONE,\n       CONTACTEMAIL,\n       SUPPLIEDEMAIL,\n       CREATEDDATE,\n       CLOSEDDATE,\n       STOPSTARTDATE,\n       PRU_DATENOTIFIED__C,\n       CREATEDBYID,\n       LASTMODIFIEDBYID,\n       PRU_RECEPTIONDATEANDTIME__C,\n       PARENTID,\n       LASTMODIFIEDDATE\n  from CASE\n where CASE.PRU_EXTERNALID__C like 'MSCRM_MIGRATION_%'",
						"readBehavior": "query"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Id",
									"type": "String"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CaseNumber",
									"type": "String"
								},
								"sink": {
									"name": "CASENUMBER",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RecordTypeId",
									"type": "String"
								},
								"sink": {
									"name": "RECORDTYPEID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Type",
									"type": "String"
								},
								"sink": {
									"name": "TYPE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PRU_SubProcess__c",
									"type": "String"
								},
								"sink": {
									"name": "PRU_SUBPROCESS__C",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AssetId",
									"type": "String"
								},
								"sink": {
									"name": "ASSET",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Priority",
									"type": "String"
								},
								"sink": {
									"name": "PRIORITY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PRU_ExternalId__c",
									"type": "String"
								},
								"sink": {
									"name": "PRU_EXTERNALID__C",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Subject",
									"type": "String"
								},
								"sink": {
									"name": "SUBJECT",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Status",
									"type": "String"
								},
								"sink": {
									"name": "STATUS",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Origin",
									"type": "String"
								},
								"sink": {
									"name": "ORIGIN",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OwnerId",
									"type": "String"
								},
								"sink": {
									"name": "OWNERID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "AccountId",
									"type": "String"
								},
								"sink": {
									"name": "ACCOUNTID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ContactId",
									"type": "String"
								},
								"sink": {
									"name": "CONTACTID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Description",
									"type": "String"
								},
								"sink": {
									"name": "DESCRIPTION",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PRU_PendingReason__c",
									"type": "String"
								},
								"sink": {
									"name": "PRU_PENDINGREASON__C",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PRU_DueToCommence__c",
									"type": "DateTime"
								},
								"sink": {
									"name": "PRU_DUETOCOMMENCE__C",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ContactPhone",
									"type": "String"
								},
								"sink": {
									"name": "CONTACTPHONE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ContactEmail",
									"type": "String"
								},
								"sink": {
									"name": "CONTACTEMAIL",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SuppliedEmail",
									"type": "String"
								},
								"sink": {
									"name": "EMAIL",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CreatedDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "CREATEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ClosedDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "CLOSEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "StopStartDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "STOPSTARTDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "PRU_DateNotified__c",
									"type": "DateTime"
								},
								"sink": {
									"name": "PRU_DATENOTIFIED__C",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "CreatedById",
									"type": "String"
								},
								"sink": {
									"name": "CREATEDBYID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "LastModifiedById",
									"type": "String"
								},
								"sink": {
									"name": "LASTMODIFIEDBYID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PRU_ReceptionDateAndTime__c",
									"type": "DateTime"
								},
								"sink": {
									"name": "PRU_RECEPTIONDATEANDTIME",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "ParentId",
									"type": "String"
								},
								"sink": {
									"name": "PARENTID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "LastModifiedDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "LASTMODIFIEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_SFDC_MS_DYNAMICS",
						"type": "DatasetReference",
						"parameters": {
							"OBJECT_NAME": "CASE",
							"SFDC_MS_DYNAMICS_USER": "@pipeline().globalParameters.SFDC_MS_DYNAMICS_USER",
							"SFDC_MS_DYNAMICS_URL": "@pipeline().globalParameters.SFDC_MS_DYNAMICS_URL",
							"SFDC_MS_DYNAMICS_API_VERSION": "@pipeline().globalParameters.SFDC_MS_DYNAMICS_API_VERSION"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_ASQLDB_WOKING_SHIR",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "STAGE_CDI",
							"TABLE_NAME": "SFDC_PLAT_MSMGRTN_PARENT_CASE_STG",
							"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
							"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION"
						}
					}
				]
			},
			{
				"name": "sp-UPDATE_BATCH_AUDIT-SFDC_PLAT_MSMGRTN_PARENT_CASE_STG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cd-SFDC_PLAT_MSMGRTN_PARENT_CASE_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_CDI].[PRC_BATCH_AUDIT]",
					"storedProcedureParameters": {
						"p_billable_duration": {
							"value": {
								"value": "@activity('cd-SFDC_PLAT_MSMGRTN_PARENT_CASE_STG').output.billingReference.billableDuration[0].duration\n",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"p_billable_unit": {
							"value": {
								"value": "@activity('cd-SFDC_PLAT_MSMGRTN_PARENT_CASE_STG').output.billingReference.billableDuration[0].unit",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_duration": {
							"value": {
								"value": "@activity('cd-SFDC_PLAT_MSMGRTN_PARENT_CASE_STG').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_process_start_dt": {
							"value": {
								"value": "@activity('cd-SFDC_PLAT_MSMGRTN_PARENT_CASE_STG').output.executionDetails[0].start",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_records_read": {
							"value": {
								"value": "@activity('cd-SFDC_PLAT_MSMGRTN_PARENT_CASE_STG').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_records_written": {
							"value": {
								"value": "@activity('cd-SFDC_PLAT_MSMGRTN_PARENT_CASE_STG').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_table_name": {
							"value": "SFDC_PLAT_MSMGRTN_PARENT_CASE_STG",
							"type": "String"
						},
						"p_trigger_name": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"SHORT_LOCATION": {
							"value": "@pipeline().globalParameters.SHORT_LOCATION",
							"type": "Expression"
						},
						"LOGICAL_ENVIRONMENT": {
							"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"type": "Expression"
						},
						"ENVIRONMENT": {
							"value": "@pipeline().globalParameters.ENVIRONMENT",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "sp-TRUNCATE-SFDC_PLAT_MSMGRTN_PARENT_CASE_STG",
				"description": "Truncate target table SFDC_PLAT_MSMGRTN_PARENT_CASE_STG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_CDI].[PRC_TRUNCATE_NAMED_TABLE]",
					"storedProcedureParameters": {
						"p_table_name": {
							"value": {
								"value": "SFDC_PLAT_MSMGRTN_PARENT_CASE_STG",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": {
							"value": "@pipeline().globalParameters.ENVIRONMENT",
							"type": "Expression"
						},
						"SHORT_LOCATION": {
							"value": "@pipeline().globalParameters.SHORT_LOCATION",
							"type": "Expression"
						},
						"LOGICAL_ENVIRONMENT": {
							"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"type": "Expression"
						}
					}
				}
			}
		],
		"folder": {
			"name": "MSDynamics Migration"
		},
		"annotations": []
	}
}