src/pipeline/p_SFDC-CDI-SFDC_PLAT_MSMGRTN_CASEFEED_STG.json
{
	"name": "p_SFDC-CDI-SFDC_PLAT_MSMGRTN_CASEFEED_STG",
	"properties": {
		"description": "Author: Jilly Webster\nDate: 21/07/2023\nDescription: ASCD-20271 - this pipeline is loading data data from CaseFeed object of Salesforce to SFDC_PLAT_MSMGRTN_CASEFEED_STG table in Stage CDI.",
		"activities": [
			{
				"name": "cd-SFDC_PLAT_MSMGRTN_CASEFEED_STG",
				"description": "pulls data from Salesforce ActivityPointer object and copies to the STAGE_CDI table SFDC_PLAT_MSMGRTN_CASEFEED_STG using SQL query",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "sp-TRUNCATE-SFDC_PLAT_MSMGRTN_CASEFEED_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": "select ID,\n       PARENTID\n  from CASEFEED\n where PARENTID in \n         (select ID\n            from CASE\n           where PRU_EXTERNALID__C like 'MSCRM_MIGRATION_%'\n         )\n   and TYPE in ( 'TextPost', 'LinkPost' )",
						"readBehavior": "query"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Id",
									"type": "String"
								},
								"sink": {
									"name": "SFDC_PLAT_FEEDITEM_STG_ID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ParentId",
									"type": "String"
								},
								"sink": {
									"name": "PARENTID",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_SFDC_MS_DYNAMICS",
						"type": "DatasetReference",
						"parameters": {
							"OBJECT_NAME": "Casefeed",
							"SFDC_MS_DYNAMICS_USER": "@pipeline().globalParameters.SFDC_MS_DYNAMICS_USER",
							"SFDC_MS_DYNAMICS_URL": "@pipeline().globalParameters.SFDC_MS_DYNAMICS_URL",
							"SFDC_MS_DYNAMICS_API_VERSION": "@pipeline().globalParameters.SFDC_MS_DYNAMICS_API_VERSION"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_ASQLDB_WOKING_SHIR",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "STAGE_CDI",
							"TABLE_NAME": "SFDC_PLAT_MSMGRTN_CASEFEED_STG",
							"ENVIRONMENT": "@pipeline().globalParameters.ENVIRONMENT",
							"LOGICAL_ENVIRONMENT": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"SHORT_LOCATION": "@pipeline().globalParameters.SHORT_LOCATION"
						}
					}
				]
			},
			{
				"name": "sp-UPDATE_BATCH_AUDIT-SFDC_PLAT_DYN_ACTVITY_POINTER_STG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cd-SFDC_PLAT_MSMGRTN_CASEFEED_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_CDI].[PRC_BATCH_AUDIT]",
					"storedProcedureParameters": {
						"p_billable_duration": {
							"value": {
								"value": "@activity('cd-SFDC_PLAT_MSMGRTN_CASEFEED_STG').output.billingReference.billableDuration[0].duration\n",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"p_billable_unit": {
							"value": {
								"value": "@activity('cd-SFDC_PLAT_MSMGRTN_CASEFEED_STG').output.billingReference.billableDuration[0].unit",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_duration": {
							"value": {
								"value": "@activity('cd-SFDC_PLAT_MSMGRTN_CASEFEED_STG').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_process_start_dt": {
							"value": {
								"value": "@activity('cd-SFDC_PLAT_MSMGRTN_CASEFEED_STG').output.executionDetails[0].start",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_records_read": {
							"value": {
								"value": "@activity('cd-SFDC_PLAT_MSMGRTN_CASEFEED_STG').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_records_written": {
							"value": {
								"value": "@activity('cd-SFDC_PLAT_MSMGRTN_CASEFEED_STG').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_table_name": {
							"value": {
								"value": "SFDC_PLAT_MSMGRTN_CASEFEED_STG",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_trigger_name": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": {
							"value": "@pipeline().globalParameters.ENVIRONMENT",
							"type": "Expression"
						},
						"SHORT_LOCATION": {
							"value": "@pipeline().globalParameters.SHORT_LOCATION",
							"type": "Expression"
						},
						"LOGICAL_ENVIRONMENT": {
							"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "sp-TRUNCATE-SFDC_PLAT_MSMGRTN_CASEFEED_STG",
				"description": "Truncate target table SFDC_PLAT_MSMGRTN_CASEFEED_STG ",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_CDI].[PRC_TRUNCATE_NAMED_TABLE]",
					"storedProcedureParameters": {
						"p_table_name": {
							"value": {
								"value": "SFDC_PLAT_MSMGRTN_CASEFEED_STG ",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"ENVIRONMENT": {
							"value": "@pipeline().globalParameters.ENVIRONMENT",
							"type": "Expression"
						},
						"SHORT_LOCATION": {
							"value": "@pipeline().globalParameters.SHORT_LOCATION",
							"type": "Expression"
						},
						"LOGICAL_ENVIRONMENT": {
							"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"type": "Expression"
						}
					}
				}
			}
		],
		"folder": {
			"name": "MSDynamics Migration"
		},
		"annotations": []
	}
}