src/pipeline/p_SFDC-CDI-SFDC_ADVISER_ACCOUNT_STG.json
{
	"name": "p_SFDC-CDI-SFDC_ADVISER_ACCOUNT_STG",
	"properties": {
		"description": "Name : Nextpathway\nDate : 02/06/2023\nDescription : pulls data from oracle tables and loads into transient table. Compares transient table with staging table to identify new/updated records in the target/staging table and load target table.",
		"activities": [
			{
				"name": "lkp-BATCH_PARAMETER",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "sp-TRUNCATE-TD_SFDC_ADVISER_ACCOUNT_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select PARAMETER_VALUE_DT as PRM_EXTRACTDT\r\n  from STAGE_CDI.BATCH_PARAMETER \r\n where PROCESS_NAME = 'p_SFDC-CDI-SFDC_ADVISER_ACCOUNT_STG'\r\n   and PARAMETER_NAME = 'prm_EXTRACTDT'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_ASQLDB",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "STAGE_CDI",
							"TABLE_NAME": "BATCH_PARAMETER",
							"ENVIRONMENT": {
								"value": "@pipeline().globalParameters.ENVIRONMENT",
								"type": "Expression"
							},
							"LOGICAL_ENVIRONMENT": {
								"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
								"type": "Expression"
							},
							"SHORT_LOCATION": {
								"value": "@pipeline().globalParameters.SHORT_LOCATION",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "cd-TD_SFDC_ADVISER_ACCOUNT_STG",
				"description": "Pulls data from Salesforce table and loads to Azure SQL table",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lkp-BATCH_PARAMETER",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SalesforceSource",
						"query": {
							"value": "select ID,\n       PRU_PARTYROLEID__C,\n       NAME,\n       RECORDTYPEID,\n       PRU_STATUS__C,\n       TYPE,\n       PRU_FIRMREFERENCENUMBER__C,\n       PRU_REGULATORYSTATUS__C,\n       PRU_PERMISSIONFORINVESTMENTADVICE__C,\n       PRU_PERMISSIONFORMORTGAGEADVICE__C,\n       PRU_PERMISSIONFORINSURANCEADVICE__C,\n       PRU_PERMISSIONFORPENSIONXFERADVICE__C,\n       SHIPPINGSTREET,\n       SHIPPINGCITY,\n       SHIPPINGSTATE,\n       SHIPPINGPOSTALCODE,\n       PRU_EMAIL__C,\n       PHONE,\n       PRU_DATAQUALITYISSUE__C,\n       PRU_DATAQUALITYCOMMENT__C,\n       PRU_RECORDREMOVED__C,\n       PARENTID,\n       LASTMODIFIEDDATE\n  from ACCOUNT \n where PRU_PARTYROLEID__C !=null\n   and PRU_SOURCEOFRECORD__C != 'M&G Wealth Platform'\n   and LASTMODIFIEDDATE > @{formatDateTime(activity('lkp-BATCH_PARAMETER').output.firstrow.prm_EXTRACTDT,'yyyy-MM-ddTHH:mm:ssZ')}",
							"type": "Expression"
						},
						"readBehavior": "query"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "Id",
									"type": "String"
								},
								"sink": {
									"name": "ID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PRU_PartyRoleID__c",
									"type": "String"
								},
								"sink": {
									"name": "PRU_PARTYROLEID__C",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RecordTypeId",
									"type": "String"
								},
								"sink": {
									"name": "RECORDTYPEID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String"
								},
								"sink": {
									"name": "NAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PRU_Status__c",
									"type": "String"
								},
								"sink": {
									"name": "PRU_STATUS__C",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Type",
									"type": "String"
								},
								"sink": {
									"name": "TYPE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PRU_FirmReferenceNumber__c",
									"type": "String"
								},
								"sink": {
									"name": "PRU_FIRMREFERENCENUMBER__C",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PRU_RegulatoryStatus__c",
									"type": "String"
								},
								"sink": {
									"name": "PRU_REGULATORYSTATUS__C",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PRU_PermissionForInvestmentAdvice__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "PRU_PERMISSIONFORINVESTMENTADVICE__C",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PRU_PermissionForMortgageAdvice__c",
									"type": "String"
								},
								"sink": {
									"name": "PRU_PERMISSIONFORMORTGAGEADVICE__C",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PRU_PermissionForInsuranceAdvice__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "PRU_PERMISSIONFORINSURANCEADVICE__C",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PRU_PermissionForPensionXferAdvice__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "PRU_PERMISSIONFORPENSIONXFERADVICE__C",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ShippingStreet",
									"type": "String"
								},
								"sink": {
									"name": "SHIPPINGSTREET",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ShippingCity",
									"type": "String"
								},
								"sink": {
									"name": "SHIPPINGCITY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ShippingState",
									"type": "String"
								},
								"sink": {
									"name": "SHIPPINGSTATE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "ShippingPostalCode",
									"type": "String"
								},
								"sink": {
									"name": "SHIPPINGPOSTALCODE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PRU_Email__c",
									"type": "String"
								},
								"sink": {
									"name": "PRU_EMAIL__C",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Phone",
									"type": "String"
								},
								"sink": {
									"name": "PHONE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PRU_DataQualityIssue__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "PRU_DATAQUALITYISSUE__C",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PRU_DataQualityComment__c",
									"type": "String"
								},
								"sink": {
									"name": "PRU_DATAQUALITYCOMMENT__C",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PRU_RecordRemoved__c",
									"type": "Boolean"
								},
								"sink": {
									"name": "PRU_RECORDREMOVED__C",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "ParentId",
									"type": "String"
								},
								"sink": {
									"name": "PARENTID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "LastModifiedDate",
									"type": "DateTime"
								},
								"sink": {
									"name": "LASTMODIFIEDDATE",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": true
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_SFDC_DPDB",
						"type": "DatasetReference",
						"parameters": {
							"ENVIRONMENT": {
								"value": "@pipeline().globalParameters.ENVIRONMENT",
								"type": "Expression"
							},
							"LOGICAL_ENVIRONMENT": {
								"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
								"type": "Expression"
							},
							"SHORT_LOCATION": {
								"value": "@pipeline().globalParameters.SHORT_LOCATION",
								"type": "Expression"
							},
							"SFDC_DPDB_URL": {
								"value": "@pipeline().globalParameters.SFDC_DPDB_URL",
								"type": "Expression"
							},
							"SFDC_DPDB_USERNAME": {
								"value": "@pipeline().globalParameters.SFDC_DPDB_USERNAME",
								"type": "Expression"
							},
							"SFDC_DPDB_API_VERSION": {
								"value": "@pipeline().globalParameters.SFDC_DPDB_API_VERSION",
								"type": "Expression"
							},
							"SFDC_DPDB_ORG": {
								"value": "@pipeline().globalParameters.SFDC_DPDB_ORG",
								"type": "Expression"
							},
							"OBJECT_NAME": "ACCOUNT"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_ASQLDB_WOKING_SHIR",
						"type": "DatasetReference",
						"parameters": {
							"ENVIRONMENT": {
								"value": "@pipeline().globalParameters.ENVIRONMENT",
								"type": "Expression"
							},
							"LOGICAL_ENVIRONMENT": {
								"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
								"type": "Expression"
							},
							"SHORT_LOCATION": {
								"value": "@pipeline().globalParameters.SHORT_LOCATION",
								"type": "Expression"
							},
							"SCHEMA": "STAGE_LOAD",
							"TABLE_NAME": "TD_SFDC_ADVISER_ACCOUNT_STG"
						}
					}
				]
			},
			{
				"name": "sp-TRUNCATE-TD_SFDC_ADVISER_ACCOUNT_STG",
				"description": "Truncate stage table STAGE_LOAD.TD_SFDC_ADVISER_ACCOUNT_STG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_LOAD].[PRC_TRUNCATE_TD_TABLE]",
					"storedProcedureParameters": {
						"p_table_name": {
							"value": "TD_SFDC_ADVISER_ACCOUNT_STG",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"SHORT_LOCATION": {
							"value": "@pipeline().globalParameters.SHORT_LOCATION",
							"type": "Expression"
						},
						"LOGICAL_ENVIRONMENT": {
							"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"type": "Expression"
						},
						"ENVIRONMENT": {
							"value": "@pipeline().globalParameters.ENVIRONMENT",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "cd-SFDC_ADVISER_ACCOUNT_STG_Upsert",
				"description": "Upsert SFDC_ADVISER_ACCOUNT_STG",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "cd-TD_SFDC_ADVISER_ACCOUNT_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"additionalColumns": [
							{
								"name": "CREATE_USER_ID",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							}
						],
						"sqlReaderQuery": "with ADVISER_ACCOUNT\nas\n(select TSAAS.ID,\n        TSAAS.PRU_PARTYROLEID__C,\n        TSAAS.RECORDTYPEID,\n        TSAAS.NAME,\n        TSAAS.PRU_STATUS__C,\n        TSAAS.TYPE,\n        TSAAS.PRU_FIRMREFERENCENUMBER__C,\n        TSAAS.PRU_REGULATORYSTATUS__C,\n        TSAAS.PRU_PERMISSIONFORINVESTMENTADVICE__C,\n        TSAAS.PRU_PERMISSIONFORMORTGAGEADVICE__C,\n        TSAAS.PRU_PERMISSIONFORINSURANCEADVICE__C,\n        TSAAS.PRU_PERMISSIONFORPENSIONXFERADVICE__C,\n        TSAAS.SHIPPINGSTREET,\n        TSAAS.SHIPPINGCITY,\n        TSAAS.SHIPPINGSTATE,\n        TSAAS.SHIPPINGPOSTALCODE,\n        TSAAS.PRU_EMAIL__C,\n        TSAAS.PHONE,\n        TSAAS.PRU_DATAQUALITYISSUE__C,\n        TSAAS.PRU_DATAQUALITYCOMMENT__C,\n        TSAAS.PRU_RECORDREMOVED__C,\n        TSAAS.PARENTID,\n        TSAAS.LASTMODIFIEDDATE\n   from STAGE_LOAD.TD_SFDC_ADVISER_ACCOUNT_STG TSAAS\n),\nRECORD_TYPE \nas\n(select SFDC_RECORD_TYPE_STG_ID,\n        NAME\n   from STAGE_CDI.SFDC_RECORD_TYPE_STG\n)\nselect ID as SFDC_ADVISER_ACCOUNT_ID,\n       AA.PRU_PARTYROLEID__C,\n       AA.RECORDTYPEID,\n       RT.NAME as RECORDTYPE,\n       AA.Name,\n       AA.PRU_STATUS__C,\n       AA.TYPE,\n       AA.PRU_FIRMREFERENCENUMBER__C,\n       AA.PRU_REGULATORYSTATUS__C,\n       cast(PRU_PERMISSIONFORINVESTMENTADVICE__C as numeric(1,0)) as PRU_INVESTMENTADVICE__C,\n       cast(PRU_PERMISSIONFORMORTGAGEADVICE__C as numeric(1,0)) as PRU_MORTGAGEADVICE__C,\n       cast(PRU_PERMISSIONFORINSURANCEADVICE__C as numeric(1,0)) as PRU_INSURANCEADVICE__C,\n       cast(PRU_PERMISSIONFORPENSIONXFERADVICE__C as numeric(1,0)) as PRU_PENSIONXFERADVICE__C,\n       AA.SHIPPINGSTREET,\n       AA.SHIPPINGCITY,\n       AA.SHIPPINGSTATE,\n       AA.SHIPPINGPOSTALCODE,\n       AA.PRU_EMAIL__C,\n       AA.PHONE,\n       cast(PRU_DATAQUALITYISSUE__C as numeric(1,0)) as PRU_DATAQUALITYISSUE_C,\n       AA.PRU_DATAQUALITYCOMMENT__C as PRU_DATAQUALITYCOMMENT_C,\n       AA.PRU_RECORDREMOVED__C,\n       PARENTID as PARENT,\n       cast(sysdatetimeoffset() at time zone 'GMT Standard Time' as datetime) as UPDATE_DATE_TIME\n  from ADVISER_ACCOUNT AA\n  left outer join RECORD_TYPE RT\n   on (AA.RECORDTYPEID = RT.SFDC_RECORD_TYPE_STG_ID);",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"PRU_PARTYROLEID__C"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "SFDC_ADVISER_ACCOUNT_ID",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SFDC_ADVISER_ACCOUNT_ID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PRU_PARTYROLEID__C",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PRU_PARTYROLEID__C",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "RECORDTYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "RECORDTYPE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "NAME",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PRU_STATUS__C",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PRU_STATUS__C",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "TYPE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "TYPE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PRU_FIRMREFERENCENUMBER__C",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PRU_FIRMREFERENCENUMBER__C",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PRU_REGULATORYSTATUS__C",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PRU_REGULATORYSTATUS__C",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PRU_INVESTMENTADVICE__C",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								},
								"sink": {
									"name": "PRU_INVESTMENTADVICE__C",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "PRU_MORTGAGEADVICE__C",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								},
								"sink": {
									"name": "PRU_MORTGAGEADVICE__C",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "PRU_INSURANCEADVICE__C",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								},
								"sink": {
									"name": "PRU_INSURANCEADVICE__C",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "PRU_PENSIONXFERADVICE__C",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								},
								"sink": {
									"name": "PRU_PENSIONXFERADVICE__C",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "SHIPPINGSTREET",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SHIPPINGSTREET",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SHIPPINGCITY",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SHIPPINGCITY",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SHIPPINGSTATE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SHIPPINGSTATE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SHIPPINGPOSTALCODE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "SHIPPINGPOSTALCODE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PRU_EMAIL__C",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PRU_EMAIL__C",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PHONE",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PHONE",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PRU_DATAQUALITYISSUE_C",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								},
								"sink": {
									"name": "PRU_DATAQUALITYISSUE_C",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "PRU_DATAQUALITYCOMMENT_C",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PRU_DATAQUALITYCOMMENT_C",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PRU_RECORDREMOVED__C",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								},
								"sink": {
									"name": "PRU_RECORDREMOVED__C",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 0,
									"precision": 1
								}
							},
							{
								"source": {
									"name": "PARENT",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PARENT",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "CREATE_USER_ID",
									"type": "String"
								},
								"sink": {
									"name": "CREATE_USER_ID",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "UPDATE_DATE_TIME",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "UPDATE_DATE_TIME",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": true
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_ASQLDB",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "STAGE_LOAD",
							"TABLE_NAME": "TD_SFDC_ADVISER_ACCOUNT_STG",
							"ENVIRONMENT": {
								"value": "@pipeline().globalParameters.ENVIRONMENT",
								"type": "Expression"
							},
							"LOGICAL_ENVIRONMENT": {
								"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
								"type": "Expression"
							},
							"SHORT_LOCATION": {
								"value": "@pipeline().globalParameters.SHORT_LOCATION",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_ASQLDB",
						"type": "DatasetReference",
						"parameters": {
							"SCHEMA": "STAGE_CDI",
							"TABLE_NAME": "SFDC_ADVISER_ACCOUNT_STG",
							"ENVIRONMENT": {
								"value": "@pipeline().globalParameters.ENVIRONMENT",
								"type": "Expression"
							},
							"LOGICAL_ENVIRONMENT": {
								"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
								"type": "Expression"
							},
							"SHORT_LOCATION": {
								"value": "@pipeline().globalParameters.SHORT_LOCATION",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "spt-UPDATE-BATCH_PARAMETER",
				"description": "UPDATE-BATCH_PARAMETER",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "cd-SFDC_ADVISER_ACCOUNT_STG_Upsert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"SHORT_LOCATION": {
							"value": "@pipeline().globalParameters.SHORT_LOCATION",
							"type": "Expression"
						},
						"LOGICAL_ENVIRONMENT": {
							"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"type": "Expression"
						},
						"ENVIRONMENT": {
							"value": "@pipeline().globalParameters.ENVIRONMENT",
							"type": "Expression"
						}
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "update STAGE_CDI.BATCH_PARAMETER\n   set PARAMETER_VALUE_DT = case \n                              when (select max(LASTMODIFIEDDATE) \n                                     from STAGE_LOAD.TD_SFDC_ADVISER_ACCOUNT_STG) is not null then \n                                (select max(LASTMODIFIEDDATE) \n                                  from STAGE_LOAD.TD_SFDC_ADVISER_ACCOUNT_STG) \n                            else \n                              PARAMETER_VALUE_DT \n                            end,\n       LASTMODIFIEDDT = (select cast(SYSDATETIMEOFFSET() at time zone 'GMT Standard Time' as datetime)),\n       LASTMODIFIEDBY = 'p_SFDC-CDI-SFDC_ADVISER_ACCOUNT_STG'\n where PROCESS_NAME = 'p_SFDC-CDI-SFDC_ADVISER_ACCOUNT_STG'\n   and PARAMETER_NAME = 'prm_EXTRACTDT'"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "sp-UPDATE_BATCH_AUDIT-TD_SFDC_ADVISER_ACCOUNT_STG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cd-TD_SFDC_ADVISER_ACCOUNT_STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_CDI].[PRC_BATCH_AUDIT]",
					"storedProcedureParameters": {
						"p_billable_duration": {
							"value": {
								"value": "@activity('cd-TD_SFDC_ADVISER_ACCOUNT_STG').output.billingReference.billableDuration[0].duration\n",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"p_billable_unit": {
							"value": {
								"value": "@activity('cd-TD_SFDC_ADVISER_ACCOUNT_STG').output.billingReference.billableDuration[0].unit",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_duration": {
							"value": {
								"value": "@activity('cd-TD_SFDC_ADVISER_ACCOUNT_STG').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_process_start_dt": {
							"value": {
								"value": "@activity('cd-TD_SFDC_ADVISER_ACCOUNT_STG').output.executionDetails[0].start",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_records_read": {
							"value": {
								"value": "@activity('cd-TD_SFDC_ADVISER_ACCOUNT_STG').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_records_written": {
							"value": {
								"value": "@activity('cd-TD_SFDC_ADVISER_ACCOUNT_STG').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_table_name": {
							"value": "TD_SFDC_ADVISER_ACCOUNT_STG",
							"type": "String"
						},
						"p_trigger_name": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"SHORT_LOCATION": {
							"value": "@pipeline().globalParameters.SHORT_LOCATION",
							"type": "Expression"
						},
						"LOGICAL_ENVIRONMENT": {
							"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"type": "Expression"
						},
						"ENVIRONMENT": {
							"value": "@pipeline().globalParameters.ENVIRONMENT",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "sp-UPDATE_BATCH_AUDIT-SFDC_ADVISER_ACCOUNT_STG_Upsert",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "cd-SFDC_ADVISER_ACCOUNT_STG_Upsert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[STAGE_CDI].[PRC_BATCH_AUDIT]",
					"storedProcedureParameters": {
						"p_billable_duration": {
							"value": {
								"value": "@activity('cd-SFDC_ADVISER_ACCOUNT_STG_Upsert').output.billingReference.billableDuration[0].duration\n",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"p_billable_unit": {
							"value": {
								"value": "@activity('cd-SFDC_ADVISER_ACCOUNT_STG_Upsert').output.billingReference.billableDuration[0].unit",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_duration": {
							"value": {
								"value": "@activity('cd-SFDC_ADVISER_ACCOUNT_STG_Upsert').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_process_start_dt": {
							"value": {
								"value": "@activity('cd-SFDC_ADVISER_ACCOUNT_STG_Upsert').output.executionDetails[0].start",
								"type": "Expression"
							},
							"type": "String"
						},
						"p_records_read": {
							"value": {
								"value": "@activity('cd-SFDC_ADVISER_ACCOUNT_STG_Upsert').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_records_written": {
							"value": {
								"value": "@activity('cd-SFDC_ADVISER_ACCOUNT_STG_Upsert').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"p_table_name": {
							"value": "SFDC_ADVISER_ACCOUNT_STG",
							"type": "String"
						},
						"p_trigger_name": {
							"value": {
								"value": "@pipeline().TriggerName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_AzureSQLDB",
					"type": "LinkedServiceReference",
					"parameters": {
						"SHORT_LOCATION": {
							"value": "@pipeline().globalParameters.SHORT_LOCATION",
							"type": "Expression"
						},
						"LOGICAL_ENVIRONMENT": {
							"value": "@pipeline().globalParameters.LOGICAL_ENVIRONMENT",
							"type": "Expression"
						},
						"ENVIRONMENT": {
							"value": "@pipeline().globalParameters.ENVIRONMENT",
							"type": "Expression"
						}
					}
				}
			}
		],
		"folder": {
			"name": "Digital Account/Adviser"
		},
		"annotations": [],
		"lastPublishTime": "2023-07-17T13:27:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}